
/* HTML5 Reset style
-----------------------------------*/
 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;    
}
div, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    -webkit-backface-visibility: hidden;    
}
body {
    line-height: 1.2em;
    /* set default font details */
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #333;
	font-weight:normal;
    -webkit-text-size-adjust:none;
    text-size-adjust:none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
a{
 background: transparent;   
}
a, a:active, a:visited  {
    text-decoration: none;
    color: #FF8A00;
    -moz-transition-duration: .3s; -webkit-transition-duration: .3s; transition-duration: .3s;    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}
a[href$='javascript:;']{
    -webkit-touch-callout: none;
}
a:hover {
    color: #FFB800;
}
[title] {
    -webkit-user-select: none;
}
.linkAlt{
    color: #3399cc;
}
.linkAlt:hover{
    color: #2FBAFF;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, textarea {
    color: #333;
    font-size: 15px;
    font-family: lato, Arial, Helvetica, sans-serif;
    outline: none;
    vertical-align: baseline;
}
input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"]{
    border: none;
    padding:6px;
    margin: 0;    
    height: 20px;
    line-height: 20px;
    background: #3f4143;
    border-radius: 4px;
}
/* heading */
 h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.125em;
    font-family: lato, Arial, Helvetica, sans-serif;
}
header h1,
.sideStream h1{
    font-size: 30px;
    color: #333;
}
h2{
    font-size: 36px;
    color: #333;
    font-weight: normal; 
}
    h2 em{
        color: #f72125;
    }
h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
    color: #d8d8d8;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
em{
    font-style: normal;
}

/* layouts */
.grid{
    display: block;
}
.grid-float{
    overflow: hidden;
}
    .grid .grid-2-1{
        width: 50%;
    }
    .grid .grid-3-1{
        width: 320px;        
        display: inline-block;
        margin: 0 12px;
    
    }
    .grid-float .grid-3-1,
    .grid-float .grid-2-1{
        float: left;
    }    
/* rightSplit */
.grid-3-3{
    position: relative;
}
    .grid-3-3 .grid-2-3{
        width: 665px;
    
        float: left;
}
    .grid-3-3 .grid-1-3{
        width: 320px;
        float: right;
    }
/* clear floats */
.group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
/* common css */
 input.isBlured {
    color: #aaa;
}
.hide{
    display: none;    
}
.clear{
    clear: both;
}
.container {
    width: 1010px;
    margin: 0 auto;
    position: relative;
}
.container.fluid{
    width: auto;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.loading,.errorLoading{
    position: fixed;
    z-index: 200000;/*have to set really high because website header is hiding this otherwise*/
    left: 50%;
    height: 36px;
    line-height: 34px;
    padding: 5px 10px 5px 50px;
    color: #fff;
    background: #ff8a00 url(../i/loading.gif) 10px 50% no-repeat;
    font-size: 16px;
    top: 0;
    margin-left: -65px;
}
.errorLoading{
	background: #ff8a00;
	left: 38%;
	width:55%;
	max-width:400px;
	line-height:16px;
	font-size:0.9em;
	height:auto;
	text-align:center;
	padding:5px;
}
#wrapper{
    position: relative;
}
#wrapper > .content{
    background: #fffffe;
    position: relative;
    z-index: 5;
}
/* btns */
.btn, a.btn{
    display: inline-block;
    background: #ff9900;
    color: #fff;
    border-bottom: 4px solid #ff7a00;
    height: 32px;
    line-height: 34px;
    width: 130px;
    text-align: center;
    font-size: 15px;
    border-radius: 6px;
    behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
    position: relative;
}
    .btn:hover{
        background: #ff7a00;
        text-decoration: none;
    
        color: #fff;
}
.btnAlt, a.btnAlt{
    background: #00aeff;
    border-bottom: 4px solid #0096ff;
}
    .btnAlt:hover{
        background: #0096ff;
    
}
.btnGreen, a.btnGreen{
    background: #64c51c;
    border-bottom: 4px solid #46b314;
}
    .btnGreen:hover{
        background: #46b314;

}
#navigation, #main{
    background: #fffffe;
}
#main{
     position: relative;
}
/* header
---------------------------*/
#navigation{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    z-index: 80;
    position: relative;

	/* Issue ID: I-113951 - Set to the higher value than the footer
	so the menu won't cut off when the page contains only small content */
    z-index: 100001;
    left: 0;
    top: 0;
    right: 0;
    background: #fffffe;
    behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
}
#navigation, #navigation > .container{
    height: 94px;
}
.logo{
    position: absolute;
    left: 0;
    top: 27px;
    width: 330px;
    height: 58px;
    background: url(../i/logo.png) 0 0 no-repeat;
}
    .logo a{
        display: block;
        height: 52px;    
        -moz-transition-duration: 0s; -webkit-transition-duration: 0s; transition-duration: 0s;
}
    
#mainNav{
    z-index: 10;
    position: absolute;
    right: 156px;
    top: 50px;
}
    #mainNav .root{
        min-height: 34px;
    }
    #mainNav .root > li{
        margin-left: 8px;
        float: left;        
    
        position: relative;
}
     #mainNav .root > li > .child{
     
        display: none;
}
     /*#mainNav .root > li:hover > .child{
       display: block;
}
    #mainNav .root > li.hover > .child{
       margin-top: 0;  
}*/
     #mainNav .root .child{
         display: block;  
         background: #FF8A00;
         min-width: 80px;
         position: absolute;
         min-width: 100%;
         left: 15px;
}
     
        #mainNav .root > li a{
            padding: 0 10px 12px 15px;
            color: #666;
            -moz-transition-duration: .3s; 
            -webkit-transition-duration: .3s; 
            transition-duration: .3s;
            height: 32px;
            line-height: 32px;        
            display: block;
            min-width: 55px;
            font-weight: bold;
}
        #mainNav .root .child > li{
            padding: 0 10px;
        			width: 175px;
            border-top: 1px solid #FF7A00;  
}
        #mainNav .root .child a{            
        
            padding: 0 6px 0 0;
            margin: 0 -10px;
            text-indent: 15px;
            display: block;
            font-size: 12px;
            min-width: 0;
            font-weight: normal;
            color: #fff;
            white-space: nowrap;
}
        #mainNav .root .child li:hover{
    background: #F00;
        }
        #mainNav .root > li:hover a{      
            text-decoration: none;
}
    
#navigation .btnRegister{
    position: absolute;
    right: 0;
    top: 49px;
}
#navigation .btnMyAcc{
    position: absolute;
    right: 0;
    top: 49px;
    padding-right: 24px;
    width: 106px;
}
    .btnMyAcc i{
        display: inline-block;
        width: 16px;
        height: 9px;
        position: absolute;    
        right: 13px;
        top: 13px;
        background: url(../i/ico-arrow.png) no-repeat;
        background-position: 0 0;      
        transition-duration: 0.3s;        
        cursor: pointer;
}
    .btnMyAcc.isActive i{
        background-position: 0 -12px;              
    }
/* Page Title
---------------------------*/
.pageTitleWrapper {
	height: 65px;
	margin-bottom: 41px;
	background-color: #eeeeee;	
}
	.pageTitleWrapper .pageTitle{
		height: 65px;
		position: relative;
	}
		.pageTitleWrapper .pageTitle h2{
			position: absolute;
			top: 0;
			left: 1px;
			padding: 7px 0 21px 70px;
			line-height: 58px;
			background-image: url(../i/ico-title.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			color: #666666;
			font-size: 30px;
		}
		.pageTitleWrapper .pageTitle h2.overviewPageTitle{
			background-position: 0 0;
		}
		.pageTitleWrapper .pageTitle h2.casePageTitle{
			background-position: 0 -90px;
		}
		.pageTitleWrapper .pageTitle h2.pressReleasePageTitle{
			background-position: 0 -180px;
		}
		.pageTitleWrapper .pageTitle h2.resourcePageTitle{
			background-position: 0 -270px;
		}
		.pageTitleWrapper .pageTitle h2.storyPageTitle{
			background-position: 0 -360px;
		}
		.pageTitleWrapper .pageTitle .backLink{
			float: right;
			font-size: 16px;
			font-weight: 300;
			margin-top: 24px;
		}
/* footer
---------------------------*/
#footer{
    background: #333;
    min-height: 244px;
    color: #959595;
    z-index: 100000;
    position: relative;
}
#footer .container{
    overflow: visible;
    padding-top: 26px;
    min-height: 100px;
}
#footer .updates{    
    margin-bottom: 25px;
}
    #footer .connected h4{
        padding-bottom: 16px;
        float: left;
        margin-right: 20px;
    }
#footer nav,
#footer .rootNode{
    float: left;
    width: 175px;
}    
    #footer nav li,
    #footer .rootNode li{
        min-height: 24px;
        line-height: 24px;    
        font-size: 12px;
}
    #footer nav a,
    #footer .rootNode a{
        color: #a1a1a1;
    }
    #footer nav a:hover,
    #footer .rootNode a:hover{
        color: #fff;
        text-decoration: none;
    }
    #footer h4,
    #footer .rootNode > a{
        line-height: 24px;
        padding-bottom: 6px;
        font-size: 20px;
        color: #D8D8D8;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    
        display: block;
}

#footer .updates .email{
  	width: 223px;
}
#footer .copyright{
    float: left;
    font-size: 15px;
    margin-top: 15px;
}
	#footer .copyright a{
    color: #a1a1a1;
    text-decoration: underline;
    font-weight: normal;
	}
#footer .connected{
    float: right;
}
    #footer .social ul{
        overflow: hidden;
    			margin-top: 2px;
        display: block;
        float: left;
} 
        #footer .social ul li{
            float: left;
								margin-left: 0px;
								height: 35px;
								width: 26px;
								margin-right: 2px;
}
        #footer .social ul li:first-child{
            margin-left: 0;
        }
        #footer .social ul li a{
            display: block;
            text-align: left;
            text-indent: -100px;
            overflow: hidden;
            height: 27px;
								width: 27px;
            background: url(../i/ico-social.png) no-repeat;
            background-position: 0 0;            
            -moz-transition-duration: 0s; -webkit-transition-duration: 0s; transition-duration: 0s;
        }
        #footer .social ul li a:hover{
            background-position: -45px 0px;
        }
        #footer .social ul li .tw{
            background-position: 0 -29px;
        }
        #footer .social ul li .tw:hover{
            background-position: -45px -29px;
        }
        #footer .social ul li .gp{
            background-position: 0 -57px;
        }
        #footer .social ul li .gp:hover{
            background-position: -45px -57px;
        }
        #footer .social ul li .in{
            background-position: 0 -86px;
        }
        #footer .social ul li .in:hover{
            background-position: -45px -86px;
        }
        #footer .updates .email{
            float: left;
            border-radius: 4px 0 0 4px;
            width: 233px;
            vertical-align: top;
            color: #a1a1a1;
            font-size: 15px;
            behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
            box-shadow: none;
}
        #footer .updates .btn{
            float: left;
            border-radius: 0 4px 4px 0;
            height: 32px;
								border-top:0px;
								border-left:0px;
								border-right:0px;
            line-height: 30px;
            width: 104px;
            vertical-align: top;
}

#footer .footerContentSection{
		width: 289px;
		margin-right: 58px;
		float: left;
}
	#footer .footerContentSection.aboutTopCoder{
			margin-right: 0px;
	}
	#footer .title{
			font-size: 18px;
			color: #fff;
	}
	#footer .twFollowIcon{
			height: 13px;
			width: 24px;
	   background: url(../i/footer-twitter-icon.png) no-repeat;
	   background-position: 0 0;
	   display: inline-block;
	}
	#footer .twFollowBtnText{
	   display: inline-block;   
	}
	
#footer a.btn.btnFooter{
	width: 85px;
	height: 26px;
	line-height: 28px;
	border-radius: 4px;
	font-size: 15px;
}
#footer .footerContent{
	margin-top: 27px;
	margin-bottom: 20px;	
}
#footer .footerTwEntry{
	margin-bottom: 20px;	
}
#footer .footerBlogEntry{
	margin-bottom: 20px;	
}
#footer .privacyStmtLink{
	padding-right: 5px;
}
#footer .legalDisclaimerLink{
	padding-left: 5px;
}
#footer .btnSubmitFooter{
	font-size: 15px;
}

/* header / log-in area */

.headerTopRightMenu .actionLogin,
.headerTopRightMenu .actionLogin {
  display: none
}

.headerTopRightMenu{
	float: right;
}
	.headerTopRightMenu .headerTopRightMenuLink{
		float: left;
		padding-left: 8px;
		height: 23px;
		padding-right: 10px;
		padding-top: 10px;
	}
		.headerTopRightMenu .headerTopRightMenuLink.last{
			border-right: none;
			padding-right: 0px;
		}
		.headerTopRightMenu .headerTopRightMenuLink.search{
			padding-right: 12px;
		}
		.headerTopRightMenu .headerTopRightMenuLink.search.active{
			background-color: #00aeff;
		}
		.headerTopRightMenu .headerTopRightMenuLink.search.active .text a{
			color: #fff;
		}
		.headerTopRightMenu .headerTopRightMenuLink .text{
			color: #666;
			font-size: 12px;
			font-weight: bold;
		}
			.headerTopRightMenu .headerTopRightMenuLink .text a{
				color: #666;
			}
			.headerTopRightMenu .headerTopRightMenuLink.logIn .text a{
				color: #00aeff;
			}
			.headerTopRightMenu .headerTopRightMenuLink .text{
				color: #666;
				font-size: 13px;
				font-weight: bold;
				float: left;
			}
			.headerTopRightMenu .headerTopRightMenuLink.logIn .icon{
				height: 13px;
				margin-top: 7px;
				width: 8px;
//				background: url(../i/login-arrow.png) no-repeat;
				background-position: 0 0;
				float: left;
				margin-left: 4px;
			}
			.headerTopRightMenu .headerTopRightMenuLink.search .icon{
				height: 12px;
				width: 11px;
		   background: url(../i/search-icon.png) no-repeat;
		   background-position: 0 0;
		   float: left;
		   margin-top: 3px;
		   margin-right: 4px;
		   margin-left: 3px;
			}
			.headerTopRightMenu .headerTopRightMenuLink.search.active .icon{
		   background: url(../i/search-icon-active.png) no-repeat;
			}
			.headerTopRightMenu .separator{
				height: 17px;
				width: 1px;
		   background-color: #eee;
		   float: left;
		   margin-left: 1px;
		   margin-right: 1px;
		   margin-top: 10px;
			}
			.headerTopRightMenu .separator.beforeSearch{
				margin-right: 0px;
			}

/*! Qtip2 style */

.qtip {
	margin-top: 12px;
}

.qtip .qtip-titlebar{
	color: #FFFFFF !IMPORTANT;
	padding: 5px 10px 5px 10px !IMPORTANT;
}

.qtip .qtip-title, .qtip .qtip-content{
	text-align: center !IMPORTANT;
}

.qtip .qtip-content{
	font-size: 12px;
	padding: 8px;	
}

.qtip .qtip-close .qtip-icon{
	background-position: -42px 0 !IMPORTANT;
}

/*! Design tooltip style */
.qtip-design{
	background-color: #FFFFFF !IMPORTANT;
	border-color: #FFFFFF !IMPORTANT;
	color: #000000 !IMPORTANT;
}

.qtip-design .qtip-titlebar{
	background-color: #0096FF !IMPORTANT;
}

/*! Development tooltip style */
.qtip-develop {
	background-color: #FFFFFF !IMPORTANT;
	border-color: #FFFFFF !IMPORTANT;
	color: #000000 !IMPORTANT;
}

.qtip-develop .qtip-titlebar{
	background-color: #47A911 !IMPORTANT;
}

