/* From Base CSS */

/* clear floats */
.group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}

/**
 * 5.0 Alignment
 * ----------------------------------------------------------------------------
 */

.alignleft {
	float: left;
	margin: 5px 20px 5px 0;
}

.alignright {
	float: right;
	margin: 5px 0 5px 20px;
}

.aligncenter {
	display: block;
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}

/**
 * 7.0 Images
 * ----------------------------------------------------------------------------
 */

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.wp-caption {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.wp-caption.alignleft {
	margin: 5px 10px 5px 0;
}

.wp-caption.alignright {
	margin: 5px 0 5px 10px;
}
.wp-caption.aligncenter {
	margin:0px auto;
	display:block;
}


.wp-caption-dt {
	margin: 0;
}

.wp-caption .wp-caption-text,
.wp-caption-dd {
	color: #666666;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	margin-top:10px;
	margin-bottom: 24px;
	padding:10px;
	border-top:1px #e1e3e3 solid;
	border-bottom:1px #e1e3e3 solid;
}

.mceTemp + ul,
.mceTemp + ol  {
	list-style-position: inside;
}


/* Page Title
---------------------------*/
.pageTitleWrapper {
	height: 65px;
	margin-bottom: 41px;
	background-color: #eeeeee;	
}
	.pageTitleWrapper .pageTitle{
		height: 65px;
		position: relative;
	}
		.pageTitleWrapper .pageTitle h2{
			position: absolute;
			top: 0;
			left: 1px;
			padding: 7px 0 21px 70px;
			line-height: 58px;
			background-image: url(../i/ico-title.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			color: #666666;
			font-size: 30px;
			font-family: ""Source Sans Pro"";
		}
		.pageTitleWrapper .pageTitle h2.overviewPageTitle{
			background-position: 0 0;
		}
		.pageTitleWrapper .pageTitle h2.casePageTitle{
			background-position: 0 -90px;
		}
		.pageTitleWrapper .pageTitle h2.pressReleasePageTitle{
			background-position: 0 -180px;
		}
		.pageTitleWrapper .pageTitle h2.resourcePageTitle{
			background-position: 0 -270px;
		}
		.pageTitleWrapper .pageTitle h2.storyPageTitle{
			background-position: 0 -360px;
		}
		.pageTitleWrapper .pageTitle .backLink{
			float: right;
			font-size: 16px;
			font-weight: 300;
			margin-top: 24px;
		}

/*Start*/
/*Overview page*/
#mainContent.overviewPage{
	margin-top: 48px;
}
.pageContent{
	font-weight: 300;
	line-height:24px;
}
	.pageContent h3{
		font-size: 24px;
		line-height: 24px;
		padding: 21px 0 21px 0;
		color: #0071bc;
		font-weight: normal;
	}
	.pageContent h3:first-child{
		padding-top: 0;
	}
	.pageContent blockquote{
		margin-bottom: 0px;
		padding: 5px 0 0px 50px;
		line-height: 24px;
		background: url(../i/quote-mark.png) 0 0 no-repeat;
		font-size:24px;
		line-height:32px;
		color:#474747;
	}
	.pageContent p{
		line-height: 24px;
		padding-bottom: 24px;
		font-size: 15px;
	}
	.pageContent strong{
		font-weight: bold;
	}
	
	.pageContent em{
		font-style: italic !important;
	}

	.pageContent .grid-3-1{
		float: left;
	}
.csRealResults {
	padding: 7px 0 8px 0;	
	margin: 0 -12px;
	overflow: hidden;
}
	.csRealResults .realResult{
		border: 1px solid #dfe1e1;
		padding: 20px;
		margin-bottom: 10px;
	}
	.csRealResults .realResult{
		border: 1px solid #dfe1e1;
		padding: 20px;	
	}
	.csRealResults .csLogo{
		margin-bottom: 20px;	
	}
	.csRealResults .quoterName{
		padding-bottom: 0;
		font-weight: normal;
		color: #0071bc;
	}
	.csRealResults .quoteTitle{
		padding-bottom: 0;
		font-weight: normal;
	}
/*Right side: Find Related Content*/	
.sideFindRelatedContent{
	margin-bottom: 20px;	
}
.sideFindRelatedContent h3{
	padding: 0 15px;
	line-height: 55px;
	background-color: #474747;
	font-size: 20px;
	color: #ffffff;
}
.sideFindRelatedContent .searchRelatedBox {
	padding: 10px 14px;
	border-left: 1px solid #e1e3e3;
	border-right: 1px solid #e1e3e3;
	border-bottom: 1px solid #f0f1f1;
}
		.sideFindRelatedContent .searchRelatedBox .text {
			border-radius: 4px 0 0 4px;
			border: 1px solid #e1e3e3;
			border-right-width: 0;
			background: #ffffff;
			background-image: url(../i/ios-input-bg-fix.gif);
			box-shadow: none;
			color: #A1A1A1;
			float: left;
			vertical-align: top;
			width: 210px;
			height: 18px;
		}
		.sideFindRelatedContent .searchRelatedBox .btn{
			float: left;
			border-radius: 0 4px 4px 0;
			height: 28px;
			line-height: 30px;
			width: 65px;
			vertical-align: top;
		}
.sideFindRelatedContent .relatedContentList{
	border-left: 1px solid #e1e3e3;
	border-right: 1px solid #e1e3e3;
	border-bottom: 1px solid #e1e3e3;
	padding: 15px;
}
	.sideFindRelatedContent .relatedContentList li{
		margin-top: 20px;
		padding: 0 0 20px 66px;
		position: relative;
		min-height: 55px;
	}
	.sideFindRelatedContent .relatedContentList li:first-child{
		margin-top: 0;
	}
		.sideFindRelatedContent .relatedContentList li .contentThumb{
			display: block;
			height: 55px;
			width: 55px;
			max-height: 55px;
			max-width: 55px;
			position: absolute; 
			top: 0; 
			left: 0;
			cursor: pointer;
		}
		.sideFindRelatedContent .relatedContentList li a.contentLink {
			-moz-transition-duration: .3s; -webkit-transition-duration: .3s; transition-duration: .3s;
			display: block;
			line-height: 18px;
			font-size: 15px;
			color: #0071bc;
        }
		.sideFindRelatedContent .relatedContentList li a.contentLink:hover {
			color: #FFB800;
        }
			.sideFindRelatedContent .relatedContentList li a:hover .contentThumb{
				box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
			}
		.sideFindRelatedContent .relatedContentList li .contentBrief {
			display: block;
			line-height: 15px;
			padding: 4px 0 3px 0;
			font-size: 14px;
			color: #828282;
			font-weight: 300;
        }
        
/*Right side: External Links*/	
.sideExternalLinks{
	margin-bottom: 20px;	
}
.sideExternalLinks h3{
	padding: 0 15px;
	line-height: 55px;
	background-color: #474747;
	font-size: 20px;
	color: #ffffff;
}
.sideExternalLinks .searchRelatedBox {
	padding: 10px 14px;
	border-left: 1px solid #e1e3e3;
	border-right: 1px solid #e1e3e3;
	border-bottom: 1px solid #f0f1f1;
}
		.sideExternalLinks .searchRelatedBox .text {
			border-radius: 4px 0 0 4px;
			border: 1px solid #e1e3e3;
			border-right-width: 0;
			background: #ffffff;
			background-image: url(../i/ios-input-bg-fix.gif);
			box-shadow: none;
			color: #A1A1A1;
			float: left;
			vertical-align: top;
			width: 210px;
			height: 18px;
		}
.sideExternalLinks .externalLinkList{
	border-left: 1px solid #e1e3e3;
	border-right: 1px solid #e1e3e3;
	border-bottom: 1px solid #e1e3e3;
	padding: 15px;
}
	.sideExternalLinks .externalLinkList li{
		margin-top: 20px;
		padding: 0;
		position: relative;
		min-height: 20px;
	}
	.sideExternalLinks .externalLinkList li:first-child{
		margin-top: 0;
	}
		.sideExternalLinks .externalLinkList li a.contentLink {
			-moz-transition-duration: .3s; -webkit-transition-duration: .3s; transition-duration: .3s;
			display: block;
			line-height: 18px;
			font-size: 15px;
			color: #0071bc;
        }
		.sideExternalLinks .externalLinkList li a.contentLink:hover {
			color: #FFB800;
        }
			.sideExternalLinks .externalLinkList li a:hover .contentThumb{
				box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
			}
		.sideExternalLinks .externalLinkList li .contentBrief {
			display: block;
			line-height: 15px;
			padding: 4px 0 3px 0;
			font-size: 14px;
			color: #828282;
			font-weight: 300;
        }
        

/*Right side: sideQuote*/	
.sideQuote{
	margin-bottom: 20px;
	padding: 18px 0 16px 50px;
	line-height: 24px;
	background: url(../i/quote-mark.png) 0 0 no-repeat;
}
.sideQuote p.quoteTxt{
	font-weight: 300;
	font-size: 20px;
	padding-bottom: 11px;
}
.sideQuote p.quoterName{
	font-size: 15px;
	color: #0071bc;
}
/*Right side: Most Recent Challenges*/	
.sideMostRecentChallenges h3{
	background-color: #f1f1f1;
	line-height: 42px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	font-size: 15px;
	padding: 0 15px;
}
.sideMostRecentChallenges ul{
	display: block;
}
.sideMostRecentChallenges li{
	padding: 17px 15px;
	border-bottom: 1px solid #e7e7e7;
}
.sideMostRecentChallenges li.alt{
	background-color: #f7f7f7;
	padding: 14px 15px;
}
.sideMostRecentChallenges li .contestName {
	min-height: 50px;
	display: block;
	padding: 6px 0 0 68px;
	position: relative;
	line-height: 17px;
	color: #666666;
	-moz-transition-duration: .3s; -webkit-transition-duration: .3s; transition-duration: .3s;
}
.sideMostRecentChallenges li .contestName:hover {
	color: #FFB800;
	text-shadow: 0 0 3px #ffdaa2;
}
	.sideMostRecentChallenges li .contestName i {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 57px;
		height: 57px;
		border-radius: 28px;
		background: url(../i/ico-challenge-type.png) 0 0 no-repeat;
		-moz-transition-duration: .3s; -webkit-transition-duration: .3s; transition-duration: .3s;
	}
	.sideMostRecentChallenges li .contestName:hover i{
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
		cursor: pointer;
	}
	.sideMostRecentChallenges li .contestType1 i {
		background-position: 0 0;
		background-color: #7ab800;
	}
	.sideMostRecentChallenges li .contestType2 i {
		background-position: 0 -60px;
		background-color: #02a4f0;
	}
	.sideMostRecentChallenges li .contestType3 i {
		background-position: 0 -120px;
		background-color: #ffae00;
	}
	
