/* link */

a.blueLink {
    color: #0071bc;
    -moz-transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}

a.blueLink:hover {
    /*Bugfix: changed hover state to gold color without shadow, specified in TC contest: 30044120*/
    color: #FFB800;
}

.blogCategoryMenu {
    float: left;
    margin-top: 5px;
}

.blogCategoryMenu a {
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    float: left;
    margin: 0px;
    padding: 0px 10px;
    height: 29px;
    line-height: 29px;
    margin-right: 20px;
    border-radius: 7px;
    position: relative;
    z-index: 0;
}

.blogCategoryMenu a:visited {
  color: #666666;
}

.blogCategoryMenu a:hover, .blogCategoryMenu a.active {
    background-color: #ffae00;
    color: #fff;
}

/* page content wrapper */
.pageContent .contentWrapper, .excerpt {
    line-height: 24px;
}

.excerpt {
    line-height: 20px;
}

.blogPageMainContent {
    padding-top: 40px;
}
/*Bugfix I-112402: ol tags not working for numbered list in blog posts*/
  .blogPageMainContent .pageContent ol {
    list-style: initial;
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0 0 0 15px;
    margin: 5px 0;
  }
  .blogPageMainContent .pageContent ul {
    list-style: initial;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0 0 0 15px;
    margin: 5px 0;
  }
    .blogPageMainContent .pageContent ul li, .blogPageMainContent .pageContent ol li {
      line-height: 20px;
      padding: 0;
      background: none;
    }
.pageTitleWrapper .pageTitle h2.blogPageTitle {
    position: relative;
    background-image: none;
    word-wrap: break-word;
}

.blogIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 86px;
    background-image: url(../i/ico-title-blog.png);
    z-index: 2;
}

/* blog category */
.blogCategoryWrapper {
    clear: both;
    height: 40px;
    background-color: #f8f8f8;
}

.blogCategoryWrapper .innerWrapper {
    padding: 0px 80px 0px 70px;
}

.blogCategoryWrapper a {
    font-family: arial;
    color: #666666;
    font-size: 15px;
}

/* blog content */
.blogTitle {
    font-size: 30px;
    font-weight: normal;
    line-height: 42px;
    color: #0071bc;
    margin-bottom: 10px;
}

.blogDescBox {
    float: left;
    min-height: 25px;
    clear: both;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px #e7e7e7 solid;
    width: 100%;
}

.blogDescBox .postDate {
    background: url(../i/post_date.png) no-repeat center left;
    float: left;
    line-height: 25px;
    padding-left: 25px;
    color: #666666;
}

.blogDescBox .postAuthor {
    float: left;
}

.blogDescBox .postCategory {
    background: url(../i/post-category.png) no-repeat center left;
    float: left;
    margin-left: 10px;
    padding-left: 25px;
    line-height: 25px;
}

.author {
    line-height: 25px;
}

.pageContent .sideQuote {
    float: left;
    clear: both;
}

.pageContent .contentWrapper {
    clear: both;
}

.postTags {
    border-top: 1px #dfe1e1 solid;
    padding: 10px 0px;
    padding-left: 25px;
    background: url(../i/tag.png) no-repeat center left;
}

.postNavWrapper {
    background-color: #f7f7f7;
    border-top: 1px #dfe1e1 solid;
    border-bottom: 1px #dfe1e1 solid;
    padding: 20px 10px;
    overflow: hidden;
}

.postNavBox {
    float: left;
    width: 35%;
}

.postNavBox a {
    display: block;
}

.navLink {
    float: left;
    display: block;
    line-height: 22px;
    height: 22px;
    clear: both;
    margin-top: 5px;
}

.postNavWrapper .rightNav {
    float: right;
    text-align: right
}

.next {
    float: right;
    background: url(../i/next.png) no-repeat center right;
    padding-right: 15px;
}

.prev {
    background: url(../i/prev.png) no-repeat center left;
    padding-left: 15px;
}

.pagingWrapper {
    border-top: 1px #dfe1e1 solid;
    padding-top: 20px;
}

.pagingWrapper .prev {
    padding-left: 20px;
}

.pagingWrapper .next {
    padding-right: 20px;
}

/* blog content end */

/* search box */
.searchBox {
}

.searchBox .text {
    border-radius: 4px 0 0 4px;
    border: 1px solid #e1e3e3;
    border-right-width: 0;
    background: #ffffff;
    background-image: url(../i/ios-input-bg-fix.gif);
    box-shadow: none;
    color: #A1A1A1;
    float: left;
    vertical-align: top;
    width: 210px;
    height: 18px;
}

.searchBox .btn {
    float: left;
    border-radius: 0 4px 4px 0;
    height: 28px;
    line-height: 30px;
    width: 65px;
    vertical-align: top;
}

.searchBox {
    position: relative;
    padding: 10px 0;
    margin-bottom: 10px;
    border-left-width: 0;
    border-right-width: 0;
}

.searchBox .text {
    width: 98%;
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 65px;
    padding-left: 35px;
    border-right: 10px solid transparent;
    background: url(../i/search.png) no-repeat 5px center;
    position: relative;
    z-index: 0;
}

.searchBox .btn {
    position: absolute;
    right: -4px;
    top: 6px;
}

/* search box end */

/* subscribe box */
.subscribeBox {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-left: 1px solid #e1e3e3;
    border-right: 1px solid #e1e3e3;
    border-bottom: 1px solid #f0f1f1;
    width: 100%;
}

.subscribeBox h3 {
    background: url(../i/rss.png) no-repeat 10px center;
    color: #666666;
    background-color: #f1f1f1;
    line-height: 42px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    font-size: 14px;
    padding: 0 15px;
    padding-left: 35px;
}

.subscribeBox .text {
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #e1e3e3;
    background: #ffffff;
    background-image: url(../i/ios-input-bg-fix.gif);
    box-shadow: none;
    color: #A1A1A1;
    vertical-align: top;
    width: 100%;
    position: relative;
    z-index: 0;
}

.subscribeBox .group {
    padding: 15px;
    padding-bottom: 10px;
}

.subscribeBox .showMoreWrapper {
    padding-top: 0px;
}

.subscribeBox .text {
    display: block;
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* subscribe box end */

/* share via */
.shareVia {
    overflow: hidden;
    padding-bottom: 30px;
}

.singleContent .shareVia {
    margin-top: 20px;
}

.shareVia span {
    float: left;
    display: inline-block;
    height: 39px;
    line-height: 39px;
}

.shareVia .shareButton {
    float: left;
    margin-left: 10px;
}

.shareVia .shareButton {
    background-image: url(../i/ico-social-blog-detail.png);
    width: 40px;
    height: 40px;
}

.shareVia .shareButton {
    -webkit-transition: none;
    transition: none;
}

.shareVia .shareButton.small {
    background-image: url(../i/ico-social-blog-main.png);
    width: 22px;
    height: 23px;
}

.shareVia .shareButton.small.shareMail {
    background-position: 0 0;
}

.shareVia .shareButton.small.shareMail:hover {
    background-position: -44px 0px;
}

.shareVia .shareButton.small.shareFb {
    background-position: 0 -27px;
}

.shareVia .shareButton.small.shareFb:hover {
    background-position: -44px -27px;
}

.shareVia .shareButton.small.shareTw {
    background-position: 0 -53px;
}

.shareVia .shareButton.small.shareTw:hover {
    background-position: -44px -53px;
}

.shareVia .shareButton.small.shareGPlus {
    background-position: 0 -76px;
}

.shareVia .shareButton.small.shareGPlus:hover {
    background-position: -44px -76px;
}

.shareVia .shareButton.shareMail {
    background-position: 0 0;
}

.shareVia .shareButton.shareMail:hover {
    background-position: -63px 0px;
}

.shareVia .shareButton.shareFb {
    background-position: 0 -125px;
}

.shareVia .shareButton.shareFb:hover {
    background-position: -63px -125px;
}

.shareVia .shareButton.shareTw {
    background-position: 0 -63px;
}

.shareVia .shareButton.shareTw:hover {
    background-position: -63px -63px;
}

.shareVia .shareButton.shareGPlus {
    background-position: 0 -188px;
}

.shareVia .shareButton.shareGPlus:hover {
    background-position: -63px -188px;
}

/* share via end */

h3.popularPostTitle {
    color: #666666;
    background-color: #f1f1f1;
    line-height: 42px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    font-size: 14px;
    padding: 0 15px;
}

.sideFindRelatedContentNoBorder {
    margin-bottom: 20px;
}

.sideFindRelatedContentNoBorder .relatedContentList {
    border: none;
    padding: 0px;
}

.sideFindRelatedContentNoBorder .relatedContentList li:first-child {
    margin-top: 10px;
}

.sideFindRelatedContentNoBorder .relatedContentList li {
    border-bottom: 1px solid #e1e3e3;
    padding: 0 15px 0 90px;
    padding-top: 0px;
    padding-bottom: 7px;
    margin-top: 10px;
}

.sideFindRelatedContentNoBorder .relatedContentList li .contentThumb {
    left: 15px;
}

.showMoreWrapper {
    padding-top: 10px;
    text-align: center;
}

.showMoreWrapper .btn {
    width: 100px;
}

/* blog item */
.blogItem {
    clear: both;
    overflow: hidden;
    margin-bottom: 30px;
    min-height: 220px;
}

.blogItem .imagePlaceholder {
    position: absolute;
    width: 158px;
    margin-top: 7px;
    z-index: 2;
}

.blogItem .blogRightSection {
    float: left;
    clear: both;
}

.blogItem .contentRight {
    padding-left: 180px;
}

.excerpt {
    margin-bottom: 10px;
}

.blogItem .shareVia {
    float: left;
}

.blogItem .shareVia span {
    height: 21px;
    line-height: 21px;
}

.blogItem .continueReading {
    float: right;
    background: url(../i/next.png) no-repeat center right;
    padding-right: 15px;
    margin-top: 5px;
}

.blogItem .blogTitle {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    color: #0071bc;
}

.blogItem .blogDescBox {
    width: 100%;
    padding: 0px;
    margin: 5px 0px;
    border: none;
    overflow: hidden;
}

.mobiThumbPlaceholder {
    display: none;
}

.showMoreWrapperMobile {
    display: none;
}

.blogMenuMobile {
    display: none;
}

#searchBlogsWrapper .blogItem {
    min-height: 100px;
    margin-bottom: 25px;
}

#searchBlogsWrapper .continueReading {
    float: left;
    margin-top: 10px;
}

/* blog item end */

/* search result item */

.searchResultDescBox .postCategory {
    background: url(../i/post-category.png) no-repeat center left;
    padding-left: 25px;
    line-height: 25px;
    margin-bottom: 10px;
}

.pageContent#searchPageContent h3 {
    padding: 20px 0 10px 0;
    line-height: 30px;
}

.pageContent#searchPageContent .searchResultItem:first-child h3 {
    padding-top: 0px;
}

#searchPageContent .navigation {
    margin-top: 35px;
}

#searchPageContent .navigation .next {
    float: none;
}

/* search result item end */

/* social share */
.socialShare {
    position: fixed;
    top: 215px;
    right: -3px;
    background-color: #d7d7d7;
    width: 30px;
    border: 1px #999999 solid;
    border-radius: 8px 8px 8px 8px;
    padding: 7px 7px 2px 7px;
}

.socialShare a {
    display: block;
    width: 30px;
    height: 32px;
    margin-bottom: 5px;
}

/* categories widget */
.categoriesWidget {
    margin-bottom: 20px;
}

.categoriesWidget h3 {
    background-color: #f1f1f1;
    line-height: 42px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    font-size: 14px;
    padding: 0 15px;
}

.categoriesWidget ul {
    display: block;
}

.categoriesWidget li {
    padding: 7px 15px;
    border-bottom: 1px solid #e7e7e7;
}

.categoriesWidget li.alt {
    background-color: #f7f7f7;
    padding: 3px 15px;
}

.categoriesWidget li .contestName {
    min-height: 17px;
    display: block;
    padding: 3px 0 3px 38px;
    position: relative;
    line-height: 17px;
    color: #666666;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.categoriesWidget li .contestName:hover {
    color: #FFB800;
    text-shadow: 0 0 3px #ffdaa2;
}

.categoriesWidget li .contestName i {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../i/rss-bullet.png) 0 0 no-repeat;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.categoriesWidget li .contestName:hover i {
    cursor: pointer;
}

/* categories widget end */

/* swipe slider */
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

.swipe-wrap > ul {
    float: left;
    width: 100%;
    position: relative;
}

#mySwipe {
    max-width: 100%;
    margin: 0 auto
}

.swipeNavWrapper {
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
}

.swipeNavWrapper a {
    display: inline-block;
    background: url(../i/swipe-nav.png) no-repeat top left;
    margin-right: 5px;
    height: 11px;
    width: 11px;
}

.swipeNavWrapper a.on {
    background: url(../i/swipe-nav-bottom.png) no-repeat top left;
}

/* swipe slider end*/

.subscribeTopWrapper {
    padding: 0px 0px 10px 10px;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    margin-bottom: 25px;
}

.currentCatLink {
    float: left;
    height: 38px;
    line-height: 38px;
    padding-left: 50px;
    font-size: 15px;
    color: #666666;
}

.subscribeTopWrapper .currentCatLink {
    color: #666666;
}

.rssCat {
    background: url(../i/rss-bg.png) no-repeat center left;
}

.searchFoundTitle {
    background: url(../i/search-title.png) no-repeat center left;
}

.subscribeTopWrapper .feedBtn {
    margin-top: 12px;
    color: #01a8e9;
    background: url(../i/rss.png) no-repeat center left;
    padding-left: 25px;
    font-size: 16px;
}

.subscribeTopWrapper .feedBtn:hover {
    text-shadow: 0 0 3px #989898;
}

.showMoreWrapper .morePostLoading {
    background: url(../i/loading.gif) no-repeat top left;
    display: inline-block;
    width: 32px;
    height: 32px;
    display: none;
}

.showMoreWrapper .noMorePostExist {
    display: inline-block;
    display: none;
}

.errorInput {
    color: #ff2413;
}

.subscribeSuccess {
    color: #ffae00;
    text-align: center;
    display: none;
}

.downloadWidget {
    display: block;
    margin: 0px auto 20px auto;
    width: 280px;
    height: 143px;
    background: url(../i/download-bg.png) no-repeat center center;
    padding: 15px 20px;
    text-align: center;
}

.downloadWidget .download {
    color: #035977;
    font-size: 15px;
    clear: both;
    width: 190px;
    margin: 10px auto 35px auto;
    font-size: 44px;
    font-weight: bold;
    display: block;
}

.downloadWidget .para1 {
    color: #035977;
    display: block;
}

.downloadWidget .para2 {
    color: #ff8a00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dd7b3f;
    padding: 5px 0px;
    font-family: "Times New Roman";
    display: block;
}

.downloadWidget .para3 {
    color: #ff8a00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dd7b3f;
    padding-top: 8px;
    font-family: "Times New Roman";
    display: block;
}

.noResult {
    margin-top: 120px;
    min-height: 100px;
    text-align: center;
}

@media (max-width: 1019px) {
    .blogPageMainContent {
        padding-top: 0px;
    }

    .sideFindRelatedContentNoBorder .popularPostTitle {
        text-align: left;
    }

    .subscribeTopWrapper {
        margin-bottom: 0px;
    }

    #searchBlogsWrapper .blogItem {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .postNavWrapper {
        padding: 10px;
    }

    .mobiThumbPlaceholder {
        padding: 10px 0px;
        text-align: center;
        display: block;
    }

    /* blog item */
    .blogItem {
        margin-top: 30px;
        min-height: 0px;
    }

    #blogPageContent .pagingWrapper {
        display: none;
    }

    .blogItem .imagePlaceholder {
        display: none;
    }

    .blogItem .contentRight {
        padding-left: 0px;
    }

    .blogItem .shareVia {
        display: none;
    }

    .blogItem .continueReading {
        float: left;
        background: url(../i/next.png) no-repeat center right;
        margin-top: 0px;
    }

    .showMoreWrapperMobile {
        margin-top: 20px;
        display: block;
        border-top: 1px solid #e7e7e7;
    }

    .showMoreWrapperMobile .morePostLoading {
        background: url(../i/loading.gif) no-repeat top left;
        display: inline-block;
        width: 32px;
        height: 32px;
        display: none;
    }

    .showMoreWrapperMobile .noMorePostExist {
        display: inline-block;
        display: none;
    }

    .blogCategoryWrapper .innerWrapper {
        padding-left: 67px;
    }

    .blogCategoryMenu {
        display: none;
    }

    .blogMenuMobile {
        float: left;
        height: 30px;
        position: relative;
        z-index: 999;
        margin-top: 5px;
        display: block;
    }

    .blogMenuMobile div {
        display: block;
        line-height: 30px;
        height: 30px;
        min-width: 180px;
        padding: 0px 5px;
        cursor: pointer;
        border-bottom: 3px transparent solid;
    }

    .blogMenuMobile div.default {
        display: none;
    }

    .blogMenuMobile div.current {
        display: block;
    }

    .blogMenuMobile .arrow {
        float: right;
        background: url(../i/next.png) no-repeat left center;
        width: 90px;
        height: 30px;
    }

    .blogMenuMobile a {
        font-size: 15px;
        color: #666666;
        line-height: 30px;
        float: left;
        width: 100%;
    }

    .blogMenuMobile li {
        padding: 0px 5px;
        min-width: 180px;
        background-color: #fff;
        clear: both;
        overflow: hidden;
        display: none;
    }

    .blogMenuMobile:hover div {
        border-bottom: 3px #ffae00 solid;
        background-color: #fff;
    }

    .blogMenuMobile:hover div.default {
        display: block;
    }

    .blogMenuMobile:hover div.current {
        display: none;
    }

    .blogMenuMobile:hover li {
        display: block;
    }

    .blogMenuMobile li:hover {
        background-color: #f8f8f8;
    }

    .blogMenuMobile li:hover a {
        color: #ffae00;
    }

    /* blog item end */
    .socialShare {
        display: none;
    }

    .currentCatLink {
        float: left;
        height: 24px;
        line-height: 24px;
        padding-left: 30px;
        font-size: 15px;
        color: #666666;
    }

    .subscribeTopWrapper .currentCatLink {
        color: #666666;
    }

    .rssCat {
        background: url(../i/rss-bullet.png) no-repeat center left;
    }

    .searchFoundTitle {
        background: url(../i/search-title-small.png) no-repeat center left;
    }

    .subscribeTopWrapper .feedBtn {
        float: right;
        margin-top: 5px;
        color: #01a8e9;
        background: url(../i/rss.png) no-repeat center left;
        padding-left: 25px;
    }

    .subscribeTopWrapper .feedBtn:hover {
        text-shadow: 0 0 3px #989898;
    }
}
