.challenge-detail .pageHeading h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #474747;
    padding: 15px 0;
    margin: 10px 0;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
}

.challenge-detail .pageHeading h2 {
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    color: #666666;
    margin: 10px 0;
    overflow: hidden;
}

.challenge-detail .pageHeading h2 span {
    font-weight: normal;
}

#stepBox {
    display: block;
    overflow: hidden;
}

#stepBox .leftColumn {
    display: inline;
    float: left;
    width: 133px;
}

.view-challenge-result #stepBox .leftColumn a {
    opacity: .5;
}

#stepBox .leftColumn a {
    margin-bottom: 10px;
}

#stepBox .middleColumn {
    display: inline;
    float: left;
    width: 550px;
    margin: 0 22px;
}

#stepBox .middleColumn table {
    border-collapse: collapse;
    width: 100%;
}

#stepBox .middleColumn table td {
    border: 1px solid #e7e7e7;
    text-align: center;
    padding: 9px 10px 10px;
}

#stepBox .middleColumn table h2 {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 27px;
}

#stepBox .middleColumn table h3 {
    color: #00AEFF;
    font-size: 24px;
    font-weight: bold;
}

.challenge-detail.develop #stepBox .middleColumn table h3 {
    color: #228400;
}

#stepBox .middleColumn table p {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 2px;
}

#stepBox .middleColumn table .realibilityPara span {
    color: #00AEFF;
    font-size: 18px;
}
/*Bugfix refactored-challenge-details-26: font color adjusted to same as noPrize prizes for N/A value*/
.challenge-detail.develop #stepBox .middleColumn table .noPrize .realibilityPara span {
  color: #d1d1d1;
}
.challenge-detail.develop #stepBox .middleColumn table .realibilityPara span {
    color: #228400;
}
/*Bugfix refactored-challenge-details-26: font color adjusted to same as noPrize prizes for N/A value*/
#stepBox .middleColumn table .noPrize .drPointsPara span {
    color: #d1d1d1;
    font-size: 18px;
}
#stepBox .middleColumn table .drPointsPara span {
color: #228400;
font-size: 18px;
}
#stepBox .rightColumn {
    display: inline;
    float: left;
    width: 283px;
}

.challenge-detail .grid-3-3 {
    float: left;
    width: 728px;
}

.challenge-detail .currentTab-checkpoints .grid-3-3,
.challenge-detail .currentTab-submissions .grid-3-3 {
    float: none;
    width: auto;
}

.challenge-detail .grid-1-3 {
    float: right;
    width: 282px;
}

.challenge-detail .currentTab-checkpoints .grid-1-3,
.challenge-detail .currentTab-submissions .grid-1-3 {
    display: none;
}

#stepBox .rightColumn .nextBox {
    position: relative;
    width: 283px;
}

#stepBox .rightColumn .nextBox .nextBoxContent,
#stepBox .rightColumn .nextBox .allDeadlineNextBoxContent {
    background: #01ccff;
    border: 1px solid #01b3f0;
    margin: 0 auto;
    padding: 10px 13px;
    height: 82px;
}

.challenge-detail.develop #stepBox .rightColumn .nextBox .nextBoxContent,
.challenge-detail.develop #stepBox .rightColumn .nextBox .allDeadlineNextBoxContent {
    background: #8ed25c;
    border-color: #46b314;
}

#stepBox .rightColumn .nextBox .allDeadlineNextBoxContent {
    padding: 6px;
    height: 90px;
}

#stepBox .rightColumn .nextBox .allDeadlineNextBoxContent p {
    color: #FFFFFE;
    font-size: 12px;
    margin-bottom: 5px;
}

#stepBox .rightColumn .nextBox .allDeadlineNextBoxContent label {
    display: block;
    float: left;
    font-weight: bold;
    text-align: left;
    width: 150px; /* Issue ID: I-107591 - adjust the value so all the deadlines are displayed correctly. Previous value: 155px */
}

#stepBox .rightColumn .nextBox .nextDTitle {
    color: #0081a3;
    display: block;
    font-size: 22px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#stepBox .rightColumn .nextBox .CEDate {
    color: #0081a3;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;

}

.challenge-detail.develop #stepBox .rightColumn .nextBox .nextDTitle, #stepBox .rightColumn .nextBox .CEDate {
    color: #47692e;
}

#stepBox .rightColumn .nextBox .icoTime {
    height: 43px;
    display: block;
    padding-left: 60px;
    padding-top: 10px;
    background: url("../i/ico-time.png") no-repeat 0 0;
}

.challenge-detail.develop #stepBox .rightColumn .nextBox .icoTime {
    background: url("../i/ico-time-develop.png") no-repeat 0 0;
}

#stepBox .rightColumn .nextBox .timeLeft {
    color: #FFFFFE;
    font-size: 30px;
    line-height: 30px;
    margin-left: 20px;
}

#stepBox .rightColumn .nextBox .timeLeft small {
    color: #FFFFFE;
    font-size: 13px;
    margin-right: 16px;
}

#stepBox .rightColumn .nextBoxGray .nextBoxContent {
    background: #CACACA;
    height: 66px;
}

#stepBox .rightColumn .nextBoxGray.nextDTitle {
    color: #252525;
}

#stepBox .rightColumn .nextBoxGray .CEDate {
    color: #252525;
}

#stepBox .rightColumn .deadlineBox {
    position: relative;
    width: 283px;
}

#stepBox .rightColumn .deadlineBox .deadlineBoxContent {
    background: #b7b7b7;
    border: 1px solid #959595;
    border-top: none;
}

#stepBox .rightColumn .deadlineBox .deadlineBoxContent a {
    font-size: 14px;
    color: #FFFFFE;
}

#stepBox .rightColumn .deadlineBox .allDeadlinedeadlineBoxContent,
#stepBox .rightColumn .deadlineBox .nextDeadlinedeadlineBoxContent {
    padding: 5px 13px;
}

.challenge-detail .tabNav {
    padding-top: 0;
    padding-bottom: 10px;
    clear: both;
    overflow: hidden;
}

.challenge-detail .tabNav ul {
    padding: 0;
    margin-left: -10px;
}

.challenge-detail .tabNav ul .link {
    margin-left: 10px;
}

.challenge-detail .tabNav li {
    float: left;
    border-left: 1px solid #D0D0D1;
    height: 16px;
    line-height: 18px;
}

.challenge-detail .tabNav li:first-child {
    border-left: 0;
}

.challenge-detail .tabNav .link {
    margin: 0 10px;
}

.challenge-detail .tabNav .link.active,
.challenge-detail .tabNav .link.active:hover {
    color: #666;
    cursor: default;

}

.firstTabNav ul {
    width: 236px;
}

.secondTabNav ul {
    width: 180px;
}

.challenge-detail .tableWrap h1 {
    color: #00aeff;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
    padding-bottom: 8px;
}

.challenge-detail.develop .tableWrap h1 {
    color: #228400;
}

.challenge-detail .tableWrap h2 {
    color: #000;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.challenge-detail .tableWrap h3 {
    color: #ed1c24;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 0px;
}

.challenge-detail .tableWrap p {
    color: #797979;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
}

.challenge-detail .tableWrap strong {
    color: #000;
}

.challenge-detail .tableWrap ul {
    margin-left: 0px;
    padding: 0;
    margin-bottom: 10px;
    width: auto;
    color: #797979;
    overflow: hidden;
}

.challenge-detail .tableWrap ul li {
    float: none;
    display: block;
    font-size: 13px;
    line-height: 18px;
    border: none;
    height: auto;
    padding-left: 12px;
    background: url("../i/bullet.png") no-repeat 0 7px;
    color: #797979;
}

/* Issue ID: I-114272 - Add style for ol and li */
.challenge-detail .tableWrap ol {
    margin-left: 16px;
    padding: 0px;
    margin-bottom: 10px;
    width: auto;
    color: #797979;
}

.challenge-detail .tableWrap ol li {
    float: none;
	list-style-type: decimal;
    list-style-position: outside;
    font-size: 13px;
    line-height: 18px;
    border: none;
    height: auto;
    padding-left: 0px;
    color: #797979;
}

.challenge-detail .tableWrap p a {
    word-wrap: break-word;
}

.challenge-detail .tabNav {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
}

.challenge-detail .tableWrap {
    padding-right: 20px;
}

.challenge-detail .currentTab-checkpoints .tableWrap,
.challenge-detail .currentTab-submissions .tableWrap {
    padding-right: 0;
}

.challenge-detail .topRightTitle {
    display: block;
    width: 100%;
}

.challenge-detail .topRightTitleAlt {
    display: none;
}

.challenge-detail .currentTab-checkpoints .topRightTitleAlt {
    display: block;
}

.challenge-detail .tableWrap ul li {
    background: none;
}


.challenge-detail .topRightTitle a {
    font-size: 16px;
    height: 26px;
    line-height: 20px;
    float: right;
    clear: both;
    padding-left: 32px;
    background: url("../i/ico-contest-forum.png") no-repeat 0 0;
}

.challenge-detail .columnSideBar {
    display: block;
    clear: both;
    width: 100%;
    background: #f7f7f7;
    border: 1px solid #e1e1e1;
    margin-top: 26px;
}

.challenge-detail .columnSideBar .sidebar {
    display: block;
    overflow: hidden;
}

#rightTitleOnFull {
    display:none;
    position:absolute;
    top:-0px;
    right:0px;
    width:200px;
}
#rightTitleOnFull a{
    font-size: 16px;
    height: 26px;
    line-height:20px;
    float:right;
    clear:both;
    padding-left:32px;
    background: url("../i/ico-contest-forum.png") no-repeat 0 0;
 }


.challenge-detail .columnSideBar .inner {
    padding: 10px 10px 0 10px;
}

.challenge-detail .columnSideBar h3 {
    color: #00aeff;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #e7e7e7;
    padding: 11px 10px;
    text-transform: uppercase;
}

.challenge-detail.develop .columnSideBar h3 {
    color: #228400;
}

/*.challenge-detail .columnSideBar ul{
	transform:none!important;
	transition:none!important;
	-webkit-transform:none!important;
	-webkit-transition:none!important;
	width:100%!important;
}*/

.challenge-detail .columnSideBar p strong {
    color: #000;
}

.reviewStyle p {
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    width: 100% !important;
}

.reviewStyle p a.tooltip {
    display: inline-block;
    background: #ff8a00 url("../i/question.png") no-repeat 3px 2px;
    border: 1px solid #b56200;
    height: 12px;
    width: 12px;
    text-align: center;
    border-radius: 3px;
    behavior: url(./css/PIE.htc);
    position: relative;
    z-index:2;
}

.reviewStyle p a.tooltip:hover {
    background: #ffb800 url("../i/question.png") no-repeat 3px 2px;
    text-decoration: none;
    color: #fff;
}

.challenge-detail.develop .reviewStyle p a.tooltip {
    border-color: #47a911;
    background: #64c51c url("../i/question-develop.png") no-repeat 3px 2px;
}

.challenge-detail.develop .reviewStyle p a.tooltip:hover {
    background-color: #64d51c;
}

.tip {
    background: none repeat scroll 0 0 #FFFFFD;
    display: block;
    position: absolute;
    width: 210px;
    z-index: 100;
}

.tip .tipHeader {
    background: #F7F7F7;
    border: 1px solid #E1E1E1;
    clear: both;
    display: block;
    border-bottom: none;
}

.tip .tipHeader h2 {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 0 10px;
    text-align: left;
}

.tip .tipBody {
    font-size: 12px;
    margin: 0;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #E1E1E1;
}

.tip .tipBody ul {
    margin: 5px 0;
    padding: 0;
}

.tip .tipBody ul li {
    line-height: 18px;
    list-style: none outside none;
    margin: 0;
    padding: 5px 18px 5px 10px;
    text-align: left;
}

.tip .tipBody ul li a, .tip .tipBody ul li a.reviewerName {
    font-size: 12px;
    text-decoration: none;
}

.tip .tipBody ul li a:hover, .tip .tipBody ul li a.reviewerName:hover {
    text-decoration: underline;
}

.tip .tipBody ul li a.reviewerName {
    background-position: 0 center;
    background-repeat: no-repeat;
    display: inline;
    float: left;
    font-weight: bold;
    padding: 0 0 0 34px;
    text-align: left;
    width: 80px;
}

.tip .tipBody ul li a.reviewScore {
    float: right;
}

.reviewStyle {
    margin: 0 0 12px;
    width: 100%;
}

.reviewStyle h3 {
    color: #B30000;
    font-family: "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 0 0 6px;
}

.contestLinks p, .umltoolLinks p {
    display: block;
    overflow: hidden;
    border: none;
    height: auto;
    padding-left: 12px;
    font-size: 13px;
    background: url("../i/bullet-orange.png") no-repeat 0 7px;
}

.columnSideBar {
    font-size: 13px;
}

.forumFeed .inner {
    padding-bottom: 10px !important;
}

.forumFeed .forumItemWrapper {
    display: block;
    padding: 10px;
}

.forumFeed .forumItem {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #e7e7e7;
    font-size: 13px;
}

.forumFeed .forumTitle {
    font-weight: bold;
}

.forumFeed .forumInfo {
    font-size: 11px;
}

.challenge-detail .btnRegister {
    background: #00AEFF !important;
    border-bottom: 4px solid #7fcaff !important;
    text-align: left !important;
    line-height: 12px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    overflow: hidden;
    display: block;
}

.challenge-detail .btnRegister:hover {
    background: #7fd6ff !important;
}

.challenge-detail .btnRegister span {
    float: left;
    width: 21px;
    height: 37px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #7fcaff;
    margin-left: 4px;
    margin-right: 4px;
    background: url("../i/arrow-button.png") no-repeat 0 0;
}

.challenge-detail .btnRegister strong {
    float: left;
    height: 100%;
    width: 77%;
    margin-top: 4px !important;

}

.challenge-detail .btnAction {
    background: #00aeff !important;
    border-bottom: 4px solid #0096ff !important;
    text-align: left !important;
    line-height: 12px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    overflow: hidden;
    display: block;
}

.challenge-detail .btnAction:hover {
    background: #0096ff !important;
}

.challenge-detail.develop .btnAction, .challenge-detail.design .btnAction {
    opacity: 1.0 !important;
}

.challenge-detail.develop .btnAction {
    background: #64c51c !important;
    border-bottom: 4px solid #46b314 !important;
}

.challenge-detail.develop .btnAction:hover {
    background: #46b314 !important;
}

.challenge-detail .btnAction.disabled {
    pointer-events: none;
    background: #cccccc !important;
    border-bottom: 4px solid #cccccc !important;
}

.challenge-detail .btnAction span {
    float: left;
    width: 21px;
    height: 37px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #00aeff;
    margin-left: 4px;
    margin-right: 4px;
    background: url("../i/arrow-button.png") no-repeat 0 0;
}

.challenge-detail.develop .btnAction span {
    color: #64c51c;
}

.challenge-detail .btnAction strong {
    float: left;
    height: 100%;
    width: 77%;
    margin-top: 4px !important;

}

.btnMyAcc span {
    background: url("../i/ico-arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 9px;
    position: absolute;
    right: 13px;
    top: 13px;
    transition-duration: 0.3s;
    width: 16px;
}

.scroll-pane {
    display: block;
    width: 100%;
    height: 400px;
    overflow: auto;
    border: 1px solid #e7e7e7;
    background: #fff;
}

.fifty {
    width: 50%;
}

/* Studio contests */
.twenty {
    width: 20%;
}

.scPoints span {
    color: #00AEFF;
    font-size: 18px;
}

#stepBox .rightColumn .nextBox .allDeadlineNextBoxContent.studio {
    height: 90px;
}

#stepBox .rightColumn .nextBox .allDeadlineNextBoxContent.studio label {
    width: 150px; /* Issue ID: I-107591 - adjust the value so all the deadlines are displayed correctly. Previous value: 155px */
}

.challenge-detail .tabNav span.inactive {
    color: #aaa;
    cursor: default;
    margin: 0 10px;
}
/*Bugfix for refactored-challenge-details-26: set min-width to fix cut-off of more-payments element in some challenges*/
.morePayments {
    min-width: 19px;
    background: url("../i/more-payments.png") no-repeat;
    background-color: #fafafa;
}

#stepBox .middleColumn.studio table p {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}
/*Bugfix for refactored-challenge-details-26: more specific CSS selector for develop challenges to override previous styles for prizes*/
#stepBox .middleColumn table .noPrize h2, #stepBox .middleColumn table .noPrize h3,
.challenge-detail.develop #stepBox .middleColumn table .noPrize h2, .challenge-detail.develop #stepBox .middleColumn table .noPrize h3{
    color: #d1d1d1;
}

#viewRegistrant table {
    width: 100%;
}

#viewRegistrant table tr th {
    background-color: #f1f1f1;
    height: 35px;
    padding-top: 12px;
    font-size: 12px;
}

#viewRegistrant table tr td {
    height: 30px;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 12px;
}

#viewRegistrant table tr.even td {
    background-color: #f1f1f1;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

#viewRegistrant table tr .handleColumn {
    width: 25%;
}

#viewRegistrant table tr td.handleColumn {
    font-size: 14px;
}

#viewRegistrant table tr .ratingColumn {
    width: 13%;
    text-align: center;
}

#viewRegistrant table tr .reliabilityColumn {
    width: 12%;
    text-align: center;
}

#viewRegistrant table tr .regDateColumn {
    width: 25%;
    text-align: center;
}

#viewRegistrant table tr .subDateColumn {
    width: 25%;
    text-align: center;
}

.registrantSection {
    padding: 15px 10px;
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
    margin-top: 10px;
}

.registrantSection .registrantSectionRow {
    height: 24px;
    line-height: 24px;
}

.registrantSection .registrantLabel {
    width: 125px;
    float: left;
    font-size: 13px;
}

.registrantSection .registrantField {
    float: left;
    font-size: 13px;
}

.registrantSection .registrantHandle {
    font-weight: bold;
    font-size: 13px;
}

.designFirstTabNav ul {
    width: 225px;
}

.designSecondTabNav ul {
    width: 275px;
}

/* addthis.com styles */
.addthis_32x32_style .addthis_button_print .at300bs,
.addthis_32x32_style .addthis_button_facebook .at300bs,
.addthis_32x32_style .addthis_button_twitter .at300bs,
.addthis_32x32_style .addthis_button_email .at300bs,
.addthis_32x32_style .addthis_button_google .at300bs,
#toolbox .addthis_32x32_style .at15nc.at300bs.at15t_print,
#toolbox .addthis_32x32_style .at15nc.at300bs.at15t_facebook,
#toolbox .addthis_32x32_style .at15nc.at300bs.at15t_twitter,
#toolbox .addthis_32x32_style .at15nc.at300bs.at15t_email,
#toolbox .addthis_32x32_style .at15nc.at300bs.at15t_google {
    background: url("../i/share-buttons.png") no-repeat left;
}

.addthis_32x32_style .at15t_print,
#main .addthis_32x32_style .at15t_print {
    background-position: 0 -122px !important;
}

.addthis_32x32_style .at15t_facebook,
#main .addthis_32x32_style .at15t_facebook {
    background-position: 0 0 !important;
}

.addthis_32x32_style .at15t_twitter,
#main .addthis_32x32_style .at15t_twitter {
    background-position: 0 -80px !important;
}

.addthis_32x32_style .at15t_email,
#main .addthis_32x32_style .at15t_email {
    background-position: 0 -40px !important;
}

.addthis_32x32_style .at15t_google,
#main .addthis_32x32_style .at15t_google {
    background-position: 0 -122px !important;
}

.addthis_counter {
    -webkit-transition: none;
    transition: none;
}

@media (max-width: 1019px) {
    .challenge-detail .pageHeading h1 {
        font-size: 18px;
        line-height: 24px;
        padding: 8px 0;
    }

    .challenge-detail .tabNav ul {
        display: block;
        margin: 0 auto;
    }

    #stepBox .middleColumn {
        width: 100%;
        margin: 0;
    }

    #stepBox .container {
        margin: 0;
    }

    .challenge-detail .grid-3-3 {
        width: 100%;
    }

    .challenge-detail .topRightTitleAlt,
    .challenge-detail .currentTab-checkpoints .topRightTitleAlt {
        display: none;
    }

    .challenge-detail .topRightTitle a {
        float: none;
        display: block;
        margin: 0 auto;
        width: 180px;
    }

    #stepBox .rightColumn {
        float: right;
    }

    #stepBox .middleColumn {
        display: block;
        clear: both;
        margin-top: 10px;
    }

    #mainContent.splitLayout .sideStream {
        margin-bottom: 20px;
        width: 100% !important;
    }

    .scroll-pane {
        width: 100%;
    }

    #stepBox .leftColumn {
        width: 128px;
    }

    .view-challenge-result.develop #stepBox .leftColumn {
        width: auto;
        float: none;
        display: block;
        text-align: center;
    }

    .view-challenge-result.develop #stepBox .leftColumn a {
        display: inline-block;
    }

    .view-challenge-result.develop #stepBox .leftColumn a:first-child {
        margin-right: 14px;
    }

    .btnRegisterDeac, .btnSubmit {
        width: 130px;
    }

    #stepBox .rightColumn,
    #stepBox .rightColumn .nextBox,
    #stepBox .rightColumn .deadlineBox {
        width: auto;
    }

    #stepBox .rightColumn .nextBox .nextBoxContent,
    #stepBox .rightColumn .nextBox .allDeadlineNextBoxContent {
        padding: 5px;
    }

    #stepBox .rightColumn .nextBox .icoTime {
        background: url("../i/ico-time-phone.png") no-repeat 0 10px;
        height: 43px;
        padding-left: 35px;
        padding-top: 10px;
    }

    .challenge-detail.develop #stepBox .rightColumn .nextBox .icoTime {
        background: url("../i/ico-time-develop-phone.png") no-repeat 0 10px;
    }

    #stepBox .rightColumn .nextBox .nextDTitle {
        font-size: 16px;
        margin-bottom: 0px;
    }

    #stepBox .rightColumn .nextBox .CEDate {
        font-size: 14px;
        margin-bottom: 5px;
    }

    #stepBox .rightColumn .nextBox .timeLeft {
        font-size: 20px;
        line-height: 30px;
        margin-left: 3px;
    }

    #stepBox .rightColumn .deadlineBox .allDeadlinedeadlineBoxContent,
    #stepBox .rightColumn .deadlineBox .nextDeadlinedeadlineBoxContent {
        padding: 5px;
    }

    #stepBox .rightColumn .nextBox .timeLeft small {
        margin-right: 2px;
    }

    #stepBox .rightColumn .deadlineBox .deadlineBoxContent a {
        font-size: 13px;
    }

    #stepBox .rightColumn .nextBox .allDeadlineNextBoxContent p {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 10px;
    }

    #stepBox .rightColumn .nextBox .allDeadlineNextBoxContent label {
        display: block;
        width: 70px;
    }

    #mainContent.splitLayout .mainStream {
        width: 100%;
    }

    .columnSideBar .slider .bx-controls {
        margin: 0 0 10px 0;
        text-align: center;
    }

    .columnSideBar .slider .bx-controls .bx-pager-item {
        display: inline;
        text-align: center;
        overflow: hidden;

        max-width: 21px;
        vertical-align: top;
        height: 11px;
    }

    .columnSideBar .slider .bx-controls .bx-pager-item a {
        display: inline-block;
        background: url(../i/orange-dots.png) no-repeat;
        text-indent: -100px;
        background-position: 0 0;
        width: 11px;
        height: 11px;
        margin: 0 5px;
        -moz-transition-duration: 0s;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        overflow: hidden;
    }

    .columnSideBar .slider .bx-controls .bx-pager-item a.active,
    .columnSideBar .slider .bx-controls .bx-pager-item a:hover {
        background-position: 0 -20px;
    }

    /* Studio */
    .prizeSlider .bx-controls {
        margin: 10px 0 10px 0;
        text-align: center;
    }

    .prizeSlider .prizeWrapper {
        float: left;
    }

    .prizeSlider .bx-controls .bx-pager-item {
        display: inline;
        text-align: center;
        overflow: hidden;

        max-width: 21px;
        vertical-align: top;
        height: 11px;
    }

    .prizeSlider .bx-controls .bx-pager-item a {
        display: inline-block;
        background: url(../i/orange-dots.png) no-repeat;
        text-indent: -100px;
        background-position: 0 0;
        width: 11px;
        height: 11px;
        margin: 0 5px;
        -moz-transition-duration: 0s;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        overflow: hidden;
    }

    .prizeSlider .bx-controls .bx-pager-item a.active,
    .prizeSlider .bx-controls .bx-pager-item a:hover {
        background-position: 0 -20px;
    }

    .btnRegisterDeac, .btnSubmit {
        font-size: 11px !important;
        width: 118px !important;
    }

    .btnRegisterDeac strong,
    .btnSubmit strong {
        width: 72%;
    }

    .scroll-pane {
        height: 100px !important;
        width: 100%;
    }

    #stepBox .middleColumn table .realibilityPara {
        text-transform: capitalize !important;
    }

    #stepBox .middleColumn table .realibilityPara span,
    #stepBox .middleColumn table .drPointsPara span {
        display: block;
    }

    #stepBox .rightColumn .nextBox .allDeadlineNextBoxContent {
        width: 155px;
        height: 100px;
    }

    #stepBox .rightColumn .nextBox .allDeadlineNextBoxContent p {
        float: left;
        width: 49%;
        padding-right: 1%;
    }

    #stepBox .rightColumn .nextBox .allDeadlineNextBoxContent p.moveRight {
        clear: left;
    }

    .challenge-detail #viewRegistrant.tableWrap {
        padding-right: 0px;
    }

    #stepBox .rightColumn .nextBox .nextBoxContent, #stepBox .rightColumn .nextBox .allDeadlineNextBoxContent {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 22px;
        padding-bottom: 22px;
    }
}

/*new css for topcoder view checkpoints and view submission */
/*disabled style for tab*/
/* dataChanges */
#submissions .pager {
    font-size: 16px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;

    min-height: 20px;
    overflow: hidden;
}

#submissions .noBorderPager {
    border-bottom: none;
}

#submissions .pager .lt {
    float: left;
}

#submissions .pager .rt {
    float: right;

    text-align: right;
    overflow: hidden;
}

#submissions .pager .nextLink {
    display: inline-block;
    padding-right: 20px;
    position: relative;
    padding-left: 40px;
    float: left;
}

#submissions .pager .nextLink i {
    top: 2px;
}

#submissions .pager .prevLink {
    display: inline-block;
    padding-left: 20px;
    position: relative;
    float: left;
}

#submissions .pager .prevLink.hide {
    display: none;
}

#submissions .pager .prevLink i {
    top: 2px;
}

.challenge-detail #submissions h1 {
    text-transform: uppercase;
}

.view-challenge-result.challenge-detail .tabNav ul .disabled,
.view-challenge-result.challenge-detail .tabNav ul .disabled:visited,
.view-challenge-result.challenge-detail .tabNav ul .disabled:hover {
    color: #e1e1e1;
    cursor: default;

}

.informationView {
    border: 1px solid #e1e1e1;
    border-bottom: none;
    border-top: none;
    background: #f7f7f7;

}

.informationViewAlt {
    border-bottom: 1px solid #e1e1e1;
}

.basicInfo {
    border-bottom: 1px solid #e1e1e1;
    height: 39px;
    line-height: 39px;
    padding: 0 20px;
    font-size: 15px;
}

.informationView .subNum {
    font-size: 15px;
    font-weight: bold;
    color: #00aeff;
    display: inline-block;
    padding-right: 25px;

}

.informationView .handle {
    font-size: 15px;
}

.informationView .meataAction {
    float: right;
    color: #666666;
}

.informationView .meataAction .metaDate {
    padding-right: 29px;
    display: inline-block;
}

.informationView .meataAction .viewSubmission {
    color: #333333;
}

.informationView .meataAction .download {
    color: #333333;
}

.viewNum {
    display: inline-block;
    padding-right: 29px;
    color: #333;
}

#submissions .informationView .meataAction .download,
#submissions .informationView .meataAction .download:visited {
    background: url(../i/winner-actions.png) no-repeat 0 bottom;
    padding-left: 29px;
    height: 23px;
    font-size: 14px;
    display: inline-block;
    color: #ff8a00;
    line-height: 23px;
}

#submissions .informationView .meataAction .back{
    margin-left: 29px;
}

#submissions .informationView .meataAction .viewSubmission,
#submissions .informationView .meataAction .viewSubmission:visited {
    background: url(../i/winner-actions.png) no-repeat 0 0;
    padding-left: 29px;
    height: 23px;
    font-size: 14px;
    margin-right: 8px;
    position: relative;
    display: inline-block;
    line-height: 23px;
}

.informationView .meataAction .download:hover {
    opacity: .6;
    color: #FF8A00;
}

.informationView .meataAction .viewSubmission:hover {
    opacity: .6;
    color: #FF8A00;
}

.furtherInfo {
    padding: 14px 20px;
    font-size: 13px;
}

.challenge-detail #submissions .furtherInfo p {
    padding-bottom: 0;
    margin-bottom: 0;
    color: #333;
    line-height: normal;
}

.informationView h6 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #00aeff;
}

.informationView .commentInfo {
    float: left;
    color: #333;
    width: 505px;
    padding-right: 45px;
}

.submissionsR .informationView .commentInfo {
    padding-bottom: 10px;
    width: 100%;
}

.informationView label {
    color: #333;
    font-weight: bold;
}

.informationView .fontInfo {
    float: left;
    width: 150px;
}

.informationView .stockArtInfo {
    float: left;
    width: 260px;
}

/*design submission*/
.submissionShowcase {
    border: 1px solid #e7e7e7;
}

.submissionsR .submissionShowcase {
    padding-bottom: 15px;
}

.submissionShowcaseAlt {
    border-top: none;
}

.submissionShowcase .scrollPane {
    border: none;
    width: 227px;
    float: left;
    height: 680px;
    padding-top: 18px;
    overflow: scroll;
    overflow-x: hidden;
}

.submissionsR .submissionShowcase .scrollPane {
    height: 510px;
}

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    top: 20px;
    overflow: hidden;
    right: 0;
    width: 5px;
    height: 640px;
}

.submissionsR .jspVerticalBar {
    height: 470px;
}

.jspCap {
    display: none;
}

.jspTrack {
    background: #fff;
    position: relative;
}

.jspDrag {
    background: #e1e1e1;
    border-radius: 5px;
    position: relative;
    bottom: 20px;
    left: 0;
    cursor: pointer;
}

#showSubmission {
    position: absolute;
    width:auto;
    height:auto;
}

#showSubmission img {
    display: block;
    width:auto;
    height:auto;
    max-width:100%;
}

#showSubmission .content {
    text-align: center;
    padding-top: 37px;
}

#showSubmission .btnClose {
    top: 9px;
}

.challenge-detail #submissions .submissionSingleView {
    margin-top:-10px;
}

.challenge-detail #submissions .submissionShowcaseList {
    padding-left: 19px;
}

.challenge-detail #submissions .submissionShowcaseList li {
    padding: 0;
    margin: 0;
    margin: 5px 0;
}

.challenge-detail #submissions .submissionShowcaseList li a,
.challenge-detail #submissions .submissionShowcaseList li a:visited {
    width: 201px;
    padding-top: 2px;
    padding-left: 3px;
    display: block;
    margin: 5px 0;
    height: 157px;
}

.challenge-detail #submissions .submissionShowcaseList li a:hover {
    background: url(../i/thumb-hover.png) no-repeat 0 0;
}

.challenge-detail #submissions .submissionShowcaseList li a.active,
.challenge-detail #submissions .submissionShowcaseList li a.active:visited,
.challenge-detail #submissions .submissionShowcaseList li a.active:hover {
    background: url(../i/thumb-current.png) no-repeat 0 0;
}

.submissionBig,
.submissionBigMock {
    width: 740px;
    float: left;
    padding: 22px 20px 10px 20px;
}

.submissionsR .submissionBig,
.submissionsR .submissionBigMock {

    width: 435px;
}

.challenge-detail #submissions .fullScreenBtn {
    width: auto;
    background-image: url(../i/fullViewIcon.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-right: 20px;
    padding-left: 40px;
}

.submissionBig p,
.submissionBigMock p {
    padding-top: 12px;
    text-align: center;
}

/*design submission not viewable*/
.notView {
    color: #006cff;
    font-size: 30px;
    padding-top: 160px;
    margin-bottom: 160px;
    margin-top: 160px;
    text-align: center;
    background: url(../i/notViewIcon.png) no-repeat center 0;
}

.challenge-detail #submissions .notView p {
    font-size: 14px;
    color: #666666;
    padding-top: 15px;
}

.notView2 {
    color:#006cff;
    font-size:30px;
    padding-top:160px;
    margin-bottom:160px;
    text-align:center;
}

.challenge-detail #submissions .notView2 p {
    font-size:14px;
    color:#000000;
    padding-top:15px;
}

.challenge-detail #submissions ul.submissionList {
    margin-top: 5px;
    float: left;
    margin-bottom: 0;
    display: inline;
}

.challenge-detail #submissions .submissionList li {
    border: 1px solid #dfe1e1;
    display: inline;
    margin: 0;
    padding: 0;
    width: 225px;
    background: #f7f7f7;
    padding-bottom: 5px;
    height: 280px;
    float: left;
    margin-right: 34px;
    margin-bottom: 25px;
}

.challenge-detail #submissions.submissionsR .submissionList li {
    margin-right: 9px;
}

.challenge-detail #submissions .submissionList li:nth-child(4n+4) {
    margin-right: 0;
}

.challenge-detail #submissions li p {
    text-align: left;
    color: #666666;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}

.challenge-detail #submissions li p {
    width: 45%;
    float: left;
    display: inline-block;
    padding: 3px 6px;
    padding-right: 0;
}

.challenge-detail #submissions li p.submissionInfo {
    width: 50%;
    float: left;
    text-align: right;
    padding-left: 0;
    padding-right: 3px;

}

.challenge-detail #submissions li p .metaDate {
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 5px;
    display: block;
}

.challenge-detail #submissions li p .subNum {
    display: block;
    padding-bottom: 5px;
}

.challenge-detail #submissions li p .handle {
    font-size: 12px;
    font-weight: normal;
}

.challenge-detail #submissions .submissionList li img {
    width: 225px;
    height: 226px;
    display: block;
}

#submissions .viewSubmission {
    display: inline-block;
    margin-right: 10px;
    font-size: 11px;
    color: #333333;
    height: 23px;
    line-height: 23px;

}

#submissions .viewSubmission a,
#submissions .viewSubmission a:visited {
    background: url(../i/winner-actions.png) no-repeat 0 0;
    padding-left: 29px;
    height: 23px;
    margin-right: 6px;
    display: inline-block;
}

#submissions .download {
    font-size: 11px;
    display: inline-block;
}

#submissions .download a,
#submissions .download a:visited {
    background: url(../i/winner-actions.png) no-repeat 0 bottom;
    padding-left: 29px;
    height: 23px;
    display: inline-block;
    line-height: 23px;
}

#submissions .download a:hover {
    opacity: .6;
    color: #FF8A00;
}

#submissions .viewSubmission a:hover {
    opacity: .6;
    color: #FF8A00;
}

.checkpointMainWrapper {
  border-top:1px #E7E7E7 solid;
  padding-top:10px;
}

/*design alt checkpoint*/
.challenge-detail #checkpoints .winnerListAlt {
    border: 1px solid #e7e7e7;
    float: left;
    background: #f7f7f7;
    height: 45px;
}

.challenge-detail #checkpoints .winnerListEndAlt {
    height: 73px;
}

.challenge-detail #checkpoints .winnerListAlt li {
    float: left;
    font-size: 16px;
    padding: 0;
    line-height: normal;
    margin-left: 0;
    margin-bottom: 10px;
}

.challenge-detail #checkpoints .winnerListAlt li .box {

    background: #f7f7f7;
}

.challenge-detail #checkpoints .winnerListAlt li.last {
    margin-right: 0;
}

.winnerListAlt li .box {
    height: 45px;
    text-align: center;
    width: 201px;
    font-weight: bold;
    overflow: hidden;
    line-height: 45px;
    display: inline-block;
    font-size: 18px;
    color: #00aeff;

}

.winnerListAlt li .boxName {
    text-align: center;
    width: 201px;
    display: block;
    border-top: none;
    height: 28px;
    position: relative;
    border-top: 1px solid #e7e7e7;
    background: #fff;
    top: -1px;
    line-height: 32px;
}

.winnerListAlt li .boxName span {
    background: url(../i/boxArrow.png) no-repeat 0 0;
    width: 15px;
    height: 8px;
    display: block;
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -8px;

}

.winnerList li .box span a {
    font-size: 13px;
}

/*design normal checkpoint*/
.challenge-detail #checkpoints .winnerList li {
    float: left;
    margin-right: 15px;
    font-size: 16px;
    padding: 0;
    line-height: normal;
    margin-left: 0;
    margin-bottom: 10px;
}

.develop #checkpoints .winnerList li {
    margin-right: 23px;
}

.challenge-detail #checkpoints .winnerList li a {
    font-size: 13px;
}

.challenge-detail #checkpoints .winnerList li.last {
    margin-right: 0;
}

.winnerList li .box {
    height: 45px;
    text-align: center;
    width: 188px;
    font-weight: bold;
    overflow: hidden;
    line-height: 45px;
    display: inline-block;
    font-size: 18px;
    color: #00aeff;
    border: 1px solid #e7e7e7;
    background: #f7f7f7;

    cursor: pointer;
}

.checkpointsR .winnerList li .box {
    width: 127px;
}

.winnerList li .boxName {
    text-align: center;
    width: 188px;
    display: block;
    border: 1px solid #e7e7e7;
    border-top: none;
    height: 28px;
    position: relative;
    top: -1px;
    line-height: 32px;
}

.checkpointsR .winnerList li .boxName {
    width: 127px;
}

.winnerList li .boxName span {
    background: url(../i/boxArrow.png) no-repeat 0 0;
    width: 15px;
    height: 8px;
    display: block;
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -8px;

}

.winnerList li .box span a {
    font-size: 13px;
}

.challenge-detail #checkpoints .winnerListAlt li a {
    font-size: 13px;
}

.challenge-detail #checkpoints h1 {
    text-transform: uppercase;
}

.challenge-detail #checkpoints h1.noBorder {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 0;
}

.expandCollaspeList {
    border: 1px solid #e7e7e7;
    border-top: none;
}

.challenge-detail #checkpoints ul li {
    padding: 0;

}

.expandCollaspeList li .bar {
    padding: 0 10px;
    font-size: 16px;
    line-height: 42px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    height: 42px;
    font-weight: bold;
    background: #f7f7f7;
    color: #666;

    cursor: pointer;
}

.expandCollaspeList li .bar:hover {
    color: #a5a5a5;
    background: #fbfbfb;
}

.expandCollaspeList li a,
.expandCollaspeList li a:visited {
    float: right;
    width: 18px;
    height: 17px;
    background-repeat: no-repeat;
    background-image: url(../i/ecIcon.png);
    position: relative;
    top: 12px;
    background-position: 0 0;

    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}

.expandCollaspeList li .bar:hover a {
    background-position: 0 -17px;

}

.expandCollaspeList li .collapseIcon,
.expandCollaspeList li .collapseIcon:visited {
    background-position: 0 -34px;
}

.expandCollaspeList li .bar:hover .collapseIcon {
    background-position: 0 -51px;
}

.expandCollaspeList li .feedBackContent {
    color: #666;
    padding: 9px 9px 0 9px;
}

.challenge-detail #checkpoints p {
    padding-bottom: 23px;
    line-height: 23px;
    color: #666;
    font-size: 15px;
    margin-bottom: 0;

    white-space: pre-line;
}

.challenge-detail #checkpoints p.singleLine {
    padding-bottom: 10px;
}

.challenge-detail #checkpoints p.info {
    padding-bottom: 0;
    padding: 0 0 20px 0;
    line-height: normal;
}

/*dev checkpoint*/
.develop .winnerList li {
    position: relative;
    margin-right: 20px;
}

.develop .winnerList li .box {
    color: #228400;
    width: 490px;
}

.develop .winnerList li .boxName {
    width: 490px;
}

.develop .checkpointsR .winnerList li .box,
.develop .checkpointsR .winnerList li .boxName {
    width: 340px;
}

.develop .prizeIcon {
    position: absolute;
    width: 21px;
    height: 30px;
    display: block;
    top: 0;
    left: 5px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.develop .firstPrizeIcon {
    background-image: url(../i/firstPrizeIcon.png);
}

.develop .secondPrizeIcon {
    background-image: url(../i/secondPrizeIcon.png);
}

.seeMoreLink, .seeLessLink{
    font-weight: bold;
}

@media (max-width: 1019px) {
    /*design alt checkpoint*/
    .challenge-detail #checkpoints .winnerListAlt {
        height: auto;
        width: 100%
    }

    .challenge-detail #checkpoints .winnerListAlt li {
        float: none;
        margin-right: 0;
        font-size: 18px;
        padding: 0;
        line-height: normal;
        border-bottom: 1px solid #e7e7e7;
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .challenge-detail #checkpoints .winnerListAlt li.last {
        border-bottom: none
    }

    .winnerListAlt li .box {
        width: 100%;
        overflow: hidden;
        height: 45px;
        line-height: 45px;
        display: block;
    }

    .winnerListEndAlt li .box {
        width: 50%;
        float: left;
    }

    .winnerListAlt li .boxName {
        top: 0;
        width: 49%;
        float: left;
        height: 45px;
        line-height: 45px;
        border-top: none;
        border-left: 1px solid #e7e7e7;
    }

    .winnerListAlt li .boxName span {
        background: url(../i/boxArrow-m.png) no-repeat 0 0;
        width: 9px;
        height: 13px;
        top: 50%;
        margin-top: -6px;
        left: 7px;
    }

    /*design normal checkpoint*/
    .challenge-detail #checkpoints .winnerList li {
        float: none;
        margin-right: 0;
        font-size: 16px;
        padding: 0;
        line-height: normal;
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .challenge-detail #checkpoints .winnerList li a {
        font-size: 13px;
    }

    .winnerList li .box {
        width: 100%;
        overflow: hidden;
        height: 45px;
        line-height: 45px;
        display: block;
    }

    .checkpointsR .winnerList li .box {
        width: 100%;
    }

    .challenge-detail #checkpoints .winnerListEnd li {
        margin-bottom: 5px;
    }

    .winnerListEnd li .box {
        width: 50%;
        float: left;
    }

    .winnerList li .boxName {
        top: 0;
        width: 49%;
        float: left;
        font-size: 13px;
        height: 45px;
        line-height: 45px;
        border-top: 1px solid #e7e7e7;
        border-left: none;
    }

    .winnerList li .boxName span {
        background: url(../i/boxArrow-m.png) no-repeat 0 0;
        width: 9px;
        height: 13px;
        top: 50%;
        margin-top: -6px;
        left: 7px;
    }

    .develop .winnerList li .box,
    .develop .checkpointsR .winnerList li .box {
        width: 100%
    }

    .challenge-detail #submissions li p {
        display: inline-block;
        padding: 3px 6px;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .challenge-detail #submissions li p.submissionInfo {
        text-align: left;
        padding-left: 0;
        padding-top: 0;
        padding-right: 3px;

    }

    .challenge-detail #submissions li p .subNum {
        padding-bottom: 3px;
    }

    .challenge-detail #submissions li p .viewSubmission {

        margin-right: 10px;
    }

    .challenge-detail #submissions li p .download {

        margin-right: 10px;
    }

    /*dev checkpoint*/
    .develop .winnerList li {
        margin-right: 13px;
    }

    .develop .winnerListEnd li .box {
        width: 50%;
    }

    .develop .winnerListEnd li .boxName {
        width: 49%;
    }

    /*submission*/
    .challenge-detail #submissions ul.submissionList {
        display: none;
    }

    #submissions .bx-controls {
        margin: 10px 0 10px 0;
        text-align: center;
    }

    #submissions .bx-controls .bx-pager-item {
        display: inline;
        text-align: center;
        overflow: hidden;

        max-width: 21px;
        vertical-align: top;
        height: 11px;
    }

    #submissions .bx-controls .bx-pager-item a {
        display: inline-block;
        background: url(../i/orange-dots.png) no-repeat;
        text-indent: -100px;
        background-position: 0 0;
        width: 11px;
        height: 11px;
        margin: 0 5px;
        -moz-transition-duration: 0s;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        overflow: hidden;
    }

    #submissions .bx-controls .bx-pager-item a.active,
    #submissions .bx-controls .bx-pager-item a:hover {
        background-position: 0 -20px;
    }

    .challenge-detail #submissions .submissionSlider li {
        padding-left: 0;
        width: 100%;
    }

    .submissionSlider li div {
        margin-bottom: 10px;
        height: 100px;
        border: 1px solid #e7e7e7;
    }

    .submissionSlider li div img {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        float: left;
        display: block;
    }

    #submissions .pager {
        display: none;
    }

    .challenge-detail #submissions .submissionSingleSlider li {
        padding-left: 0;
        width: 100%;
    }

    .submissionSingleSlider li div {
        margin-bottom: 10px;
        height: 239px;
    }

    .submissionSingleSlider li div img {
        width: 298px;
        height: 239px;
        margin: 0 auto;
        display: block;
    }

    .informationViewSlider {
        border: 1px solid #e1e1e1;
        border-top: none;
        margin-bottom: 12px;
        background: #f7f7f7;
    }

    .informationViewSliderAlt {
        border-top: 1px solid #e1e1e1;
    }

    .informationViewSlider .basicInfo {
        padding: 0;
        border-bottom: 1px solid #e1e1e1;
        height: auto;
    }

    .basicInfoT {
        border-bottom: 1px solid #e1e1e1;
        height: 37px;
        line-height: 37px;
        padding: 0 15px;
    }

    .basicInfoB {
        padding: 10px 18px;
    }

    .basicInfoB img {
        margin-right: 11px;
        border-radius: 50px;
        width: 61px;
        height: 61px;
        float: left;
        display: inline-block;
    }

    .basicInfoB .country {
        display: block;
        line-height: normal;
        color: #666;
        font-size: 12px;
    }

    .informationViewSlider .subNum {
        font-size: 14px;
        color: #00aeff;
        display: inline-block;

    }

    .informationViewSlider .meataAction {
        float: right;
        font-size: 14px;
        color: #666666;
    }

    .informationViewSlider .meataAction .metaDate {
        display: inline-block;
    }

    .informationViewSlider .meataAction .viewSubmission {
        color: #333333;
    }

    .informationViewSlider .meataAction .download {
        color: #333333;
    }

    .viewNum {
        display: inline-block;
        padding-right: 29px;
        color: #333;
    }

    .informationViewSlider .basicInfo .meataAction {
        float: right;
    }

    .informationViewSlider li {
        padding: 13px 20px
    }

    #submissions .basicInfoAction .download,
    #submissions .basicInfoAction .download:visited {
        background: url(../i/winner-actions.png) no-repeat 0 bottom;
        padding-left: 36px;
        height: 23px;
        font-size: 15px;
        margin-top: 13px;
        display: block;
        color: #ff8a00;
        line-height: 23px;
    }

    #submissions .basicInfoAction .viewNum {
        font-size: 15px;

    }

    #submissions .basicInfoAction .viewSubmission,
    #submissions .basicInfoAction .viewSubmission:visited {
        background: url(../i/winner-actions.png) no-repeat 0 0;
        width: 23px;
        height: 23px;
        font-size: 15px;
        margin-right: 15px;
        position: relative;
        top: 6px;
        display: inline-block;
    }

    .basicInfoAction .download:hover {
        opacity: .6;
        color: #FF8A00;
    }

    .basicInfoAction .viewSubmission:hover {
        opacity: .6;
        color: #FF8A00;
    }

    .informationViewSlider h6 {
        font-size: 14px;
        padding-bottom: 10px;
        color: #00aeff;
    }

    .informationViewSlider .commentInfo {
        color: #333;
    }

    .informationViewSlider label {
        color: #333;
        display: block;
        font-weight: bold;
    }

    .informationViewSlider .fontInfo {
        float: left;
        width: 50%;
    }

    .informationViewSlider .stockArtInfo {
        float: left;
        width: 50%;
    }

    .challenge-detail #submissions .informationViewSlider li p {
        width: 100%;
    }

    .challenge-detail #submissions h1 {
        word-spacing: -2px;
    }

    .submissionSingleSliderAlt {
        margin-top: 20px;
    }

    .challenge-detail #submissions li p {
        padding: 0;
        line-height: normal;
    }

    #submissions .bx-controls {
        margin-top: 0;
    }

    .challenge-detail #submissions li p a {
        font-weight: normal;
    }

    .challenge-detail #checkpoints .winnerListAlt li {
        background: #fff;
    }

    .challenge-detail #checkpoints .winnerListAlt {
        float: none;
    }

    #showSubmission .content {
        padding-top: 20px;
    }
}

/* submission status icons */

.successIcon {
  background: url(../i/ico-okay-check.png) no-repeat;
  background-position: 0 0;
  background-size: 40%;
  padding-left: 30px;
}

.failureIcon {
  background: url(../i/ico-failed-x.png) no-repeat;
  background-position: 0 0;
  background-size: 40%;
  padding-left: 30px;
}
