/* ngRatingTable */
.ngRatingTableCaption{
    background: #ffae00;
    color: #fff;
    font-size: 12px;
    width: 100%;
    height: 25px;
    line-height: 24px;
    text-align: left;
    text-indent: 15px;
}

.ngRatingTable{
    width: 100%;
}
    .ngRatingTable.dev{
        height: 468px;
    }

    .ngRatingTable.algo{
        height: 139px;
    }
    .ngRatingTable .ngRow{
        border-bottom-width: 0;
    }
    .ngRatingTable .ngVerticalBarVisible{
        width : 0px;
    }

    .ngRatingTable .ngHeaderText{
        height: 25px;
        line-height: 24px;
        padding: 0;
        vertical-align: middle;
    }

    .ngRatingTable .ngHeaderCell{
        background: #f7f7f7;
        color: #666;

        font-weight: bold;

        border: solid #E7E7E7;
        font-size: 12px;
        border-width: 1px 0;
        text-align: center;
    }
    .ngRatingTable .ngCellText{
        text-align: center;
        color: #666;

        vertical-align: middle;

        font-size: 12px;
    }

    .ngRatingTable .ngRow.even {
        background: #FFFFFF;
    }
    .ngRatingTable .ngRow.odd {
        background: #f7f7f7;
    }

    .ngRatingTable .ngCellText.col0,
    .ngRatingTable .ngHeaderText.colt0{
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .ngRatingTable.dev .ngCellText.col1,
    .ngRatingTable.dev .ngHeaderText.colt1{
        text-align: right;
        padding-left: 15px;
        padding-right: 15px;
    }
