/* Reset Password */
.passwordRecovery {
	min-height:400px;
}
.passwordRecovery input[type='text'], .passwordRecovery input[type='password'] {
	float:left;
	/* Issue ID: I-115910 - reduce the width so the error message can be displayed properly */
	width:280px;
}
.passwordRecovery .btnSubmit {
	margin-top:10px;
}
.passwordRecovery input[type='text'] {
	color: silver;
}
.passwordRecovery .row {
	margin-bottom:15px;
	clear:both;
	overflow:hidden;
}
.password, .confirm {
	color:silver;
}
.passwordRecovery form p.row.info {
    /* Issue ID: I-115910 - reduce the width so the error message can be displayed properly */
	width:290px;
	/* Issue ID: I-115910 - use the same font size as used in registration form */
	font-size: 12px;
} 
.passwordRecovery form p.row.info .strength {
    color: #CC0000;
    float: right;
}
.passwordRecovery form p.row.info .strength span.field {
    background: none repeat scroll 0 0 #DDDDDD;
    display: inline-block;
    height: 7px;
    width: 12px;
}
.passwordRecovery form p.row.info .strength span.field.green {
    background: none repeat scroll 0 0 #7ABD00;
}
.passwordRecovery form p.row.info .strength span.field.red {
    background: none repeat scroll 0 0 #FF0000;
} 

.passwordRecovery form div.row span.valid {
    background: url("../i/validation-tick.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #7ABD00;
    display: none;
    height: 18px;
    margin-left: 14px;
    min-width: 18px;
    padding-left: 25px;
    vertical-align: middle;
	padding-top:0px;
	margin-top:7px;
}
.passwordRecovery .error {
	float:left;
	margin-left:14px;
	color:red;
	padding-top:7px;
}

@media (max-width: 1019px) { 
	.passwordRecovery {
		min-height:0px;
		margin-bottom:10px;
	}
	.passwordRecovery .error {
		display:block;
		padding-top:5px;
		padding-left:0px;
		color:red;
	}
	.passwordRecovery .row {
		width:100%;
	}	
	.passwordRecovery input[type='text'], .passwordRecovery input[type='password'] {
		width: -moz-calc(100% - 15px);
		width: -webkit-calc(100% - 15px);
		width: calc(100% - 15px);
	}
	.passwordRecovery form div.row span.valid {
		margin:0px;
		padding:10px 22px;
	}
	.passwordRecovery form p.row.info{
		width: -moz-calc(100% - 5px);
		width: -webkit-calc(100% - 5px);
		width: calc(100% - 5px);
	}
	.passwordRecovery form p.row.info .strength {
		float:right;
	}
}
/* Issue ID: I-115910 - style for invalid text input */
.passwordRecovery .invalid{
	background: #ffedee;
	border: 1px solid #c00;
}