/*
hover style icons
*/
.animeButton, .animeButtonHover {
    width: 48px;
    height: 48px;
    display: inline-block;
    background: url(../i/shareButtons.png) no-repeat;
    cursor: pointer;
}
.shareFacebook {

}

.shareFacebookHover {
    background-position: 0 bottom;
}

.shareGoogle {
    background-position: -64px 0;
}

.shareGoogleHover {
    background-position: -64px bottom;
}

.shareTwitter {
    background-position: -128px 0;
}

.shareTwitterHover {
    background-position: -128px bottom;
}

.shareGithub {
    background-position: -192px 0;
}

.shareGithubHover {
    background-position: -192px bottom;
}

.animeMan {
    width: 40px;
    height: 44px;
    display: block;
    float: left;
    margin: 0 auto;
    background: url(../i/menButtons.png) no-repeat;
    cursor: pointer;
    margin-top: -3px;
}

.animeMan{
    border-top: 1px solid #fff;
}
.row.planToCompete{
    margin-top: 15px;
    margin-bottom: 15px;
}
.row.planToCompete label{
    display: block;
    float: left;
}
.options{
    display: inline-block;
}
.options .checkBox{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.manBlue:hover {
    background-position: 0 -44px;
}

.manGreen {
    background-position: -40px 0;
}

.manGreen:hover {
    background-position: -40px -44px;
}

.manYellow {
    background-position: -80px 0;
}

.manYellow:hover {
    background-position: -80px -44px;
}

.manGrey {
    background-position: -120px 0;
}

.manGrey:hover {
    background-position: -120px -44px;
}


#register input[type="email"],
#register input[type="number"],
#register input[type="password"],
#register input[type="tel"],
#register input[type="url"],
#register input[type="text"]{
    padding:2px 6px;
}
/*
backgorund modal
*/
#bgModal,#bgOverlapModal,#bgLoadingModal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent url(../i/bg-modal.png) repeat;
    display: none;
	/* Issue ID: I-113951 - Set to the higher value than the footer
	so the modal dialog won't cut off when the page contains only small content */
    z-index: 100001;
}
#bgLoadingModal span {
    display:block;
    position: fixed;
    width: 100px;
    height: 100px;
    top:50%;
    left:50%;
    background: transparent url(../i/ajax_loader_gray_256.gif) no-repeat;
}
/*
common
*/
.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
	/* Issue ID: I-113951 - Set to the higher value than the footer
	so the modal dialog won't cut off when the page contains only small content */
    z-index: 100002;
    width: 950px;
    border: rgba(0,0,0,0.2) solid 10px;
    border-radius: 10px;
    font-size: 14px;
}
.modal .btnClose {
    background: transparent url(../i/closeModal.png) no-repeat top left;
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
.modal .btnClose:hover{
    background-position: bottom left;
}

.modal .content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.modal .content h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 30px;
    color: #333;
}
.modal input::-webkit-input-placeholder {
    color: transparent;
}
.modal input:-moz-placeholder {
    color: transparent;
}
.modal input::-moz-placeholder {
    color: transparent;
}
.modal input:-ms-input-placeholder {
    color: transparent;
}
/*
Register modal
*/
.row .socialUnavailableErrorMessage {
    color: #c00;
    display: none;
}
#register .content,
#login .content{
    padding: 10px 20px;
}

#register .content p,
#login .content p{
    color: #666;
}

	#register .content h3,
	#login .content h3 {
		padding: 0px 0 3px;
		border-bottom: 1px solid #e7e7e7;
		font-size: 18px;
		color: #333;
	}
	#register #socials,
	#login #socials {
		padding: 4px 0 6px;
	}

		#register #socials a,
		#register #socials p,
		#login #socials a,
		#login #socials p {
			float: left;
			margin-right: 15px;
		}

		#register #socials p,
		#login #socials p {
			padding: 5px 0 5px 30px;
			line-height: 18px;
		}

	#register form,
	#register form p.row,
	#login form,
	#login form p.row {
		padding: 2px 0 0;
		line-height: 26px;
	}

		#register form p.row.lSpace {
			margin-left: 200px;
		}
		#login form p.row.lSpace {
			margin-left: 100px;
		}

		#register form p.row.info,
		#login form p.row.info {
			width: 349px;
			font-size: 12px;
			padding: 0;
			line-height: 17px;
		}
		#register form p.row.btns,
		#login form p.row.btns {
			padding: 4px 0;
		}

			#register form p.row label,
			#login form p.row label {
				display: inline-block;
				width: 180px;
				text-align: right;
				padding-right: 15px;
				color: #333;
			}
			#login form p.row label{
				width: 80px;
			}
			#register form p.row.lSpace label,
			#login form p.row.lSpace label {
				width: 349px;
				text-align: left;
				padding: 0;
			}
				#register input[type="checkbox"],
				#login input[type="checkbox"] {
					margin: 0 4px 0 0;
				}
			#register form p.row input[type="text"],
			#register form p.row input[type="password"],
			#login form p.row input[type="text"],
			#login form p.row input[type="password"],
			#login form p.row .customSelect{
				width: 336px;
				background: #fafafa;
				border: 1px solid #e1e1e1;
				height: 22px;
				line-height: 16px;
			}
			#register form p.row input[type="text"].invalid,
			#register form p.row input[type="password"].invalid,
			#login form p.row input[type="text"].invalid,
			#login form p.row input[type="password"].invalid {
				background: #ffedee;
				border: 1px solid #c00;
			}

			#register form p.row span.err1,
			#register form p.row span.err2,
			#register form p.row span.err3,
			#register form p.row span.err4,
			#register form p.row span.err5,
			#register form p.row span.err6,
			#register form p.row span.err7,
			#loginForm span.err4,
			#loginForm span.err3,
			#login form p.row span.err1,
			#login form p.row span.err2 {
				margin-left: 14px;
				color: #c00;
				display: none;
			}

			#login form p.row span.err1 {
				position: relative;
				top: 15px;
			}

			#register form p.row span.valid {
				background: transparent url(../i/validation-tick.png) no-repeat left center;
				display: none;
				min-width: 18px;
				height: 18px;
				padding-left: 27px;
				margin-left: 14px;
				vertical-align: middle;
				color: #7abd00;
			}

			/* strength password */
			#register form p.row.info .strength{
				color: #c00;
				float: right;
			}
				#register form p.row.info .strength span.field {
					display: inline-block;
					background: #ddd;
					width: 12px;
					height: 7px;
				}
				#register form p.row.info .strength span.field.green {
					background: #7abd00;
				}
				#register form p.row.info .strength span.field.red {
					background: #f00;
				}
	#register  p.submitBtn {
		margin: 2px auto;
		text-align: center;
	}

#register .content h2,
#login .content h2 {
    padding-bottom: 3px;
    font-size: 22px;
}

#register .content h3,
#login .content h3 {
    padding: 0px 0 3px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 18px;
    color: #333;
}
#register #socials,
#login #socials {
    padding: 4px 0 6px;
}

#register #socials a,
#register #socials p,
#login #socials a,
#login #socials p {
    float: left;
    margin-right: 15px;
}

#register #socials p,
#login #socials p {
    padding: 5px 0 5px 30px;
    line-height: 18px;
}

#register form,
#register form p.row,
#login form,
#login form p.row {
    padding: 2px 0 0;
    line-height: 26px;
}

#register form p.row.lSpace {
    margin-left: 200px;
}
#login form p.row.lSpace {
    margin-left: 100px;
}

#register form p.row.info,
#login form p.row.info {
    width: 349px;
    font-size: 12px;
    padding: 0;
    line-height: 17px;
}
#register form p.row.btns,
#login form p.row.btns {
    padding: 4px 0;
}

#register form p.row label,
#login form p.row label {
    display: inline-block;
    width: 180px;
    text-align: right;
    padding-right: 15px;
    color: #333;
}
#login form p.row label{
    width: 80px;
}
#register form p.row.lSpace label,
#login form p.row.lSpace label {
    width: 349px;
    text-align: left;
    padding: 0;
}
#register input[type="checkbox"],
#login input[type="checkbox"] {
    margin: 0 4px 0 0;
}
#register form p.row input[type="text"],
#register form p.row input[type="password"],
#login form p.row input[type="text"],
#login form p.row input[type="password"],
#login form p.row .customSelect{
    width: 336px;
    background: #fafafa;
    border: 1px solid #e1e1e1;
    height: 22px;
    line-height: 16px;
}
#register form p.row input[type="text"].invalid,
#register form p.row input[type="password"].invalid,
#login form p.row input[type="text"].invalid,
#login form p.row input[type="password"].invalid {
    background: #ffedee;
    border: 1px solid #c00;
}
#register form p.row input[type="text"][disabled],
#register form p.row input[type="password"][disabled],
#register form p.row select[disabled] {
	color: silver;
}

#register form p.row span.err1,
#register form p.row span.err2,
#register form p.row span.err3,
#register form p.row span.err4,
#register form p.row span.err5,
#register form p.row span.err6,
#loginForm span.err4,
#loginForm span.err3,
#login form p.row span.err1,
#login form p.row span.err2 {
    margin-left: 14px;
    color: #c00;
    display: none;
}

#login form p.row span.err1 {
    position: relative;
    top: 15px;
}

#register form p.row span.valid {
    background: transparent url(../i/validation-tick.png) no-repeat left center;
    display: none;
    min-width: 18px;
    height: 18px;
    padding-left: 27px;
    margin-left: 14px;
    vertical-align: middle;
    color: #7abd00;
}

/* strength password */
#register form p.row.info .strength{
    color: #c00;
    float: right;
}
#register form p.row.info .strength span.field {
    display: inline-block;
    background: #ddd;
    width: 12px;
    height: 7px;
}
#register form p.row.info .strength span.field.green {
    background: #7abd00;
}
#register form p.row.info .strength span.field.red {
    background: #f00;
}
#register  p.submitBtn {
    margin: 2px auto;
    text-align: center;
}

p.submitBtn .pleaseWait:hover {
    cursor: default;
}

#register .person {
    text-align: center;
    width: 225px;
    float: left;
}

#register .person .checkBox{
    background: url(../i/checkBoxBg.png) repeat-x;
    color: #fff;
    font-size: 15px;
    display: block;
    width: 146px;
    height: 33px;
    margin: 0 auto;
    line-height: 33px;
}
#register .person.blue .checkBox{
    background-position: 0 -33px;
}

#register .person.green .checkBox{
    background-position: 0 -66px;
}

#register .person.yellow .checkBox{
    background-position: 0 -99px;
}

#register .person.grey .checkBox{
    background-position: 0 -132px;
}

/*
Login modal
*/

#login.modal {
    width: 850px;
}

.forgotPwd{
    margin-left: 20px;
}

/*
Thanks modal
*/
#thanks {
    text-align: center;
}
#thanks .content{
    background: #fff url(../i/bg-modal-thanks.png) no-repeat right top;
}
#thanks p {
    font-size: 14px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 60px;
}

/*registerSuccess modal*/
#registerSuccess{
    width: 534px;
}
#registerSuccess .btnClose{
    right: 20px;
}
#registerSuccess .content{
    padding: 10px 20px 20px;
}
#registerSuccess .content h2{
    font-size: 36px;
}
#registerSuccess .content p.success{
    padding: 32px 30px 32px 80px;
    font-size: 14px;
    color: #666;
    line-height: 24px;
    background: url("../i/success-icon.png") no-repeat 0 34px;
}
#registerSuccess .content p.submitBtn{
    border-top: 1px solid #e7e7e7;
    padding-top: 20px;
    text-align: center;
}
#registerSuccess .content p.submitBtn .btn{
    width: 60px
}

/*registerFailed modal*/
#registerFailed{
    width: 534px;
}
#registerFailed .btnClose{
    right: 20px;
}
#registerFailed .content{
    padding: 10px 20px 20px;
}
#registerFailed .content h2{
    font-size: 36px;
}
#registerFailed .content p.failedMessage{
    padding: 32px 30px 32px 80px;
    font-size: 14px;
    color: #666;
    line-height: 24px;
}
#registerFailed .content p.submitBtn{
    border-top: 1px solid #e7e7e7;
    padding-top: 20px;
    text-align: center;
}
#registerFailed .content p.submitBtn .btn{
    width: 60px
}

.customSelect {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 8px;
    margin: 0;
    vertical-align: top;
    width: 332px;
    background: #fafafa url(../i/selector.png) no-repeat right;
    border: 1px solid #e1e1e1;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #333;
    /* This is the default class that is used */
    /* Put whatever custom styles you want here */
}
.customSelect.invalid {
    background-color: #ffedee;
    border: 1px solid #c00;
}
.customSelect.customSelectHover {
    /* Styles for when the select box is hovered */
    background-color: #f1f1f1;
}

.customSelect.customSelectOpen {
    /* Styles for when the select box is open */
}

.customSelect.customSelectFocus {
    /* Styles for when the select box is in focus */
}

.customSelectInner {
    /* You can style the inner box too */
    width: 300px;
}


/* width < 1010px
-----------------------------*/

@media (max-width: 1019px) {
    #register.modal,
    #login.modal {
        position: absolute;
        width: auto;
        left: 0;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    #register,
    #login {
        text-align: center;
    }
    #thanks .content{
        background: #fff;
    }
    #register form p.row label,
    #register form p.row input[type="text"],
    #register form p.row input[type="password"],
    #login form p.row label,
    #login form p.row input[type="text"],
    #login form p.row input[type="password"] {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #register form p.row.info{
        text-align: left;
    }
    #register form p.row input[type="text"],
    #register form p.row input[type="password"],
    #login form p.row input[type="text"],
    #login form p.row input[type="password"] {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        height: 34px;
    }
    #register form p.row label,
    #login form p.row label{
        display: none;
    }

    #register form p.row.lSpace,
    #login form p.row.lSpace {
        margin-left: 0;
    }

    #login form p.row span.err1 {
        top: 0;
        line-height: 20px;
    }

    #register form p.row.info,
    #login form p.row.info {
        width: auto;
    }
    #register form p.row.lSpace label,
    #login form p.row.lSpace label {
        width: 100%;
        display: block;
    }
    #login .lSpace {
        float: left;
    }
    #login .lSpace.btns {
        float: right;
    }
    #login .lSpace.btns a {
        display: block;
        margin: 0;
    }
    #login .lSpace.btns a.btnSubmit {
        margin-bottom: 5px;
    }
    #register .person {
        width: auto;
        float: none;
    }

    #register #socials a,
    #register #socials p,
    #login #socials a,
    #login #socials p {
        margin-right: 7px;
        margin-left: 7px;
        float: none;
    }

    #register #socials p,
    #login #socials p {
        padding: 5px 0;
        display: block;
    }

    .modal input::-webkit-input-placeholder {
        color: #999;
    }
    .modal input:-moz-placeholder {
        color: #999;
    }
    .modal input::-moz-placeholder {
        color: #999;
    }
    .modal input:-ms-input-placeholder {
        color: #999;
    }
    select {
        width: 90% !important;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .customSelect {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        padding: 6px 8px;
        margin: 0;
        vertical-align: top;
        margin-left: auto;
        margin-right: auto;
        display: block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        height: 30px;
        line-height: 20px;
    }
    .customSelectInner {
        width: 100%;
    }
}

.not-a-member {
    margin-left: 100px;
}
/* login and register page */
.mainStream #login{
    max-width: 850px;
    margin: 0 auto;
}
.mainStream #register{
    max-width: 950px;
    margin: 0 auto;
}
.mainStream #login h2, .mainStream #register h2{
    border-bottom: 1px solid #e7e7e7;
    margin: 20px 0;
}
.mainStream #login .not-a-member {
    margin-left: 0;
}
@media (max-width: 1019px) {
    .mainStream #login .lSpace{
        float: none;
    }
    .mainStream #login #loginForm .signin-db{
        margin: 0 auto 20px auto;
    }
}
