.grid .grid-3-1.trackUX,
.grid .grid-3-1:first-child {
    margin-left: 0;
    margin-right: 0px;
}

#hero .tracksInfo {
    margin: 0 -12px;
    padding: 22px 2px 5px;
}

.dataTable .colCh a {
    color: #666;
    line-height: 22px;
    padding-left: 66px;
    display: inline-block;

    cursor: pointer;
    position: relative;
}

/* end of edit by evilkyro1965 */

body, #wrapper {
    min-width: 1024px !important;
}

.container {
    min-width: 1012px !important;
}

input[type="checkbox"] {
    margin: 0;
    padding: 0;
    display: inline-block;
}

select {
    margin: 0;
    padding: 0;
    border: 1px solid #AEAEAE;
}

.btnSecondary, a.btnSecondary {
    background: #c2c2c2;
    border-bottom: 4px solid #b1b0b0;
}

.btnSecondary, a.btnSecondary:hover {
    background: #b0b0b0;
}

/* fixes */
#footer nav li {
    height: auto;
    min-height: 24px;
}

#footer .updates .email {
    box-shadow: none;
}

.contestGrid .genInfo > p,
.contestGrid .trackUX .genInfo > p {
    color: #959595;
    font-family: Arial, Helvetica, sans-serif;
}

/* here */
#hero {
    background: #eee;
}

#hero .track .arrow {
    display: none;
}

#hero .track.isActive .arrow {
    width: 37px;
    height: 15px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -18px;
    background: url(../i/point-arrow.png) 0 0 no-repeat;

    display: block;
}

#hero .container {
    overflow: visible;

    min-height: 162px;
    z-index: 10;
}

#hero .track {
    margin-top: 0;
    height: 160px;
}

#hero .track a {
    display: block;
    height: 142px;

    padding-top: 18px;
}

#hero .track a:hover {
    background: #f9f9f9;
}

#hero .track.isActive {
    background: #F9F9F9;

    border: 1px solid #e1e1e1;
    position: relative;
    overflow: visible;
}

#hero .track.isActive a,
#hero .track.isActive a i {
    cursor: default;

    text-decoration: none;
}

/* challenge table layout */
.tcoTableWrap {
    overflow: hidden;
    border-top: 1px solid #E7E7E7;
}

.tcoTableWrap .tcoTable {
    margin-top: -1px;
}

.layChallenges .actions {
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: -1px;
    padding: 16px 0 13px;
}

.layChallenges .actions.alt {
    border: none;
    height: 50px;
}

.layChallenges .actions .lt {
    margin-top: 0;

    margin-left: -10px;
}

.layChallenges .actions .rt {
    margin-top: 0;
}

.landingChallenges .actions .rt {
    margin-top: -25px;
}

.layChallenges .challengeType {
    width: auto;
    margin: 0 auto;
}

.landingChallenges .challengeType {
    width: 300px;
}

.centeredTable tbody td {
    text-align: center;
}

.dataTable th.colCh {
    text-indent: 0;
    text-align: center;
}

.dataTable .itco {
    position: absolute;
    left: 1px;
    top: 4px;
    background: url(../i/tco/tco-arrow.png) no-repeat;
    background-position: 0 10px;
    padding-bottom: 8px;

    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

.dataTable .allContestIco {
    position: absolute;
    left: 12px;
    top: 4px;
    background: url(../i/tco/tco-arrow.png) no-repeat;
    background-position: 0 10px;
    padding-bottom: 8px;

    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

.dataTable .inTCO.hasTCOIco .allContestTCOIco {
    display: block;
    position: absolute;
    left: 12px;
    top: 41px;
    background-position: 0 10px;
}

.contestGrid .cgCh a img.allContestTCOIco {
    position: absolute;
    left: 15px;
    top: 37px;
    background-position: 0 10px;
    z-index: 1;
}

.dataTable .allContestTCOIco {
    display: none;
}

.dataTable a:hover .itco {
    background-position: 0 100%;
}

.dataTable .colType {
    text-align: center;
    width: 45px;
}

.reviewTable .colType {
    width: 62px;
}

.dataTable .colType .ico {
    height: 18px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
}

.dataTable .uline {
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;

    display: inline-block;
}

.dataTable td .tooltipData {
    display: none;
}

.dataTable .colType .ico, .contestGrid .contest .trackType {
    background: url(../i/contest-type.png) no-repeat;
    background-position: 0 0;
}

.dataTable .track-ac .colType .ico,
.contestGrid .track-ac .trackType {
    background-position: 0 -630px;
}

.dataTable .track-p .colType .ico,
.contestGrid .track-p .trackType {
    background-position: 0 -210px;
}

.dataTable .track-a .colType .ico,
.contestGrid .track-a .trackType {
    background-position: 0 -180px;
}

.dataTable .track-bh .colType .ico,
.contestGrid .track-bh .trackType {
    background-position: 0 -480px;
}

.dataTable .track-wi .colType .ico,
.contestGrid .track-wi .trackType {
    background-position: 0 -60px;
}

.dataTable .track-wf .colType .ico,
.contestGrid .track-wf .trackType {
    background-position: 0 -90px;
}

.dataTable .track-ig .colType .ico,
.contestGrid .track-ig .trackType {
    background-position: 0 -120px;
}

.dataTable .track-o .colType .ico,
.contestGrid .track-o .trackType {
    background-position: 0 -240px;
}

.dataTable .track-c .colType .ico,
.contestGrid .track-c .trackType {
    background-position: 0 -660px;
}

.dataTable .track-cc .colType .ico,
.contestGrid .track-cc .trackType {
    background-position: 0 -840px;
}

.dataTable .track-cp .colType .ico,
.contestGrid .track-cp .trackType {
    background-position: 0 -450px;
}

.dataTable .track-bi .colType .ico,
.contestGrid .track-bi .trackType {
    background-position: 0 -300px;
}

.dataTable .track-pr .colType .ico,
.contestGrid .track-pr .trackType {
    background-position: 0 -330px;
}

.dataTable .track-ap .colType .ico,
.contestGrid .track-ap .trackType {
    background-position: 0 -270px;
}

.dataTable .track-l .colType .ico,
.contestGrid .track-l .trackType {
    background-position: 0 -150px;
}

.dataTable .track-spc .colType .ico,
.contestGrid .track-spc .trackType {
    background-position: 0 -420px;
}

.dataTable .track-ts .colType .ico,
.contestGrid .track-ts .trackType {
    background-position: 0 -750px;
}

.dataTable .track-ff .colType .ico,
.contestGrid .track-ff .trackType {
    background-position: 0 -900px;
}

.dataTable .colType .ico .tooltipData {
    display: none;
}

.dataTable span.colAccessLevel i {
    height: 20px;
    width: 20px;
    background: url(../i/ico-access-lvl.png) no-repeat;
    background-position: 0 0;
    display: inline-block;
}

.dataTable span.private i {
    height: 20px;
    width: 20px;
    background: url(../i/ico-access-lvl.png) no-repeat;
    background-position: 0 -30px;
    display: inline-block;
}

/* tco table */
.tcoTable th, .reviewTable th {
    font-size: 12px;
    font-weight: bold;
    height: 36px;
    padding-bottom: 6px;
    cursor: pointer;
    margin-top: -30px;
    background: url(../i/sortArrows.png) no-repeat;
    background-position: 50% 28px;
    background-color: #f1f1f1;
    color: #666;
}

.dataTable.tcoTable tr.inTCO.hasTCOIco td {
    height: 110px;
}

.tcoTable th:hover, .reviewTable th:hover {
    color: #333;
}

.tcoTable th.noSort:hover, .reviewTable th.noSort:hover {
    color: #666;
}

.tcoTable th.asc, .reviewTable th.asc {
    background-position: 50% -52px;
}

.tcoTable th.noSort, .reviewTable th.noSort {
    cursor: default;
    background-image: none;
}

/* sort icons */
.tcoTable th i, .reviewTable th i {
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: 4px;
    width: 10px;
    height: 10px;
    background: url(../i/sortArrows.png) no-repeat;
    background-position: 0 0;

    display: none;
}

.tcoTable th.coleSub i {
    bottom: 22px;
    left: auto;
    right: 3px;
}

.tcoTable th.asc i, .reviewTable th.asc i {
    background-position: 0 -30px;
}

.tcoTable th.noSort i, .reviewTable th.noSort i {
    display: none;
}

/* col widths */
.layChallenges .tcoTable .colCh {
    width: 270px;
}

.layChallenges .f2fTable .colCh {
    width: 305px;
}

/* F2F 30042914 - adjust contest name width as technologies column is removed in upcoming table */
.layChallenges .devUpcomingTable .colCh {
    width: 400px;
}

.layChallenges .f2fTable td.colCh {
    text-align: left;
}

.layChallenges .tcoTable .colPay.alt {
    width: 220px;
}

.layChallenges .tcoTable .colStandings {
    width: 83px;
}

.layChallenges .dataTable .colStatus {
    width: 175px;
}

.layChallenges .reviewTable td.colCh {
    padding-right: 30px;
}

.ie7 .layChallenges .reviewTable td.colCh {
    padding-right: 0;
}

.ie7 .layChallenges .reviewTable th.colCh {
    padding-left: 15px;
    padding-right: 15px;
}

.layChallenges .tcoTable .coleSub {
    width: 82px;

    text-align: center;
}

.tcoTable tbody .colTime .row .lbl {
    width: 75px;
}

.tcoTable th.colTime {
    width: 210px;
}

.dataTable th.colPur {
    width: 80px;
}

.dataTable th.colStandings {
    width: 85px;
}

.layChallenges .tcoTable th.coleSub {
    background: url(../i/sortArrows.png) no-repeat;
    background-position: 95% 12px;
    background-color: #F1F1F1;

    padding-bottom: 0px;
}

.layChallenges .tcoTable th.coleSub.noSort {
    background: none;
    background-color: #F1F1F1;
}

.layChallenges .tcoTable th.coleSub.asc {
    background-position: 95% -70px;
}

.dataTable th.colAccessLevel {
    padding-right: 5px;
}

.tcoTable tbody .colTime .row .val {
    margin-left: 80px;
}

.layChallenges .tcoTable td.colCh.reviewOpp {
    vertical-align: middle;
}
.tcoTable .colCh a {
    color: #FF8A00;

    padding-left: 55px;
    text-align: left;
    min-height: 55px;
    width: 211px;
}

.tcoTable tr.inTCO.hasTCOIco .colCh a {
    min-height: 80px;
}

.tcoTable .colCh a {
    width: 270px;
    padding-left: 66px;
    color: #666;
}

/* F2F 30042914 - adjust contest name width as technologies column is removed in upcoming table */
.devUpcomingTable .colCh a {
    width: 400px;
}

#tcoTableAllContest .colReg, #tcoTableAllContest .colSub {
    width: 80px;
}

#tcoTableAllContest .colCh a:hover {
    color: #FF8A00;
}

#tcoTableAllContest .colCh a img.allContestIco {
    height: 36px;
    padding: 0px;
}

.colCh a:hover img.allContestIco {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.tcoTable .colCh.nonTCO {
    text-align: left;
}

.tcoTable .colCh.nonTCO a {
    padding-left: 22px;
}

.tcoTable .colCh.srm a {
    min-height: 0px;
}

.tcoTable .colCh a:hover {
    color: #FFB800;
}

.tcoTable tbody .colTLeft, .tcoTable tbody .colDur, tbody .colTech, .tcoTable tbody .colPur, .tcoTable tbody .colReg, .tcoTable tbody .colSub {
    font-size: 14px;
}

.dataTable .colAccessLevel {
    text-align: center;
}

.tcoTable th.colTLeft,
.tcoTable th.colReg,
.tcoTable th.colSub {
    width: 80px;
}

.tcoTable th.colDur {
    width: 120px;
}

.tcoTable th.colTech {
    width: 130px;
}

.dataTable .colPur, .dataTable tbody .colPur {
    text-align: center;
    text-indent: 0;
}

.tcoTable tbody .colPhase {
    text-align: center;
}

.tcoTable tbody .colStat {
    text-align: center;
    width: auto;
}

.tcoTable tbody .colDur {
    text-align: center;
}

.tcoTable tbody .colTech {
    text-align: center;
}

.tcoTable tbody .action {
    width: 88px;
}

.tcoTable .colCh div {
    margin-right: 4px;
}

.reviewTimelineTable {
   margin-bottom: 100px;
}
.reviewTimelineTable .colPhase, .reviewTimelineTable .colRstart, .reviewTimelineTable .colRend, .reviewTimelineTable .colDur, .reviewTimelineTable .colStatus {
    text-align: center;
}
#reviewOpenPositions {
    margin-bottom: 100px;
}
.reviewOpenTable {
    margin-top: 50px;
    margin-bottom: 50px;
}
.reviewOpenTable .colRevRole, .reviewOpenTable .colRevPos, .reviewOpenTable .colRevPay, .reviewOpenTable .colRevReg {
    text-align: center;
}
.reviewAppTable {
    margin-bottom: 100px;
}
.reviewAppTable .colAppHandle, .reviewAppTable .colAppRole, .reviewAppTable .colAppRating, .reviewAppTable .colAppStatus, .reviewAppTable .colAppDate {
    text-align: center;
}
caption.reviewDetail {
    background-color: #d0d0d0;
    font-weight: bold;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.reviewTitle {
    position: relative;
    float: left;
}
.reviewOppTitle {
    font-size: 20px;
    line-height: 2em;
    margin-bottom: 40px;
}
.reviewOppType {
    position: relative;
    float: right;
    line-height: 2.5em;
}
.layChallenges header.reviewDetailHeader {
    margin-bottom: 0;
    padding-bottom: 0;
}
#tableView > div > table > caption {
    padding-top: 10px;
    padding-bottom: 10px;
}
.reviewTimelineTable th, .reviewOpenTable th, .reviewAppTable th {
    font-size: 12px;
    font-weight: bold;
    height: 36px;
    padding-bottom: 6px;
    cursor: pointer;
    margin-top: -30px;
    background-color: #f1f1f1;
    color: #666;
}
.dataTable .colStandings .tooltipData {
    display: none;
}

.dataTable .colStandings .winBages {
    overflow: hidden;
    padding-bottom: 7px;
    margin: 0 -4px;
    /*Bugfix I-106745: center text alignment on "View Winners" links and "N/A" output in Winners column*/
    text-align: center;
}

.dataTable .colStandings .winner {
    display: inline-block;
    float: left;
    width: 20px;
    height: 26px;
    margin: 0 4px;
    background: url(../i/ico-winners.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.devTable .colStandings .winner {
    background: url(../i/ico-dev-winners.png) no-repeat;
    background-position: 0 0;
}

.dataTable .colStandings .winner.place-2 {
    background-position: 0 -40px;
}

.dataTable .colStandings .winner.place-3 {
    background-position: 0 -80px;
}

.dataTable .moreWin a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-left: 9px;
    display: inline-block;
    display: inline-block;
    background: url(../i/ico-arrows.png) 0 4px no-repeat;
}

/* grid view */
.contestGrid .cgCh a {
    color: #FF8A00;
    overflow: visible;
    padding: 0 0 0 69px;
}
/*Bugfix I-107027: restrict contest name to 2 lines in grid mode*/
.contestGrid .cgCh a span {
    display:inline-block;
    height: 2.4em;
    width: 100%;
    overflow: hidden;
}
.contestGrid .cgCh a:hover {
    color: #FFB800
}

.contestGrid .cgCh a img {
    position: absolute;
    top: 0;
    left: 15px;
    background: url(../i/tco/tco-arrow.png) no-repeat;
    background-position: 0 10px;
    padding-bottom: 8px;
}

#gridAll .cgCh a:hover img {
    background-position: 0 10px;
}

/*
#gridAll .cgCh a {
    color: #666;
}
*/

#gridAll .cgCh a:hover {
    color: #FF8A00;
}

#gridAll .cgCh a img.allContestIco {
    height: 36px;
    padding: 0px;
}

/*.contestGrid .cgCh a */
.contestGrid .cgCh span.track-symbol, .dataTable .colCh span.track-symbol {
    position: absolute;
    left: 15px;
    top: 43px;
    z-index: 10;
    color: white;
    font-weight: bold;
    width: 40px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.dataTable .colCh span.track-symbol {
    left: 11px;
    top: 46px;
}

.cgCh a:hover img.allContestIco {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.contestGrid .cgTime {
    padding-left: 69px;
}

.contestGrid .contest .trackType {
    position: absolute;
    left: 25px;
    top: 94px;
    height: 18px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
}



.contestGrid .contest .trackType .tooltipData {
    display: none;
}

.contestGrid .cgCh {
    margin: 14px 0 8px;
}

.contestGrid .cgTime {
    line-height: 22px;
}

/* tooltip */
.tooltip {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
}

.tooltip .inner {
    position: relative;
    min-width: 92px;
    padding-top: 17px;
    min-height: 30px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
}

.tooltip > header,
.tooltip .inner > header {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    background: #0096ff;
    height: 17px;
    line-height: 17px;
    border-radius: 3px 3px 0 0;
    text-indent: 7px;
    border: none;
    width: 100%;
    min-width: 82px;
    behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.devTooltip > header,
.devTooltip .inner > header {
    background: #47a911;
}

.tooltip .contestTy {
    font-size: 11px;
    text-align: center;
    color: #333;

    padding: 7px 7px 5px;
}

.tooltip .arrow {
    position: absolute;
    left: 50%;
    bottom: -9px;
    margin-left: -5px;
    width: 10px;
    height: 9px;

    background: url(../i/tt-arrow.png) no-repeat;
    background-position: 0 0;
}

.tooltip .arrow.alt {
    background: url(../i/tt-arrow-alt.png) no-repeat;
    background-position: 0 0;
}

/* winner bage hover tooltip */
.tooltip .winnerInfo {
    text-align: center;

    padding-bottom: 24px;
}

.tooltip .winnerInfo .imgSB {
    max-width: 57px;
    margin: 4px 0 0 0;
}

.tooltip .winnerInfo .handleWrap a {
    font-size: 11px;
    border-bottom: 1px solid #d8d8d8;
}

.tooltip .winnerInfo .handleWrap a:hover {
    border-bottom: 1px solid transparent;
}

.tooltip .winnerInfo footer {
    background: #eee;
    height: 17px;

    margin-top: 7px;
    text-align: left;
    padding-left: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.tooltip .winnerInfo footer a {
    display: inline-block;
    padding-left: 8px;
    line-height: 16px;
    color: #01a8e9;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../i/ico-arrows.png) 0 -36px no-repeat;
}

.devTooltip .winnerInfo footer a {
    color: #ff8a00;
    background: url(../i/ico-arrows.png) 0 4px no-repeat;
}

.tooltip .winnerInfo footer a:hover {
    color: #2FBAFF;
    text-decoration: underline;
}

.devTooltip .winnerInfo footer a:hover {
    color: #FFB800;
}

.searchFilter input[type="text"] {
    background: #fff;
    border-radius: 0;
    border: 1px solid #acacac;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.18);
    padding: 1px 6px;
    height: 18px;
    line-height: 18px;
    color: #666;
    vertical-align: top;
    margin: 0 10px 0 0;
}

input[type="text"]:disabled,
.searchFilter input[type="text"]:disabled,
select:disabled {
    background: #fafafa;
    box-shadow: none;
}

.searchFilter .datepicker {
    width: 280px;
}

.searchFilter .ui-datepicker-trigger {
    margin-right: 17px;
}

.searchFilter .isDisabled .ui-datepicker-trigger {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* caledar view. */
.ui-datepicker {
    background-color: #fff;
    width: 243px;
    clear: both;
    display: none;
    z-index: 100 !important;
    border: 1px solid #E7E7E7;
}

.ui-datepicker-calendar {
    background-color: #fff;
    width: 233px;
    margin: 5px;
}

.ui-datepicker-calendar th {
    color: #333;
    background-color: #F9F9F9;
    font-weight: bold;
    text-align: center;
    padding: 0;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    text-align: center;
}

.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
    font-size: 14px;
}

.ui-datepicker-calendar td {
    color: #666;
    background-color: #fff;
    text-align: center;
    padding: 0;
    cursor: pointer;
    height: 30px;
    vertical-align: middle;
}

.ui-datepicker-calendar td a {
    color: #666;
}

.ui-datepicker-calendar td:hover {
    background-color: #666;
    color: #fff;
}

.ui-datepicker-calendar td:hover a,
.ui-datepicker-calendar td:hover a:hover {
    color: #fff;
    text-decoration: none;
}

.ui-datepicker-calendar td.ui-state-disabled:hover {
    background: #fff;
    cursor: default;
}

.ui-datepicker-calendar .ui-datepicker-today {
    background-color: #FF8A00;
    color: #fff;
}

.ui-datepicker-calendar .ui-datepicker-today a {
    color: #fff;
}

.ui-datepicker-calendar .ui-datepicker-current-day {
    background-color: #FFB800;
    color: #fff;
}

.ui-datepicker-calendar .ui-datepicker-current-day a {
    color: #fff;
}

.ui-datepicker-header {
    background-color: #F1F1F1;
    color: #666;
    position: relative;
}

.datepicker-triangle {
    left: -9px;
    top: 50%;
    margin-top: -9px;
    width: 9px;
    height: 18px;
    position: absolute;
}

.ui-datepicker-title {
    line-height: 39px;
    text-align: center;
    height: 39px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    background: url(../i/arrows-rl.png) no-repeat;
    background-position: 3px -25px;
    cursor: pointer;
    z-index: 10;
}

.ui-datepicker-prev {
    width: 20px;
    height: 20px;
    text-indent: 10000px;
    display: block;
    overflow: hidden;
    top: 9px;
    left: 11px;
    position: absolute;
}

.ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 10000px;
    background-position: 3px 4px;
    display: block;
    overflow: hidden;
    top: 9px;
    right: 11px;
    position: absolute;
}

.ui-datepicker-year {
}

.ui-datepicker-calendar td.ui-state-disabled,
.ui-datepicker-calendar td.ui-state-disabled.ui-datepicker-today {
    color: #ccc;
    background: #fff;
}

/* advanced search */
.layChallenges .actions .searchLink {
    padding-right: 10px;
    padding: 4px 9px 5px 35px;
    background: url(../i/ico-zoom.png) 8px 4px no-repeat;
    background-color: #fff;
    line-height: 20px;
    border: 1px solid transparent;
    border-bottom: 0;
}

.layChallenges .actions .searchLink.isActive {
    background-color: #F8F8F8;
    border: 1px solid #e9e9e9;
    border-bottom: 0;
    padding: 4px 9px 12px 35px;
}

/* searchFilter */
.searchFilter {
    margin-bottom: 17px;
}

/* filterOpts */
.filterOpts .types {
    float: left;
    color: #666666;
    font-family: lato, Arial, Helvetica, sans-serif;
}

.searchFilter {
    background: #f8f8f8;
    width: 100%;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}

.filterOpts {
    padding: 10px;
    border: 1px solid #eaeaea;

}

.filterOpts label, .filterOpts label strong {
    font-size: 12px;
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    cursor: default;
}

.ie7 .filterOpts label, .ie7 .filterOpts label strong {
    vertical-align: baseline;
}

.filterOpts .types .list {
    overflow: hidden;
    max-width: 410px;
}

.filterOpts .types .list li {
    float: left;
    width: 204px;
    min-height: 18px;
    margin-bottom: 1px;
    line-height: 22px;
}

.filterOpts .lbl {
    max-width: 140px;
    min-width: 130px;
}

.filterOpts .val {
    overflow: hidden;
    position: relative;
    min-height: 22px;
    min-width: 350px;
}

.filterOpts select {
    vertical-align: top;
    height: 22px;

    outline: none;
    width: 70px;
}

.filterOpts .tt {
    vertical-align: top;
    display: inline-block;
    line-height: 22px;
    margin-left: 12px;
    font-size: 12px;
}

.searchFilter .row {
    margin-bottom: 4px;
    min-height: 25px;
}

.searchFilter .winnerHandle {
    width: 312px;
    margin: 0;
}

.ie7 .searchFilter .winnerHandle {
    width: 312px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.searchFilter .subRow1 label {
    float: left;

    max-width: 137px;
}

.ie7 .searchFilter #fHandle {
    margin-top: 1px;
}

.searchFilter #fHandle {
    float: left;
}

.searchFilter .handleWrap {
    overflow: hidden;

    display: inline-block;
}

.searchFilter .subRow2 label {
    padding-left: 22px;
    display: inline-block;
}

.searchFilter .subRow2 select {
    width: 326px;
}

.searchFilter .datePickerWrap {
    display: inline-block;

    height: 22px;
    float: left;
    padding-bottom: 2px;
}

/* filter actions */
.searchFilter .actions {
    border: 1px solid #eaeaea;
    border-top: none;
    padding: 8px 10px 7px;
    text-align: right;
    height: auto;
}

.searchFilter .actions .btn {
    width: 86px;
}

.ie7 .searchFilter .actions .btn {
    line-height: 32px;
}

.searchFilter .actions .btnSecondary {
    margin-right: 11px;
}

.filterOpts h5 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 9px;
}

.filterOpts .otherOpts {
    margin-left: 428px;
    padding-top: 24px;
}

/* note */
#mainContent .dataChanges.alt {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 12px;
}

#mainContent .note {
    line-height: 44px;
}

/* instructions */
#mainContent .instructions {
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 17px;
    line-height: 18px;
}

#mainContent .instructions h5 {
    font-weight: bold;
    font-size: 13px;
    color: #666;

    padding-bottom: 3px;
}

#mainContent .instructions .infoRow {
    margin-bottom: 14px;
}

#mainContent .instructions small {
    font-size: 12px;
}

#mainContent .instructions .infoRow em {
    color: #f00;
    display: block;
    padding-bottom: 8px;
}

#mainContent .instructions .infoBox {
    margin-bottom: 10px;
    border: 1px solid #c9e6b3;
    background: #e5f6d8 url(../i/ico-info.png) 19px 9px no-repeat;
    padding: 7px 10px 7px 82px;
}
#mainContent > div > div.subscribeTopWrapper{
    padding-top: 10px;
    padding-bottom: 0;
}
span.subscribeTopWrapper {
    margin-bottom: 0;
    border-bottom: none;
}

span.subscribeTopWrapper .feedBtn {
    float: none;
    margin-top: 0;
}

.contestGrid .gdUpcoming > p{
    width: 49.8%;
}
