a{
    cursor: pointer;
}
.nocontestStatus{
    height: 550px;
    line-height: 300px;
    text-align: center;
    color: #FF8A00;    
}
.ratingChart.distributionType{
    display: none;
}
#algoChart1{
    height: 200px;
}
/* coderProfile */
.coderProfile #hero{
    background: #4b536b url(../i/profile-sprite.png) repeat-x;
}
    .coderProfile #hero .container{
        min-height: 235px;        
    }
    .coderProfile .inner{
        background: url(../i/bg-profile.png) 50% 0 no-repeat;
    }
/* aboutCoder */
.aboutCoder{
    color: #fff;
    position: relative;
    min-height: 235px;
}
    .aboutCoder .details{
        padding-top: 13px;
    }
    .aboutCoder .coderPicWrap img{     
        height: auto;
        width: 200px;
        max-width: 200px;
		min-height: 210px;
}
    .aboutCoder .coderPicWrap{
        float: left;
    
        height: 209px;
        border: 3px solid #FFF;  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
        overflow: hidden;
}
    .aboutCoder .info{
        margin-left: 220px;
        color: #fff;
        font-size: 16px;
        text-shadow: 0 1px 3px rgba(0,0,0,0.2);
    }
    .aboutCoder .info label{
        font-size: 16px;
        line-height: 32px;
    }
    .aboutCoder .country{
        line-height: 24px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .aboutCoder .handle a{
        font-size: 24px;
        line-height: 32px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }
    .aboutCoder .handle a:hover{
        color: #FF8A00;
    }
    .aboutCoder .info .val{
        font-size: 24px;
        line-height: 32px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .aboutCoder .coderQuote{
       font-size: 28px;
       position: absolute;
       top: 62px;
       right: 0;
       max-width: 540px;    
       line-height: 32px;
    }
    .aboutCoder .social{
        position: absolute;
        right: -6px;
        bottom: 6px;
        padding: 10px 6px;
        overflow: hidden;
    
        min-height: 35px;
        min-width: 200px;
}
    .aboutCoder .social > li{
        float: right;
        margin-left: 10px;
    }
    .aboutCoder .social a{
        height: 54px;
					 width: 45px;
        background: url(../i/ico-social-alt.png) no-repeat;
        background-position: 0 0;
        display: inline-block;
        behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);
    }
    .aboutCoder .social a{
    			-webkit-transition: none;
					transition: none;
    }
    .aboutCoder .social .fb{
        background-position: 0 0px;
    }
    .aboutCoder .social .fb:hover{
        background-position: -68px 0px;
    }
    .aboutCoder .social .mail{
        background-position: 0 -125px;
    }
    .aboutCoder .social .mail:hover{
        background-position: -68px -125px;
    }
    .aboutCoder .social .tw{
        background-position: 0 -63px;
    }
    .aboutCoder .social .tw:hover{
        background-position: -68px -63px;
    }
    .aboutCoder .social .gp{
        background-position: 0 -188px;
    }
    .aboutCoder .social .gp:hover{
        background-position: -68px -188px;
    }
/* switchBtns */
.switchBtns{
    overflow: hidden;    
}
    .switchBtns > li{
        float: left;
    }
    .switchBtns a{
        height: 34px;
        line-height: 34px;
        display: block;
        border: 1px solid #ffae00;
        margin-left: -1px;
        color: #00aeff;
        text-align: center;
        min-width: 89px;
        background: #fff;
    }
    .trackdesign .switchBtns a{
        border: 1px solid #00aeff;        
        color: #ffae00;    
        margin-left: -1px;
}
    .switchBtns a:hover,
    .switchBtns a.isActive{
        background-color: #ffae00;
        color: #fff;
    }
    .switchBtns a.disabled:hover{
        background-color: transparent;
        color: #00AEFF;
        cursor: default;
    }
    .switchBtns a.isActive.disabled:hover{
        background-color: #ffae00;
        color: #fff;
    }
    .trackdesign .switchBtns a:hover,
    .trackdesign  .switchBtns a.isActive{
        background-color: #00aeff;
        color: #fff;
    }

	.trackdesign .switchBtns a.disabled:hover{
		background-color: transparent;
        color: #FFAE00;
        cursor: default;
	}
	.trackdesign  .switchBtns a.isActive.disabled:hover{
        background-color: #00aeff;
        color: #fff;
    }

    .switchBtns .first a{
        border: 1px solid #ffae00;
        margin-left: 0;
        position: relative;
        border-radius: 4px 0 0 4px;
        behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);  
    }
    .trackdesign .switchBtns .first a{
        border: 1px solid #00aeff;
    }
    .switchBtns .last a{
        position: relative;
        border-radius: 0 4px 4px 0;
        behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);        
    
    
}
    .viewSwitch a{
        min-width: 57px;
        background: url(../i/view-switch.png) no-repeat;
        background-position: 50% -116px;
    }
    .viewSwitch .graphView a{
        min-width: 57px;
        background-position: 50% 0;
    }
    .viewSwitch .graphView a.isActive,
    .viewSwitch .graphView a:hover{
        background-position: 50% 4px;
    }
    .viewSwitch .graphView a{
        background-position: 50% -37px;
    }
    .viewSwitch .tabularView a.isActive,
    .viewSwitch .tabularView a:hover{
        background-position: 50% -76px;
    }
    .viewSwitch .tabularView a{
        background-position: 50% -116px;
    }
/* coderRatings */
.coderRatings{
    color: #333;
    padding-top: 19px;
}
    .coderRatings .actions{
        margin-bottom: 20px;
    
        overflow: hidden;
}
    .coderRatings .actions .trackSwitch{
        overflow: hidden;
    
        float: left;
        margin-right: 59px;
        padding-right: 2px;
}
    .coderRatings .actions .viewSwitch{
        float: left;
    }
    .coderRatings .actions.trackdesign .viewSwitch{
        display: none; 
    }
/* algoLayout */
.algoLayout{
    position: relative;
    min-height: 605px;
    color: #333; 
}
    .algoLayout .ratingInfo{
        margin-right: 240px;
    
        margin-bottom: 5px;
}
    .algoLayout .head{
        border: 1px solid #e7e7e7;
    
        border-right: none;
        border-top: none;
}
    .algoLayout .badges{
        position: absolute;
        right: 0;
        width: 240px;
        background: #f7f7f7;
        top: 0;
        bottom: 0;    
        border: 1px solid #e7e7e7;
    
        overflow: auto;
}
    .algoLayout h4{
        color: #333;
        line-height: 32px;
    }
    .algoLayout .trackNRating{
        background: #f2f2f2;
        text-align: center;
        width: 237px;
        border-right: 1px solid #e7e7e7;
        min-height: 140px;
        float: left;
    }
    .algoLayout .trackNRating h4{
        padding-top: 8px;
    
        white-space: nowrap;
}
    .algoLayout .trackNRating .rating{
        font-weight: bold;
        font-size: 60px;
        line-height: 68px;
    }
    .algoLayout .detailedRating{
        margin-left: 258px;
        overflow: hidden;
        min-height: 124px;
        padding-top: 16px;
    }
    .algoLayout .detailedRating .row {
        line-height: 22px;
        width: 240px;
        float: left;
    
        /*
		Issue ID: I-108002 - don't cut the overflow
		
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
		*/
}
    .algoLayout .row label{
        font-weight: bold;
        display: inline-block;    
        float: left;
}
    .algoLayout .row .val{
        display: inline-block;
        margin-left: 4px;
    
        float: left;
        max-width: 96px;
        height: 22px;
        text-transform: capitalize;
        /*
		Issue ID: I-108002 - don't cut the overflow
		
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
		*/
}
    .algoLayout .badges .head{
        text-align: center;
        border: none;
        height: 53px;
        border-bottom: 1px solid #e7e7e7;
    }
    .algoLayout .badges .head h4{
        line-height: 54px;        
    }
    .algoLayout .badges .badgeGroups{
        padding: 10px 0;
        border-bottom: 1px solid #e7e7e7; 
    }
    .algoLayout .badges .footer-badges{
        padding-top: 11px;
    
        overflow: hidden;
}
    .algoLayout .ratingViews{
        border: 1px solid #E7E7E7;
        border-top: none;
        min-height: 492px;
    
        position: relative;
    }
    .algoLayout .ratingViews .chartWrap{
        padding-top: 30px;
        height: 402px;
    }
    .algoLayout .ratingViews .chartWrap.loadingChart{    
        background: #ff8a00 url(../i/loading.gif) 50% 50% no-repeat;
                
    
}
    .algoLayout .ratingViews .chartWrap.loadingChart > .chart,
    .algoLayout .ratingViews .chartWrap.loadingChart > .ratingChart{
        visibility: hidden;        
        opacity: 0;
        filter: Alpha(opacity=0%);    
}
    .chartTypeSwitcher{
        margin-left: 30px;
    
        margin-bottom: 20px;
}
    .chartTypeSwitcher .btn.isActive{
        background: #FF7A00;
        text-decoration: none;
        color: #FFF;
    }
    .chartWrap.loadingChart .chartTypeSwitcher{
        display: none;        
    }
    .algoLayout .ratingViews .chart{
        height: 350px;
        
    }
    .algoLayout .ratingViews .subTrackTab{
        min-height: 493px;
    }
    /* tabNav */
    .algoLayout .subTrackTabs .tabNav{
        background-color: #D2D2D2;
            
        text-align: center;
        height: 54px;
    }
    .algoLayout .subTrackTabs .tabNav h3{
        line-height: 46px;
    }
    .algoLayout .subTrackTabs .tabNav > table{
        width: 100%;
    }
    .algoLayout .tabNav ul{
        overflow: hidden;    
        width: auto;
        height: 54px;
        background-color: #D2D2D2;
        display: inline-block;
    }
    .algoLayout .tabNav .tabNavHead th{
        text-align: center;
        vertical-align: middle;
        height: 54px;    
        border-left: 1px solid #fff;
    }
    .algoLayout .tabNav .tabNavHead tr th:first-child{
        border-left: none;
    }
    .algoLayout .tabNav .tabNavHead th a{
        display: block;
        height: 54px;
        line-height: 54px;
        text-align: center;    
        background-image: url(../i/tabNav-arrow.png);  background-repeat: no-repeat;
        background-position: 50% 120%;
    
        color: #fff;
}
    .algoLayout .tabNav .tabNavHead th a:hover{
        background-color: #FFAE00;
    }
    .algoLayout .tabNav .tabNavHead th .isActive{
        background-color: #FFAE00;
            
        color: #fff;
        background-position: 50% 100%;
    }
    
    .algoLayout .tabNav li{
        float: left;
        width: auto;
        text-align: center;
        background: #d2d2d2;
    
        border-left: 1px solid #FFF;
}
    .algoLayout .tabNav li:first-child{
        width: auto;
    
        border-left: none;
}
    .algoLayout .tabNav li a{
        height: 54px;
        line-height: 54px;
        color: #fff;
        display: block;
        background-image: url(../i/tabNav-arrow.png);
        background-repeat: no-repeat;
        background-color: #d2d2d2;
        background-position: 50% 180%;
        padding: 0 13px 0;
}
/*Bugfix I-112763: adjust nav bar to fit all categories*/
  .algoLayout .tabNav li a.small{
      height: 34px;
      line-height: normal;
      width: auto;
      color: #fff;
      display: block;
      background-image: url(../i/tabNav-arrow.png);
      background-repeat: no-repeat;
      background-color: #d2d2d2;
      background-position: 50% 180%;
      font-size: 11px;
      padding: 10px 2px 10px;
  }
    .algoLayout .tabNav li.alt a{
        padding: 13px 13px 0;
        height: 41px;
    
        line-height: 16px;
}
    .algoLayout .tabNav li a:hover{
        background-color: #ffae00;
    }
    .algoLayout .tabNav li a.isActive,
    .algoLayout .tabNav li a.isActive:hover{
        background-color: #ffae00;
        background-position: 50% 100%;
    }
    
/* forumPosts */
.forumPosts{
    background: #eee;
    padding-top: 24px;
    padding-bottom: 40px;
    margin-bottom: -32px;
    margin-top: 32px;
}
    .forumPosts .forumList a{
        color: #00ADD0;
    }
    .forumPosts .forumList a:hover{
        color: #00D4FF;
    }
    .forumPosts h2{
        font-size: 30px;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 12px;
    }
    .forumPosts h2 small{
        font-size: 18px;
    }
    .forumPosts .post{
        border-bottom: 1px solid #d8d8d8;
        padding: 20px 345px 18px 50px;
        position: relative;
}
    .forumPosts .post .head{    
        line-height: 24px;
}
    .forumPosts .post .thumb{
        position: absolute;
        top: 22px;
        left: 0;
        width: 40px;
        height: 36px;
        background-color: #FFAE00;
        background-image: url(../i/ico-tracks.png);
        background-repeat: no-repeat;
    }
    .forumPosts .postDesign .thumb{
        background-position: 0 -50px;
        background-color: #00ADD0;
    }
    .forumPosts .postDev .thumb,
    .forumPosts .postDevlop .thumb{
        background-position: 0 0;
        background-color: #7AB800;
    }
    .forumPosts .post .thumb:hover{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }
    .forumPosts .post .head .postTitle{
        display: inline-block;
        margin-right: 30px;
    }
    .forumPosts .post .head .postedBy{
        color: #aaa;
        font-size: 12px;
    }
    .forumPosts .post .head .postAuthor{
        display: inline-block;
        margin-left: 3px;
    }
    .forumPosts .postBody{ 
        color: #666;
        font-size: 12px;
    }
    .forumPosts .postInfo{
        position: absolute;
        right: 0;
        top: 18px;    
        font-size: 12px;
        text-align: right;
        color: #aaa;
}
    .forumPosts .postInfo em{
        color: #666;
    }
    
    .forumPosts .postInfo .row{
        line-height: 24px;
    }
    .forumPosts .sep{
        display: inline-block; 
        border-right: 1px solid #bebebe;
    
        width: 1px;
        height: 12px;
        margin: 6px 7px 0;
        vertical-align: top;
}

/* dataChanges */
.dataChanges .pager .pageLink{
    float: left;
    display: inline-block;
    margin-left: 10px;
}
.dataChanges .pager .pageLink.isActive,
.dataChanges .pager .pageLink.isActive:hover{
    color: #666;
    cursor: default;   
}

#mainContent .dataChanges .pager .prevLink{
    margin-right: 5px;
}
#mainContent .dataChanges .pager .nextLink{
    padding-left: 0;
    
    margin-left: 20px;
}

/* ratingTable */
.ratingTable{
    width: 100%;
}
    .ratingTable caption{
        background: #ffae00;
        color: #fff;
        font-size: 12px;
        height: 25px;
        line-height: 24px;
        text-align: left;
        text-indent: 15px;
    }
    .ratingTable thead th{
        background: #f7f7f7;
        vertical-align: middle;
        color: #666;
        height: 25px;
        font-weight: bold;
    
        border: solid #E7E7E7;
        font-size: 12px;
        border-width: 1px 0;
}
    .ratingTable td{
        text-align: center;
        color: #666;
    
        height: 28px;
        vertical-align: middle;
    
        font-size: 12px;
}
    .ratingTable .alt td{
        background: #f7f7f7;
    }
    table .alignL{
        text-align: left;
    }
    .ratingTable .colProblem{
        padding: 0 15px;
        text-align: left;
    }
    .ratingTable .colDetails{
        padding: 0 15px;
        text-align: left;
    }
    .ratingTable .colTotal{
        padding: 0 15px;
        text-align: right;
    }
/* leftTabSplit layout */
.leftTabSplit{
    display: block;
}
.leftTabSplit .leftTabStream{
    width: 236px;    
    float: left;
    height: 492px;
}
.leftTabSplit .mainTabStream{
    margin-left: 237px;
    border-left: 1px solid #e7e7e7;
}

.srm .chartGroup .chartWrap{
    padding: 0;
    position: relative;
    height: auto;
}
    .srm .chartGroup .chart{
        height: 164px;
    
        width: 236px;
}
    .srm .chartGroup .chartLbl{
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 53px;
        color: #666;
    }
    .srm .chartGroup .chartLbl em{
        display: block;
        font-size: 30px;
        color: #81bc01;
        line-height: 34px;
    }
    .srm .chartGroup .chartYellow .chartLbl em{
        color: #ffae00;
    }
/* web design */
.designLayout{
    display: block;
}
    .designLayout .ratingInfo{
        min-height: 685px;
        border: 1px solid #e7e7e7;
    }
    .designLayout .submissionThumb{
        width: 412px;
        float: left;    
        height: 402px;
        overflow: hidden;
		background:#000;
}
    .designLayout .submissionThumb img{
        width: 412px;
    }
    .designLayout .rwsDetails{
        margin-left: 412px;
    
        border-left: 1px solid #E7E7E7;
}
    .designLayout .rwsDetails .head{
        height: 53px;
        border: none;
        border-bottom: 1px solid #E7E7E7;
    
}
    .designLayout .rwsDetails h4{
        text-align: center;
        line-height: 54px;
    }
    .designLayout .winInfo .contestTitle{
        padding-left: 46px;
        display: block;
        position: relative;
        min-height: 36px;
        max-height: 36px;
        color: #00aeff;
        width: 245px;
        margin: 20px auto 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .designLayout .winInfo .contestTitle i{
        position: absolute;        
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 36px;
        background-color: #7AB800;
        background-image: url(../i/ico-tracks.png);
        background-repeat: no-repeat;
        behavior: url(./wp-content/themes/tcs-responsive/css/PIE.htc);     
        
}
    .designLayout .winInfo .contestTitle:hover{
        color: #00D4FF;
    }
    .designLayout .winInfo .contestTitle:hover i{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        transition-duration: 0.3s;
    }
    .designLayout .winInfo .badgeImg{
        margin-top: 22px;
        height: 146px;
        background: url(../i/win-badge-big.png) no-repeat;
        background-position: 50% 0;
    }

	.designLayout .winInfo .badgeImg.rank2{
		background-position:110px -150px;
	}

	.designLayout .winInfo .badgeImg.rank3{
		background-position:110px -300px;
	}

	.designLayout .winInfo .badgeImg.rankM{
		background-position:110px -450px;
	}

    .designLayout .winInfo .badgeImg.rank4{
        background-position:110px -600px;
    }

    .designLayout .winInfo .badgeImg.rank5{
        background-position:110px -750px;
    }
	
    .designLayout .winInfo .prizeAmount{
        text-align: center;    
        margin-top: 12px;
        height: 48px;
}
    .designLayout .winInfo .prizeAmount .val{
        position: relative;
        display: inline-block;
        padding-left: 35px;
        line-height: 36px;
        font-size: 30px;
        color: #333;
    }
    .designLayout .winInfo .prizeAmount i{
        background: url(../i/ico-usd.png) 0 0 no-repeat;
        height: 27px;
        width: 27px;
        position: absolute;
        left: 0;
        top: 5px;        
    }
    .designLayout .winInfo .submittedOn{
        margin-top: 15px;
        text-align: center;
        background: #f7f7f7;
        border-top: 1px solid #e7e7e7;
        height: 48px;
        line-height: 48px;
        color: #7c878b;
    }
    .designLayout .winInfo .submissionCarousel{
        border-top: 1px solid #e7e7e7;
        height: 200px;
    }
    
    .submissionCarousel .bx-controls{     
         bottom: 13px;
         z-index: 60;
         width: auto;
         margin-left: 452px;
}
/* slider-ctrl */
.slider-ctrl{
    display: block;
    text-align: center;
}
        .slider-ctrl .slider-pager{
            overflow: hidden;        
            display: inline-block;
        }
        .ie7 .slider-ctrl .slider-pager{
            overflow: hidden;        
            display: block;
            width: 150px;
            margin: 0 auto;
        }
        .slider-ctrl .slider-pager-item{
            float: left;
            margin-left: 5px;
            text-align: left;
            text-indent: -100px;
            overflow: hidden;            
        }
    .slider-ctrl .slider-pager-item a{
        display: block;
        height: 16px;
        width: 16px;
        background: url(../i/nav-dot-blue.png) no-repeat;
        background-position: 0 -30px;            
        -moz-transition-duration: 0s; -webkit-transition-duration: 0s; transition-duration: 0s;
    }
    .slider-ctrl .slider-pager-item a.isActive,
    .slider-ctrl .slider-pager-item a:hover{
        background-position: 0 0px;                
    }
    .submissionCarousel .slider{ 
        width: 210px;
        height: 215px;    
        position: relative;
        margin: 15px auto 18px;  
        -webkit-transform-style: preserve-3d;  
        -moz-transform-style: preserve-3d;  
        -o-transform-style: preserve-3d;  
        -ms-transform-style: preserve-3d;  
        transform-style: preserve-3d;  
        -webkit-perspective: 1000px;  -moz-perspective: 1000px;  -o-perspective: 1000px;  -ms-perspective: 1000px;  perspective: 1000px;
}
     .submissionCarousel .slider .slide{
        border: 1px solid #e8e8e8;        
         width: 205px;
        height: 205px;
		background:#000;
        cursor: pointer;
} 
    .submissionCarousel .slider .slide figure{
        max-height: 100%;
        overflow: hidden;
    }
     .submissionCarousel .slider .slide.current{
         border: 5px solid #00aeff;      
         border-radius: 5px;
     }
     .submissionCarousel .slider .slide img{
         width: 100%;
     }
     .submissionCarousel .slider #iCarouselPrev,
     .submissionCarousel .slider #iCarouselNext{
         position: absolute;
         left: -268px;
         top: 88px;
         z-index: 1000;
         min-width: 30px;
         background: url(../i/caro-nav.png) no-repeat;
         background-position: 50% 9px;
         height: 30px;
         overflow: hidden;
         cursor: pointer;
         text-indent: -100px;
         border: 1px solid transparent;
     }
     .submissionCarousel .slider #iCarouselNext{
         left: auto;
         right: -268px;
         background-position: 50% -21px;
     }
      .submissionCarousel .slider #iCarouselPrev:hover{
         background-position: 40% 9px;      
     }
     .submissionCarousel .slider #iCarouselNext:hover{
         background-position: 60% -21px;       
     }
     .submissionCarousel #iCarousel-timer{
         display: none !important;
     }
     .submissionCarousel{
         border-top: 1px solid #e7e7e7;
         overflow: hidden;
    }

/* noParticipation */
.noParticipation{
    border: 1px solid #E7E7E7;
    height: 500px;
    padding: 50px;
}
    .noParticipation h2{
        color: #FF8A00;
        font-size: 24px;
        text-align: center;
        line-height: 30px;
    }

.loadingPlaceholder{
    background: url(../i/loading.gif) 50% 50% no-repeat;
    height: 250px;
    border-radius: 5px;
}

.loadingPlaceholder2{
    background: url(../i/ajax-loader.gif) 50% 50% no-repeat;
    height: 250px;
    border-radius: 5px;
}