.landing-page {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    width: 1010px;
    margin: 0 auto;
    overflow: hidden;
    }
    .landing-page .btn{
        display: inline-block;
        text-decoration: none;
        background: #ff9900;
        color: #fff;
        border-bottom: 4px solid #ff7a00;
        height: 32px;
        line-height: 34px;
        width: 130px;
        text-align: center;
        font-size: 15px;
        border-radius: 6px;
        position: relative;
        transition-duration: .3s;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        outline: none;
    }
    .landing-page .btn:hover {
        background: #ff7a00;
    }
    .landing-page h1.getting-started {
        display: none;
        font-size: 36px;
        font-weight: normal;
        text-align: center;
        color: #333333;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .landing-page h3 {
        font-size: 32px;
        font-weight: normal;
        text-align: center;
        color: #388bcb;
        margin-top: 30px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .landing-page h4 {
        font-size: 22px;
        font-weight: normal;
        text-align: center;
        color: #666666;
        margin: 0;
        padding: 0;
    }
    .landing-page .sign-up {
        height: 120px;
        background: #d9ebf8;
        margin-top: 50px;
        text-align: center;
        position: relative;
        }
        .landing-page .sign-up .arrow{
            background: url(../i/sign-up-arrow.png) no-repeat;
            height: 25px;
            width: 90px;
            position: absolute;
            bottom: -25px;
            left: 50%;
            margin-left:  -45px;
        }
        .landing-page .sign-up .shadow{
            background: url(../i/lp-shadow.png) no-repeat;
            height: 22px;
            width: 165px;
            position: absolute;
            bottom: 25px;
            left: 50%;
            margin-left:  -82px;
        }
        .landing-page .sign-up .btn{
            margin-top: 27px;
            font-size: 22px;
            height: 40px;
            line-height: 40px;
            }

    .landing-page .track-boxes {
        width: 100%;
        margin-top: 40px;
        padding: 0 15px;
    }
        .landing-page .track-boxes .box{
            width: 320px;
            margin-right: 10px;
            float: left;
            margin-bottom: 40px;
        }
            .landing-page .track-boxes .box .text {
                margin: 15px 0 5px;
                text-align: center;
            }
                .landing-page .track-boxes .box a{
                    font-size: 17px;
                }
                    .landing-page .track-boxes .box a:hover{
                        text-decoration: none;
                    }
.challenges {
    height: 385px;
    position: relative;
    text-align: center;
    background: #d9ebf8 url(../i/challenges-bg.png) repeat-x;
}
    .challenges .arrow {
        background: url(../i/challenges-arrow.png) no-repeat;
        height: 25px;
        width: 85px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left:  -42px;
        }
    .challenges h1 {
        font-size: 32px;
        color: #1782bd;
        font-weight: normal;
        padding-top: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .challenges h2 {
        font-size: 22px;
        color: #333333;
        font-weight: normal;
        padding-top: 0;
        margin-top: 0;
    }
    .challenges .box {
        width: 33%;
        float: left;
        padding-top: 20px;
        text-align: center;
    }

.challenges .box p {
	margin: 16px 0;	
}
	.challenges .box p a {
		text-decoration: none;
		color: #3f4242;
		font-size: 26px;
	}

.compete-win {
    height: 332px;
    position: relative;
    text-align: center;
    margin-bottom: 120px;
    background: #d9ebf8 url(../i/compete-bg.png) center no-repeat;
}
    .compete-win h1 {
        font-size: 32px;
        color: #1782bd;
        font-weight: normal;
        padding-top: 30px;
        padding-bottom: 0;
        margin: 0;
    }
    .compete-win h2 {
        font-size: 22px;
        color: #333333;
        font-weight: normal;
        padding: 0 10px;
        margin-top: 0;
    }
    .compete-win img {
        position: absolute;
        left: 50%;
        margin-left: -250px;
        bottom: -75px;
        width: 500px;
    }
.bottom-nav {
    width: 100%;
    margin-bottom: 65px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
}
    .bottom-nav .box {
        width: 25%;
        float: left;
        text-align: center;
    }
    .bottom-nav .box .space{
        width: 100%;
        height: 15px;
    }
    .bottom-nav .box h5{
        font-weight: normal;
        font-size: 20px;
        color: #0870b7;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0;
    }
    .bottom-nav .box p{
        font-weight: normal;
        font-size: 16px;
        color: #7d7f80;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0;
    }
	
	.bottom-nav .box .follow-us{
		margin: 5px 0 16px;
	}
    .bottom-nav .box a.social{
       margin-left: 8px;
        }
        .bottom-nav .box a.social:hover{
            opacity: .8;
        }

    .bottom-nav .box p{
        padding-top: 20px;
    }
        .bottom-nav .box p.low{
            padding-top: 0;
        }

.landing-page .thank-you {
    background: #f2f2f2;
    position: relative;
    padding: 30px 20px 40px 20px;
    margin-top: 50px;
    text-align: center;
}
.landing-page .thank-you h2 {
    color: #333333;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.landing-page .thank-you h3 {
    color: #666666;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
/*additional challenge-detail link styles for inserted content on registration complete page*/
.landing-page .thank-you h4 {
  padding-bottom: 0;
  padding-top: 30px;
  line-height: 35px;
}
.landing-page .thank-you img {
    position: absolute;
    left: 162px;
}

br.display {
    display: none;
}


@media (max-width: 1024px) {
    .landing-page {
        width: 100%;
        margin: 0;
    }
        .landing-page h1.getting-started {
            display: block;
        }
        .landing-page .track-boxes .box{
            float: none;
            text-align: center;
            margin: 0 auto 40px auto;
        }
        .landing-page .track-boxes .box img{
            width: 300px;
        }
    .landing-page .track-boxes {
        padding: 0;
    }
    .challenges {
        height: 856px;
    }
        .challenges h2 {
            padding-left: 20px;
            padding-right: 20px;
        }
        .challenges .box {
            width: 100%;
            float: none;
            padding-top: 30px;
        }
    .compete-win {
        margin-bottom: 90px;
    }
    .compete-win img {
        width: 315px;
        position: absolute;
        left: 50%;
        margin-left: -150px;
        bottom: -50px;

    }
    .bottom-nav {
        border-bottom: 0;
        padding-bottom: 10px;
        margin-bottom: 5px;
        padding-top: 0;
    }
    .bottom-nav .box {
        width: 66%;
        margin: 10px 17%;
        float: none;
        border-bottom: 1px solid #d6d6d6;
        text-align: center;
        padding: 10px 0;
    }
    .bottom-nav .box.last {
        border-bottom: none;
    }
    .landing-page .thank-you img {
        position: static;
    }
    br.display {
        display: block;
    }
}

@media (max-width: 321px) {
    .challenges h1 {
        font-size: 30px;
    }
    .landing-page .thank-you h2 {
        color: #333;
        font-size: 30px;
    }
    .challenges h2 {
        font-size: 18px;
    }
}
