/* width < 1010px  
-----------------------------*/

@media (max-width: 1019px) {
    
#banner{
    height: 355px;
    background: #fff  url(../i/bg-banner-sprite-m.png) repeat-x;
    overflow: hidden; 
}
#banner .inner{    
   height: 355px;
   background: url(../i/bg-banner-m.png) 50% 0 repeat-x;
}

#banner .inner .container {
    background: url(../i/banner-1-m.png) 50% 0 no-repeat;
}

#banner .inner .container .bx-wrapper{
    margin: 0;
    max-width: 100% !important;
}
    

/* slider */
#banner .slider{
    height: 226px;
    display: block;
}
    #banner .slider .welcome .con{
        background: url(../i/banner-1-m.png) 50% 100% no-repeat;
    
        height: 355px;
        text-align: center;
        width: auto;
}
			#banner .slider li .con{
				padding-right: 0px;
			}
    #banner .slider .welcome .btnMore{
        position: relative;
        left: auto;
        top: auto;
    
        width: 101px;
        margin-top: 14px;
}
    #banner .slider .slide{
        font-size: 36px;
        line-height: 226px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        background: #666;
    
        margin-top: 80px;
}    
     #banner .bx-controls{
         position: absolute;
         right: 0;
     
         left: 0;
         bottom: auto;
         top: 12px;
         margin: 0;
}
        #banner .bx-controls .bx-pager{
            overflow: hidden;
        
            text-align: center;
}
        #banner .bx-controls .bx-pager-item{
            float: none;
            margin: 0 3px;
            text-align: left;
            text-indent: -100px;
            overflow: hidden;            
        
            display: inline-block;
}
            #banner .bx-controls .bx-pager-item a{
                display: block;
                height: 12px;
                width: 12px;
                background: url(../i/nav-dot.png) no-repeat;
                background-position: 0 -12px;
            
                -moz-transition-duration: 0s; -webkit-transition-duration: 0s; transition-duration: 0s;
}
            #banner .bx-controls .bx-pager-item a.active,
            #banner .bx-controls .bx-pager-item a:hover{
                background-position: 0 0;                
            }
    #banner .welcome{
        color: #fff;
        font-size: 12px;
    
        letter-spacing: 1px;
        line-height: 16px;
}
    #banner .welcome blockquote{
        position: relative;
        right: auto;
    
        top: auto;
        padding-top: 28px;
        margin: 0 10px;
        width: auto;
}
    #banner .welcome info{
        
    }
     #banner .welcome h2{
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    
        padding-bottom: 9px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0;
        line-height: 22px;
}
#stats{
    font-size: 13px;
    color: #3e4c51;
    line-height: 16px;
    min-height: 83px;
    text-align: center;
    height: auto;
}
    #stats p{
        text-indent: 0;
    
        letter-spacing: 1px;
        min-height: 26px;
        padding-top: 8px;
}
    #stats em{
        font-weight: bold;
    }
    #stats .btn{
        position: relative;
        right: auto;
        top: 0;
        width: 205px;
    }
    
/* mainContent */
#mainContent{
    background: url(../i/shadow.png) 50% 0 no-repeat;    
    padding-top: 8px;
    padding-bottom: 18px;
    background-size: 120% 20px;
}
    #mainContent .title{
        padding-top: 14px;
        text-align: center;
    
        margin-bottom: 12px;
}
    #mainContent .slogan{
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
    
        margin: 0 8px;
}
.whatVdo{
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 26px;
    border-bottom: 1px solid #e7e7e7;
}
    .whatVdo > section{
        float: none;
        width: auto;
        margin-left: 0;
        position: relative;
        text-align: center;
    
        padding-top: 141px;
        margin-top: 20px;
}
    .whatVdo > section:first-child{
        margin-top: 0;
    }
    .whatVdo > section h3{
        padding-bottom: 15px;
        color: #01a8e9;
    }
    
    .whatVdo > section.build h3{
        color: #228400;
    }
    .whatVdo > section.solve h3{
        color: #ff7400;
    }
    .whatVdo > section p{
        font-size: 13px;
        line-height: 18px;
    
        letter-spacing: 1px;
        padding: 0 10px;
}
    .whatVdo > section img{
        position: absolute;
        top: 0;
        left: 50%;
        height: 130px;
    }
    .whatVdo > section.build i{
        background-position: 50% -150px;        
    }
    .whatVdo > section.solve i{
        background-position: 50% -300px;        
    }

#featuredContent{
    background: #ddd;
    position: relative;
    min-height: 364px;
}
    #featuredContent .otherHalf{
        left: 50%;
        top: 0;
        bottom: 0;
        right: 0;
        background: #eee;
        position: absolute;
    
        display: none;
}
     #featuredContent .container > section{
         position: relative;
     
         padding-bottom: 22px;
}
        #featuredContent .container > section > h3,
        #featuredContent .container > section > p,
        #featuredContent .container > section > .action{
            margin: 0 12px;
        
            text-align: center;
}
     #featuredContent .container > section .badge{
        position: absolute;   
        left: 50%;
        top: -1px;
        width: 185px;
        height: 125px;
        background: url(../i/ico-featured.png) no-repeat;
        background-position: 0 0;
    
        margin-left: -73px;
}
    #featuredContent .container > section.toChallenge .badge{
        background-position: 0 -149px;
    }
     #featuredContent .container > section h3{
         font-size: 30px;
         line-height: 36px;
         color: #ea005d;
         padding: 130px 0 9px;
     }
     #featuredContent .container > section.toChallenge h3{
         color: #006cff;
     }
     #featuredContent .container > section p{
          line-height: 24px;
          font-size: 13px;
          letter-spacing: 1px;
      }
    #featuredContent .container > section .em{
        padding: 7px 0 3px;
    }
    #featuredContent .container > section em{
        font-size: 24px;
        line-height: 30px;
    }
     #featuredContent .container > section .caption{
         letter-spacing: 0;
         font-weight: bold;
         line-height: 20px;
     }
     #featuredContent .container > section .action{
    padding: 15px 0 5px;
         
     }
.nextLink{
    position: relative;
    padding-right: 23px;
}
.nextLink i{
    display: inline-block;
    height: 13px;
    width: 8px;
    top: 7px;
    right: 4px;
    background: url(../i/arrow-nxt.png) no-repeat;
    background-position:  0 0;
    position: absolute;
    -moz-transition-duration: .3s; -webkit-transition-duration: .3s; transition-duration: .3s;    
}
.nextLink:hover{
   color: #FF8A00; 
}
.nextLink:hover i{
    right: 0;
}
     #featuredContent .container > section .action a{
         font-size: 18px;
         display: inline-block;  
         line-height: 24px;
    }
    #featuredContent .toBusiness{
        float: none;
        width: auto;
    
        margin: 0 -10px;
}
    #featuredContent .toChallenge{
        margin-left: 0;
    }

/* hero area */
#hero{
    min-height: 162px;
    background: #eee; 
}
    #hero .trackList{
        margin: 0 -10px;
    }
    #hero .track{
        text-align: center;
        font-size: 13px;
        color: #01a8e9;
    
        margin-top: 18px;
        -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;       
        padding: 0;
        margin: 18px 1.5% 0;
        width: 30.2%;
        min-width: 20px;
}
    #hero .trackSD{
        color: #228400;
    }
    #hero .trackAn{
        color: #ff7400;
    }
    #hero .track i{
        display: block;
        height: 89px;
        width: 89px;
        margin: 0 auto 10px;
}
    #hero .trackUX i{
        background: url(../i/ico-ux.png) 50% 0 no-repeat;
    }
    #hero .trackSD i{
        background: url(../i/ico-sd.png) 50% 0 no-repeat;
    }
    #hero .trackAn i{
        background: url(../i/ico-an.png) 50% 0 no-repeat;
    }
    
#hero .tracksInfo{
    padding: 2px 2px 14px;
    margin: 0 -10px;
}
    #hero .trackInfo{
       height: 120px; 
       background: #fff;
       box-shadow: 0 1px 1px rgba(0,0,0,0.5);
       font-size: 14px;
       color: #666;    
       position: relative;
       float: none;
       display: block;
       width: auto;
       margin: 11px 10px 0;
}
    #hero .trackInfo i{
       height: 89px;
       width: 89px;
    
       position: absolute;
       left: 13px;
       top: 13px;
}
    #hero .trackInfo p{
       padding-left: 118px;
    
       margin-right: 8px;
}
    #hero .trackInfo h3{
       display: block;
       color: #01a8e9;       
       padding: 16px 0 3px 118px;
    }
    #hero .trackInfo.trackSD h3{
        color: #228400;
    }
    #hero .trackInfo.trackAn h3{
        color: #ff7400;
    }
    #hero .trackInfo a{
       display: inline-block;
    
       font-size: 12px;
}
/* layout Challenges */
.layChallenges{
    display: block;
}
    .layChallenges  header{
        border-bottom: 1px solid #e7e7e7;
    
        padding-bottom: 8px;
        position: relative;
        font-size: 16px;
        text-indent: 10px;
        margin: 0 -10px;
}
    .layChallenges  header .rt{
        position: absolute;
        right: 0;
    
        top: 4px;
        display: none;
}
    .layChallenges  header .rt a{
        display: inline-block;
        float: left;
        margin-left: 20px;
    
        line-height: 36px;
        -moz-transition-duration: 0s; -webkit-transition-duration: 0s; transition-duration: 0s;
}
    .layChallenges .views > a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../i/ico-views.png) no-repeat;
    background-position: 0 0;
}
    .layChallenges .views .gridView{
        background-position: 0 -50px;
    }
    .layChallenges .views .listView{
        background-position: 0 -150px;
    }
    
    .layChallenges .views .gridView.isActive{
        background-position: 0 0px;
        cursor: default;
    }
    
    .layChallenges .views .listView.isActive{
        background-position: 0 -100px;
        cursor: default;
    }
    
.layChallenges .actions{
    min-height: 25px;
    position: relative;
    font-size: 16px;
    padding: 0;
    margin: 0 -10px;
}
    .layChallenges .actions .rt{
        float: none;    
        margin-top: 0;
        line-height: 42px;
        border-bottom: 1px solid #e7e7e7;
        text-align: center;
        z-index: 10;
}
    .layChallenges .actions .lt{
        float: none;
        text-align: center;
        line-height: 42px;
        border-bottom: 1px solid #e7e7e7;
        margin: 0;
    }
    .layChallenges .actions .lt > span{
        float: none;
    }
    .lt .ddWrap{
         float: none;
    }
        .ddWrap{
            display: inline-block;
            vertical-align: top;
            height: 24px;
        
            z-index: 100;
            position: relative;
}
    .layChallenges .challengeType{
    
        width: auto;
        margin: 0;
        border-bottom: 1px solid #e7e7e7;
        text-align: center;
        min-height: 32px;
        padding-top: 10px;
}
    .layChallenges .challengeType ul{
        overflow: hidden;
    
        display: inline-block;
        font-size: 16px;
        padding: 4px 0;
}
    .layChallenges .challengeType ul > li{
        float: left;    
        border-left: 1px solid #D0D0D1;
        height: 16px;
        line-height: 18px;
}
    .layChallenges .challengeType ul li:first-child{
        border-left: 0;
    }
    .layChallenges .challengeType ul .link{
        margin: 0 10px;        
    }
    .layChallenges .challengeType ul .link.active,
    .layChallenges .challengeType ul .link.active:hover{
        color: #666;
        cursor: default;
    }
    .layChallenges .actions .searchLink{
        background: url(../i/ico-zoom.png) 0 50% no-repeat;
        padding-left: 27px;
    
        line-height: 22px;
        height: 22px;
        display: inline-block;
}
    .layChallenges .actions .upDown{
        display: inline-block;
        padding-right: 20px;
        position: relative;
    
        border-left: 1px solid transparent;
}
    .layChallenges .actions .upDown i{
        position: absolute;
        right: 0;
        top: 9px;
        width: 13px;
        height: 24px;
        background: url(../i/arrows-ud.png) no-repeat;
        background-position: 0 9px;        
    }
    .layChallenges .actions .upDown.alt{
        background-position: 100% -11px;
    }
/* dataChanges */    
#mainContent .dataChanges{
    padding-top: 19px;
    font-size: 14px;
    
    min-height: 18px;
    overflow: hidden;
    position: relative;
}
#mainContent .mainStream .dataChanges{
    font-size: 16px;
}
    #mainContent .dataChanges .mid{
        text-align: center;
    
        display: block;
        margin: 0 100px;
        position: relative;
}
    #mainContent .dataChanges .lt{
        float: left;        
    
        min-width: 99px;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 19px;
}
    #mainContent .dataChanges .rt{
        float: right;        
    
        text-align: right;
        z-index: 1;
        position: absolute;
        right: 0;
        top: 19px;
}
    #mainContent .dataChanges .nextLink{
        display: inline-block;   
        padding-right: 18px;
        position: relative;
        padding-left: 10px;
}   
    #mainContent .dataChanges .nextLink i{
        top: 2px;
    }
    #mainContent .dataChanges .prevLink{
        display: inline-block;   
        padding-left: 18px;
        position: relative;
}   
    #mainContent .dataChanges .prevLink.hide{
        display: none;
    
}
    #mainContent .dataChanges .prevLink i{
        top: 2px;
    }
/* data table */
.dataTable{
    width: 100%;
    font-size: 14px;
}
    .dataTable .imp{
        color: #f00;
    }
    .dataTable th,
    .dataTable td{
        border: solid #e7e7e7;
        border-width: 1px 0;
    }
    .dataTable th{
        vertical-align: middle;
        background: #f1f1f1;
        font-weight: normal;
        height: 42px;    
        font-size: 14px;
    }
    .dataTable tbody .alt td{
        background: #f7f7f7;
    }
    .dataTable th.colCh{
        text-align: left;
        text-indent: 56px;
        width: 308px;
    }
        .dataTable .colCh div{
            margin-right: 15px;
        }
        .dataTable .colCh a{
            color: #666;
            line-height: 22px;
            position: relative;
            padding-left: 66px;
            display: inline-block;
        }
            .dataTable .colCh a i{
                position: absolute;
                top: 4px;
                left: 14px;
                background: url(../i/ico-tracks.png) no-repeat;
                background-position: 0 0;
                background-color: #7ab800; 
                width: 40px;
                height: 36px;
                transition-duration: 0.2s;
}
        .dataTable .trackSD .colCh a i{
            background-position: 0 0;
            background-color: #7ab800; 
        }
        .dataTable .trackUX .colCh a i{
            background-position: 0 -50px;
            background-color: #00add0; 
        }
        .dataTable .trackAn .colCh a i{
            background-position: 0 -100px;
            background-color: #ffae00; 
        }
        .dataTable .colCh a:hover{
            color: #FF8A00;
        }
        .dataTable .colCh a:hover i{
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        }
    .dataTable .btn{
        width: 86px;
    }
    .dataTable tbody td{
        height: 95px;
        vertical-align: middle;
    }
    .dataTable tbody td{
        height: 95px;
        vertical-align: middle;
    }
.dataTable th.colTime{
    width: 224px;
}
.dataTable tbody .colTime .row{
    overflow: hidden;
    line-height: 24px;
    font-size: 12px;    
}
    .dataTable tbody .colTime .row .lbl{
        float: left; 
        width: 85px;
    }
    .dataTable tbody .colTime .row .val{
        margin-left: 90px;
    }
.dataTable th.colTLeft{
    width: 98px;
}
.dataTable th.colPur{
    width: 98px;
}
    .dataTable tbody .colTLeft, 
    .dataTable tbody .colPur,
    .dataTable tbody .colReg,
    .dataTable tbody .colSub{
        text-align: center;
        font-size: 18px;
    }

#tableView{
    display: none !important;
}   
#gridView{
    display: block !important;
}
#gridView2{
    display: block !important;
    margin-top: -25px;
}
/* contest gird view */
.contestGrid{
    display: block;
    overflow: hidden;
    margin: 0;
}
    .contestGrid .contest{
        display: block;
        border: 1px solid #e7e7e7;
    
        width: auto;
        height: 268px;
        position: relative;
        margin: 28px auto 0;
        float: none;
}
    .contestGrid .cgCh{
        margin: 18px 0 14px;
    }
    .contestGrid .cgCh a{
        color: #666;
        position: relative;
        padding: 0 0 0 54px;    
        display: block;
        height: 36px;
        max-width: 1000px;
        margin-right: 10px;
        line-height: 18px;
        overflow: hidden; 
}
    .contestGrid .cgCh a:hover{
        color: #FF8A00;
    }
    .contestGrid .cgCh a i{
        position: absolute;
        top: 0;
        left: 7px;
        background: url(../i/ico-tracks.png) no-repeat;
        background-position: 0 -50px;
        background-color: #00add0;
        width: 40px;
        height: 36px;        
        -moz-transition-duration: .3s; -webkit-transition-duration: .3s; transition-duration: .3s;    
    }
    .contestGrid .trackSD .cgCh a i{
        background-position: 0 -50px;
        background-color: #00add0;
    }
    .contestGrid .trackUX .cgCh a i{
        background-position: 0 0px;
        background-color: #7ab800;
    }
    .contestGrid .trackAn .cgCh a i{
        background-position: 0 -100px;
        background-color: #ffae00;
    }
    .contestGrid .cgCh a:hover i{
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }
    .contestGrid .cgTime{
        padding: 0 10px 0 54px;
        font-size: 12px;
        line-height: 24px;
    }
        .contestGrid .cgTime .lbl{
            float: left;            
        }
        .contestGrid .cgTime .val{
            margin-left: 92px; 
        }
    .contestGrid .genInfo{
        background: #f7f7f7;
            
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 75px;
        border-top: 1px solid #e7e7e7;
        overflow: hidden;
    }
    .contestGrid .genInfo > p{
        float: left;
        width: 24.8%;
        text-align: center;
        font-size: 18px;
        color: #00add0;    
        padding-top: 8px;
}
    contestGrid .trackSD .genInfo > p{        
        color: #00add0;
    }
    .contestGrid .trackUX .genInfo > p{        
        color: #7ab800;
    }
    .contestGrid .trackAn .genInfo > p{        
        color: #ffae00;
    }
    .contestGrid .genInfo > p.imp{
        color: #f00;
    }
    .contestGrid .genInfo > p i{
        display: block;
        height: 30px;
        width: 30px;        
        margin: 0 auto;
        background-image: url(../i/ico-con.png);
        background-color: #00add0;
        background-repeat: no-repeat;    
        margin-bottom: 9px;
}
    .contestGrid .trackSD .genInfo > p i{        
        background-color: #00add0;
    }
    .contestGrid .trackUX .genInfo > p i{        
        background-color: #7ab800;
    }
    .contestGrid .trackAn .genInfo > p i{        
        background-color: #ffae00;
    }
    .contestGrid1 .contest .genInfo > p.imp i{        
        background-color: #f00;
    }
    .contestGrid .genInfo .cgTLeft i{
        background-position: 0 -150px;
    }
    .contestGrid .genInfo .cgPur i{
        background-position: 0 -100px;
    }
    .contestGrid .genInfo .cgReg i{
        background-position: 0 -50px;
    }
    .contestGrid .genInfo .cgSub i{
        background-position: 0 0;
    }
    
/* welcome Banner */
.welcomeBanner{
    margin-top: 0;
    height: auto;
    color: #fff;
    min-height: 85px;
    font-size: 14px;
    line-height: 16px;       

    text-align: center;
}
    .welcomeBanner p{
        margin-right: 0;
    
        text-align: center;
}
    .welcomeBanner .title{
        font-size: 18px;
        padding-top: 20px;
    
        line-height: 18px;
        margin-bottom: 18px;
}
    .welcomeBanner .btnJoin{
        position: relative;
        right: auto;
        top: auto;
        font-size: 18px;
        line-height: 46px;
        height: 42px;
        width: 151px;
    
        margin-bottom: 25px;
        margin-top: 20px;
}
    
/* splitLayout */
#mainContent.splitLayout{
    background: none;
    padding-top: 0;
    margin-top: 23px;
    position: relative;
}
    #mainContent.splitLayout .mainStream{
        width: auto;        
    
        display: block;
        float: none;
}
    #mainContent.splitLayout .sideStream{
        width: auto;
    
        display: block;
        float: none;
        margin-top: 22px;
}
    #mainContent.splitLayout .dataTable .colTime,
    #mainContent.splitLayout .dataTable .colPur{
        display: none;
    }

/* diagnostics */
.diagnostics{
    overflow: hidden;
    position: relative;
    width: auto;
    margin: 0 -10px;
    text-align: center;
}
    .diagnostics .shadow{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 17px;
        width: 100%;
        background: url(../i/shadow-small.png) 50% 0 no-repeat;
    
        margin: 0;
}
    .diagnostics > div{
        width: 60px;
        margin: 0 8px;
        float: none;
        font-size: 10px;
        text-align: center;
    
        background: url(../i/ico-flags.png) no-repeat;
        background-position: 0 0;
        line-height: 14px;
        position: relative;
        height: 127px;
        display: inline-block;
}
    .diagnostics .activeMembers{
        background-position: 0 0;
    }
    .diagnostics .competingToday{
        background-position: 0 -150px;
    }
    .diagnostics .availPrize{
        background-position: 0 -300px;
    }
    .diagnostics .activeChallenges{
        background-position: 0 -450px;
    }
    .diagnostics .val{
        font-size: 12px;    
        color: #fff;
        margin-top: 60px;
}
    .diagnostics .lbl{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
/* tops */
.tops{
    margin-top: 25px;
    
}
    .tops > nav{
        padding: 12px 0 10px;
    }
    .tops h1{
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 13px;
    }   
    .tops ul{
        overflow: hidden;
    
        display: inline-block;
        font-size: 16px;
        padding: 3px 0;
        width: 258px;
        margin: 0 auto;
        display: block;
}
    .tops ul > li{
        float: left;    
        border-left: 1px solid #D0D0D1;
        height: 16px;
        line-height: 18px;
}
    .tops ul li:first-child{
        border-left: 0;
    }
    .tops ul .link{
        margin: 0 10px;        
    }
    .tops ul .link.active,
    .tops ul .link.active:hover{
        color: #666;
        cursor: default;
    }
.tops .topsTable{
    font-size: 12px;
}
.tops .topsTable th{
    font-size: 12px;
    padding-top: 13px;
    height: 28px;
}
    .tops .topsTable td{
        text-align: center;
    
        height: 32px;
}
    .tops .views{
        text-align: right;
        font-size: 16px;
    
        margin-top: 19px;
}

/* starsOfMonth */
.somInner{    
    max-width: 300px;
    margin: 0 auto;
    width: auto;
}
.starsOfMonth{
    background: url(../i/shadow.png) 50% 0 no-repeat;
    border-top: 1px solid #dfe1e1;
    padding-top: 26px;
    background-size: 120% 20px;
}
    .starsOfMonth h2{
        color: #2e3b19;
        font-size: 24px;
        line-height: 24px;
    }
    .starsOfMonth h2 small{
        display: block;
        font-size: 14px;
    
        line-height: 18px;
}
    .starsOfMonth .starProfiles{
        overflow: hidden;
    
        margin: 0;
}
    .starsOfMonth .profile{;
        border: 1px solid #dfe1e1;
        max-width: 262px;
    
        margin: 15px 0 0;
        width: auto;
}
    .starsOfMonth .profile .details{
        overflow: hidden;
    }
    .starsOfMonth .profile h3{
        color: #01a8e9;    
        margin-bottom: 16px;
}   
    .starsOfMonth .profileUX h3{
            color: #01a8e9;  
    }
    .starsOfMonth .profileSD h3{
            color: #228400;  
    }
    .starsOfMonth .profileAn h3{
            color: #ff7400;  
    }
    .starsOfMonth .profile .memberPic{
        float: left;
    }
    .starsOfMonth .profile .details .row{
        margin: 5px 0 13px 150px;
    
}
    .starsOfMonth .profile  label{
        font-size: 12px;
    }
    .starsOfMonth .profile .wonPurse{
        line-height: 24px;
    }
    .starsOfMonth .profile .inPurse{
        font-size: 18px;
    }
    .starProfiles .grid-3-1{
        float: none;    
        margin-top: 15px;
        overflow: hidden;
        width: auto;
        display: block;
        margin: 0;
} 
    .starProfiles .gird-rt .profile{
       float: none;
}
    .starProfiles .gird-mid .profile{
       margin: 0;
}

/* whatsHappening */
#whatsHappening{
    background: #d2d2d2;
    padding: 12px 0 26px 0; 
}
#whatsHappening .inner{
    margin: 0;
}
#whatsHappening > .container{
    width: 302px;
    margin: 0 auto;
}
    #whatsHappening .slider{
        width: 301px;
    }
    #whatsHappening h2{
        font-size: 24px;
        margin-top: 18px;
        margin-bottom: 22px;
    }
    #whatsHappening .featuredImg{
        width: 100%;
        height: 180px;
    
        margin-bottom: 26px;
}
    #whatsHappening .slide{
        font-size: 12px;
    }
    #whatsHappening .slide .title{
        font-weight: bold;
        font-size: 14px;
    
        line-height: 24px;
        height: 50px;
        overflow: hidden;
}
    #whatsHappening .slide .postedBy{
        line-height: 30px;        
    }
    #whatsHappening .slide .excerpt{
        line-height: 18px;        
    }
    #whatsHappening .slide .excerpt .more{
        display: block;
    }
    #whatsHappening .grid-3-1 > section{
        width: auto;    
        padding-bottom: 30px;
        border-bottom: 1px solid #cacaca;
}
    #whatsHappening .grid-rt > section{
        float: none;
        border-bottom: none;
    
        padding-bottom: 0;
}
    #whatsHappening .grid-mid > section{        
        margin: 0 auto;
    }
    #whatsHappening .slider .bx-controls{
        text-align: center;
    
        margin-top: 16px;
}
    #whatsHappening .slider .bx-controls .bx-pager-item{
        display: inline;
        display: inline-block;
        text-align: left;
        overflow: hidden;
    }
        #whatsHappening .slider .bx-controls .bx-pager-item a{
            display: block;
            text-indent: -100px;
            background: url(../i/orange-dots.png) no-repeat;
            background-position: 0 0;
            width: 11px;
            height: 11px;
            margin: 0 5px;
            -moz-transition-duration: 0s; -webkit-transition-duration: 0s; transition-duration: 0s;
        }
    #whatsHappening .slider .bx-controls .bx-pager-item a.active,
    #whatsHappening .slider .bx-controls .bx-pager-item a:hover{
        background-position: 0 -20px;        
    }
    #whatsHappening .grid-3-1{
        float: none;
    
        display: block;
        width: auto;
    }
    
    /*Title*/

.pageTitleWrapper {
    margin-bottom: 36px;
}
.pageTitleWrapper .pageTitle h2{
	font-size: 24px;
	white-space: nowrap;
}
/*Overview Page*/
	.csRealResults .grid-3-1{
		width: auto;
	}
	.pageContent h3 {
		color: #0071BC;
		font-size: 18px;
		font-weight: normal;
		line-height: 24px;
		padding: 6px 0 18px 0;
	}
	.pageContent h3:first-child {
		line-height: 16px;
	}
	.pageContent ul {
		padding: 6px 0 2px 14px;
	}
	.pageContent ul .listTitle{
		display: block;	
	}
	.pageContent ul .listTitleDash{
		display: none;	
	}
	.pageContent ol {
		padding: 6px 10px 2px 33px;
	}
	.pageContent p.halfPb{
		padding-bottom: 12px;
	}
	.csRealResults{
		padding-top: 2px;
	}
	.sideFindRelatedContent h3 {
		padding: 0;
		text-align: center;
	}
	.sideFindRelatedContent .searchRelatedBox{
		position: relative;
		padding: 10px 0;
		border-left-width: 0;
		border-right-width: 0;
	}
	.sideFindRelatedContent .searchRelatedBox .text {
		width: 100%;
		height: 32px;
		-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;
		padding-right: 65px;
		border-right: 10px solid transparent;
		
	}
	.sideFindRelatedContent .searchRelatedBox .btn {
		position: absolute;
		right: 0;
		top: 10px;
	}
	.sideFindRelatedContent .relatedContentList {
		border-width: 0;
		padding: 15px 0;
	}
		.sideFindRelatedContent .relatedContentList li a.contentLink {
			line-height: 14px;
		}
.sideMostRecentChallenges{
	margin-bottom: 32px;	
}
	.sideMostRecentChallenges h3 {
		padding: 0 9px;
	}
	.sideMostRecentChallenges li {
		padding: 17px 0;
	}
	.sideMostRecentChallenges li.alt {
		padding: 14px 0;
	}
	
/*Case Page*/
.casesView.container{
	margin: 0;
}
.casesView .caseGrid {
    float: none;
    height: auto;
    width: auto;
	margin: 36px 0 0 0;
}
.casesView:first-child .caseGrid {
	margin: 0;
}
.casesView .caseGrid a.jsShowCaseDetails{
    margin: 0 auto;
	height: auto;
}
.casesView .caseGrid a.jsShowCaseDetails i{
	background-position: -27px 0;
	position: static;
	margin: 0 auto;
}

.casePage .caseGrid  .caseDetailItem{
	background: #02a4f0 url(../i/short-shadow.png) center 0 no-repeat;
	margin-bottom: 0;
}
.casePage .caseGrid .caseDetailItemInner{
	display: block!important;
	background-image: none;
}
.casePage .caseDetailsWrapper  .caseDetailItem {
	display: none!important;
}
.casesView .caseGrid a.jsShowCaseDetails > img{
	padding: 18px 0;
}
.casesView .caseGrid a.jsShowCaseDetails > img{
	padding: 0;	
}
.grid-4 .caseDetailsWrapper{
	display: none;	
}
#mainContent.casePage .dataChanges{
	margin-top: 17px;	
}
.casePage .jsCloseCaseDetails{
	top: 12px;
	right: 0;	
}
.casePage .caseBriefWrapper{
	padding-bottom: 25px;	
}
.casePage .caseBriefWrapper .caseTitle{
	padding: 41px 0 23px 0;	
}
.casePage .caseBriefWrapper .caseTitle h3{
	line-height: 30px;
	padding-bottom: 0;
}
.casePage .caseBriefWrapper .caseTitle p{
	line-height: 22px;
	padding-top: 0;
}
.casePage .caseBriefWrapper .caseQuote{
	width: auto;
	float: none;	
	padding: 0 0 11px 0;
	margin-bottom: 20px;
}
.casePage .caseBriefWrapper .quoteTxt{
	padding-bottom: 23px;
}
.casePage .caseBriefWrapper .caseBrief{
	width: auto;
	float: none;
	padding: 0 0 7px 0;
	border-right-width: 0;
	border-top: 1px solid #4ebff5;
}
.casePage .caseBriefWrapper .caseBrief h4{
	font-size: 18px;
	line-height: 22px;
	padding-top: 30px;
}
.casePage .caseBriefWrapper .caseBrief .moreBtnWrapper{
	text-align: center;
	padding-top: 18px;
}
/*Case Details Page*/
.casePage .container.grid-3{
	margin: 0;
}
.casePage .caseTitle{
	padding: 4px 0 12px 0;	
}
.casePage .caseTitle h3{
	font-size: 25px;
	line-height: 26px;
	position: relative;
	top: -4px;
	padding: 0;
}
.casePage .caseTitle p{
	font-size: 16px;
	line-height: 20px;
	padding-top: 2px;
	width: 200px;
	margin: 0 auto;
}
.casePage .caseBanner{
	margin-bottom: 11px;	
}
.casePage .caseBanner img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.casePage .caseBanner img.dCaseBanner{
	display: none;
}
.casePage .caseBanner img.mCaseBanner{
	display: block;
}
.caseQuote {
    padding: 0 15px 11px 15px;
	margin-bottom: 23px;
}
.caseQuote .quoteTxt{
	padding-bottom: 23px;	
}
.caseQuote .quoterName,
.caseQuote .quoterTitle{
	padding-left: 47px;
}
.casePage .caseDetails article h4 {
    font-size: 18px;
    line-height: 22px;
	padding-top: 30px;
}
.caseVideo .placeholderImg {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.caseDetailsWrapper .grid-3-3 .grid-1-3 {
    float: none;
    width: 100%;
}
.caseDetailsWrapper .grid-3-3 .grid-2-3 {
    float: none;
    width: 100%;
	margin: 0 10px;
}
/*Press Page*/
.pressTitleWrapper{
	padding: 0 0 29px 0;
	margin-bottom: 22px;
}
.pressTitleWrapper .pressDate {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 12px 0;
}
.pressTitleWrapper .pressTitle {
    font-size: 20px;
    line-height: 24px;
}
.grid-3-3 .grid-1-3.pressAside {
    float: none;
    width: 100%;
	font-size: 14px;
	line-height: 24px;
	padding: 2px 0 24px 0;
}
.grid-3-3 .grid-2-3.pressArticle  {
    float: none;
    width: 100%;
    padding: 0;
}
.aboutAreaWrapper{
	padding: 35px 0 19px 0;
	background-image: none;
}
.aboutAreaWrapper .grid-2 .grid-1-2 {
    float: none;
    width: 100%;
	margin: 0 0 30px 0;
}

/*Resource Page*/
.resourceList{
	padding-top: 5px;	
}
.resourceList li{
	padding: 0;
	margin: 30px auto 0 auto;
	max-width: 450px;
}
.resourceList li:first-child{
	padding: 0;
	margin: 0 auto;
}
.resourceList li .resourceThumb{
	position: static;
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-bottom: 12px;
}
.resourceList li a.contentLink {
    padding: 0 0 6px 0;
}
.showMoreResourceWrapper{
	margin-top: 3px;
	display: block;
	text-align: center;
	border-top: 1px solid #e7e7e7;
	padding: 9px 0 28px 0;
}
.showMoreResourceWrapper .btn{
	width: 100px;
}
/*Story Page*/
.storiesList li.grid-3-1{
	float: none;
	width: 100%;
	margin: 33px auto 0 auto;
	max-width: 450px;
	display: block;
}
.storiesList li.grid-3-1:first-child{
	margin: 0 auto;
}
.storiesList li.grid-3-1 .storySpoker{
	line-height: 22px;
	font-size: 16px;
}
.storiesList li.grid-3-1 .storyThumb{
	width: 100%;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}
.storiesList li.grid-3-1 .storyReadingWrapper{
	text-align: right;
	min-width: 135px;
}


.pageTitleWrapper .pageTitleWithBackLink h2{
	padding: 0 0 36px 70px;
	line-height: 50px;
}
.pageTitleWrapper .pageTitle .backLink {
    float: none;
	position: absolute;
	margin: 0;
	top: 40px;
	left: 71px;
}
.storyPage .grid-3-3 .grid-2-3,
.storyPage .grid-3-3 .grid-1-3{
	float: none;
	width: 100%;	
}

.storyDetailsWrapper .storyTitle{
	padding: 0 0 32px 0;	
}
.storyDetailsWrapper .storyTitle .author{
	font-size: 16px;
	line-height: 16px;
}
.storyDetailsWrapper .storyTitle .publishDate{
	padding-bottom: 4px;
}
.storyDetailsWrapper .storyTitle h3{
	font-size: 20px;
}
.storyDetails article .sideImage{
	float: none;
	padding: 23px 0 26px 0;
	width: 100%;
}
.storyDetails article .sideImage img{
	width: 100%;
	max-width: 100%;
	height: auto;	
}
.storyDetails article .sideImage p {
    padding: 10px 0 14px 0;
}
.storyDetails article .storyPic{
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0 0 20px 0;
}
.sideSearchStories{
	margin-top: 23px;
	margin-bottom: 21px;
}
.sideSearchStories h3{
	text-align: center;	
}
.sideSearchStories .searchStoriesBox{
	border-width: 0;
	padding: 10px 0;
	position: relative;
}
.sideSearchStories .searchStoriesBox .text {
	width: 100%;
	height: 32px;
	-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;
	padding-right: 65px;
	border-right: 10px solid transparent;
	
}
.sideSearchStories .searchStoriesBox .btn {
	position: absolute;
	right: 0;
	top: 10px;
}
.sideArchiveStories h3{
	padding: 0 10px;
}
.sideArchiveStories li {
    padding: 16px 8px 15px 8px;
}
.sideArchiveStories li.alt {
	padding: 13px 8px 14px 8px;
}
.sideArchiveStories .showMoreWrapper{
	padding: 20px 0 5px 0;
}

}
